<simple-notifications></simple-notifications>
<div class="content">
    <section class="content_">
        <form name="form2" (ngSubmit)="fReception.form.valid && saveData()" #fReception="ngForm" novalidate>
            <div class="form-group routines">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Rotinas básicas</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 routine">
                        <div class="row img">
                            Desligar os aparelhos
                        </div>
                        <div class="row img">
                            <img src="./assets/img/chapter/ic_reception_turnoff_eletronics.png">
                            <input type="checkbox" id="turnoff_eletronics" name="turn_off_tv" [(ngModel)]="reception.turnoff_eletronics" value='{{reception.turnoff_eletronics}}' />
                        </div>
                    </div>
                    <div class="col-sm-3 routine">
                        <div class="row img">
                            Apagar o fogão
                        </div>
                        <div class="row img">
                            <img src="./assets/img/chapter/ic_reception_turnoff_stove.png">
                            <input type="checkbox" id="turnoff_stove" name="turnoff_stove" [(ngModel)]="reception.turnoff_stove" value="{{reception.turnoff_stove}}">
                        </div>
                    </div>
                    <div class="col-sm-3 routine">
                        <div class="row img">
                            Acalmar a Família
                        </div>
                        <div class="row img">
                            <img src="./assets/img/chapter/ic_reception_sit_down.png">
                            <input type="checkbox" id="sit_down" name="sit_down" [(ngModel)]="reception.sit_down" value="{{reception.sit_down}}">
                        </div>
                    </div>
                    <div class="col-sm-3 routines">
                        <div class="row img">
                            Retomar visita anterior
                        </div>
                        <div class="row img">
                            <img src="./assets/img/chapter/ic_reception_goback_lastvisit.png">
                            <input type="checkbox" id="goback_lastvisit" name="goback_lastvisit" [(ngModel)]="reception.goback_lastvisit" value="{{reception.goback_lastvisit}}">
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group" [ngClass]="applyCssError(fReception, description, 0)">
                                <label class="control-label">Descrição do Acolhimento</label>
                                <quill-editor (change)="onKey($event, 0)" style="height: 150px;" [options]="editorOptions" id="reception_description" name="reception_description" #description="ngModel" [(ngModel)]="reception.description" required>
                                </quill-editor>
                                <app-control-field-error [showError]="verifyValidSubmitted(fReception, description)" [field]="fieldEditor[0]" msgError="Digite a descrição">
                                </app-control-field-error>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row footer">
                <div class="col-md-2">
                    <div class="form-group">
                        <button class="btn btn-default btn-block" (click)="onCancel()" id="btn_return"> Cancelar</button>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-8">
                    <div class="form-group save" *ngIf="canCreate || canUpdate">
                        <button class="btn btn-primary btn-block" name="submit" id="btn_save">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>