<simple-notifications></simple-notifications>

<div class="content">
    <section class="content">
        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
            <div class="row">
                <div class="col-sm-5">
                    <div class="row">
                        Rotinas básicas
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Turn off devices -->
                <div class="col">
                    <div class="row">
                        <div class="col-sm-6">
                            Desligar os aparelhos
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            Televisão
                        </div>
                        <div class="col-sm-1">
                            <input type="checkbox" name="turn_off_tv">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            Rádio
                        </div>
                        <div class="col-sm-1">
                            <input type="checkbox" name="turn_off_radio">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            Celular
                        </div>
                        <div class="col-sm-1">
                            <input type="checkbox" name="turn_off_phone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            Outros
                        </div>
                        <div class="col-sm-1">
                            <input type="text" name="turn_off_phone" placeholder="Outros">
                        </div>
                    </div>
                </div>
                <!--/ Turn off devices -->
                <!-- Turn off -->
                <div class="col">
                    <div class="row">
                        <div class="col-sm-6">
                            Desligar
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            Fogão elétrico
                        </div>
                        <div class="col-sm-1">
                            <input type="checkbox" name="turn_off_tv">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            Fogão a lenha
                        </div>
                        <div class="col-sm-1">
                            <input type="checkbox" name="turn_off_radio">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            Outros
                        </div>
                        <div class="col-sm-1">
                            <input type="text" name="turn_off_phone" placeholder="Outros">
                        </div>
                    </div>
                </div>
                <!--/ Turn off -->

                <!-- Turn off -->
                <div class="col">
                    <div class="row">
                        <div class="col-sm-6">
                            Retirar panelas
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            Fogão elétrico
                        </div>
                        <div class="col-sm-1">
                            <input type="checkbox" name="turn_off_tv">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            Fogão a lenha
                        </div>
                        <div class="col-sm-1">
                            <input type="checkbox" name="turn_off_radio">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            Outros
                        </div>
                        <div class="col-sm-1">
                            <input type="text" name="turn_off_phone" placeholder="Outros">
                        </div>
                    </div>
                </div>
                <!--/ Turn off -->
            </div>

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-sm-6">
                            Retomar visita anterior <input type="checkbox" name="turn_off_tv" />
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-sm-4">
                            Acalmar familia <input type="checkbox" name="turn_off_tv">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-sm-6">
                            Explicar sobre a visita <input type="checkbox" name="turn_off_tv">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label">Descrição</label>
                                <ck-editor id="reception_description" name="reception_description" #description="ngModel" [(ngModel)]="reception.description" skin="moono-lisa" [fullPage]="false"></ck-editor>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-sm-6 cancel">
                    <div class="form-group">
                        <button class="btn btn-default btn-md" [routerLink]="['/template-chapter-option']" id="btn_return"> Cancelar</button>
                    </div>
                </div>
                <div class="col-sm-6 save">
                    <div class="form-group">
                        <button class="btn btn-primary btn-md" name="submit" id="btn_save">Salvar</button>
                    </div>
                </div>
            </div> -->
        </form>
    </section>
</div>