/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .content {
    min-height: 180px;
  }

  .btn {
    background-color:#373d40;
    border-color:   #373d40;
    max-width: 110px;
  }