<div class="container-fluid">
    <section class="content">
      <div class="row">
        <div class="col">
          <div class="box">
            <div class="box-header ">
              <h3 class="box-title">Lista de Perfis</h3>
            </div>          
          </div>
        </div>
            <div class="box-body">
              <form role="form" name="form" class="form-horizontal" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
                
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                  <label class="control-label col-sm-1" > Tipo: </label>   
                  <div class="col-sm-9">          
                  <input type="text" class="form-control" id="name" name="name"
                    placeholder="Descrição do perfil de usuário" 
                    [(ngModel)]="profile.name"
                    #name="ngModel" required>
                  <div *ngIf="f.submitted && !name.valid" class="help-block">Escrever um novo tipo de perfil</div>
                  </div>
                  
                    <div class="control-button col-sm-2">                 
                      <button class="btn btn-primary btn-block" >Salvar</button>   
                    </div>
                  
                </div> 
              </form>                      
            </div>
          
       
      </div>
    </section>
<app-profile-list [newProfile]="profile"></app-profile-list>
</div>
