<div class="content">
<div class="content">
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Perfil
                  <small>Cadastrar</small>
              </h3>
            </div>
            <div class="box-body">
              <form role="form" #f="ngForm" (ngSubmit)="save(f)">
                
                <div class="form-group">
                  <label>Descrição:</label>                  
                  <input type="text" class="form-control form-border" id="name" name="name"
                    placeholder="Descrição do perfil" 
                    [(ngModel)]="profile.name"
                    #name="ngModel" required>
                </div>                
                <div class="box-footer">                 
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
              </form>              
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<app-profile-list></app-profile-list>
</div>
