<simple-notifications></simple-notifications>

<div class="content">
    <section class="content">
      <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
          <div class="box-header with-border">
            <h3 class="box-title"> Tarefa para a família
              <small> Capítulo </small>
            </h3>
          </div>
          <div class="row">              
              <div class="col-sm-12">
                  <div class="box box-primary">
                    <div class="box-body">
                      <div class="form-group">
                        <label class="control-label">Descrição</label>                       
                          <div class="box-body pad">
                            <form>
                              <textarea class="textarea" placeholder="Digite uma Descrição">                                
                              </textarea>
                            </form>
                          </div>
                     </div>
                     <div class="form-group">
                        <button class="btn btn-primary btn-md" name="submit" id="btn_save">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            Adicionar Tarefa                            
                        </button>
                     </div>
                  </div>
                </div>
              </div>                           
          </div>
     
          <div class="row">
              <div class="col-sm-12">
                  <app-task-list></app-task-list>
              </div>
          </div>          

          <div class="row">
            <div class="col-sm-6 cancel">
              <div class="form-group">
                <button class="btn btn-default btn-md" [routerLink]="['/template-chapter-option']" id="btn_return"> Cancelar</button>
              </div>
            </div>
            <div class="col-sm-6 save">
              <div class="form-group">               
                <button class="btn btn-primary btn-md" name="submit" id="btn_save">Salvar</button>
               </div>
            </div>
          </div>
        </form>
        </section>
      </div>

