/* .loader-hidden {
    visibility: hidden;
}
.loader-overlay {
    position: absolute;
    width:100%;
    top:0;
    left: 0;
    opacity: 1;
    z-index: 500000;
}
.progress{
    height: 6px!important;
} */

.tootlbar-icon {
    padding: 0 14px;
  }
  
  .tootlbar-spacer {
    flex: 1 1 auto;
  }
  
  /* Absolute Center Spinner */
  .loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw {
    font-size: 60px;
    color: #444;
}