<div class="content">
    <div class="row">
        <h4 class="title_component"> NOVO FORMULÁRIO</h4>
    </div>
    <!-- Template 1 -->
    <div class="row">
        <div class="card">
            <mat-card>
                <mat-card-title>Modelo: {{template}}</mat-card-title>
            </mat-card>
            <label class="form-check-inline">
                <input class="form-check-input" type="radio" name="mode" [value]="1" [(ngModel)]="template">
            </label>
        </div>
        <!-- Template 2 -->
        <div class="card">
            <mat-card>
                <mat-card-title>Modelo: {{template}}</mat-card-title>
            </mat-card>
            <label class="form-check-inline">
                <input class="form-check-input" type="radio" name="mode" [value]="2" [(ngModel)]="template">
            </label>
        </div>
        <!-- Template 3 -->
        <div class="card">
            <mat-card>
                <mat-card-title>Modelo: {{template}}</mat-card-title>
            </mat-card>
            <label class="form-check-inline">
                <input class="form-check-input" type="radio" name="mode" [value]="3" [(ngModel)]="template">
            </label>
        </div>
        <!-- Template 4 -->
        <div class="card">
            <mat-card>
                <mat-card-title>Modelo: {{template}}</mat-card-title>
            </mat-card>
            <label class="form-check-inline">
                <input class="form-check-input" type="radio" name="mode" [value]="4" [(ngModel)]="template">
            </label>
        </div>
    </div>

    <div class="content" style="border: 1px solid red">
        <div class="col-md-1 col-md-offset-1">
            <button class="btn btn-default btn-md btn-block" [routerLink]="[ '/templateForms']"> Voltar</button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary btn-md btn-block" [routerLink]="[ '/']">Próximo</button>
        </div>
    </div>