<router-outlet></router-outlet>
<simple-notifications></simple-notifications>
<app-modal></app-modal>
<!-- AGENT LIST -->
<div class="content_" *ngIf="!isAgent">
  <div class="content-top">
    <div class="content_fa"> <img class="icon" src="./assets/img/global/ic_usuarios.png">Agente > Histórico de visitas</div>
    
  </div>
  <section class="content">
    <div class="box"> 
      <div class="box-header_ ">
        <h5 class="box-title">HISTÓRICO DE VISITAS</h5>
      </div>    
      <!-- when there's not record -->
      <div *ngIf="!hasdata">
        <section class="content">
            <!-- <div class="feedback-icon fa fa-users"></div><br><br> -->
            <!-- <span class="feedback-message">Não há dados cadastrados</span> -->
        </section>
      </div>

      <div *ngIf="hasdata">             
          <div class="row">
              <div class="col-sm-12">
                <div id="_filter" class="dataTables_filter">
                  <label>
                  <input type="text" class="form-control form-border"  [(ngModel)]="filter.name" #f="ngModel" 
                    mask="SSSSSSSSSSSSSSSSSSSS" maxlength="20" name="filter" id="filter" (keyup)="getAgents()" placeholder="Nome do agente">
                  </label>               
                </div>
              </div>
          </div>
          <div class="box-body">
            <table id="example2" class="table">
              <thead>
                <tr>
                  <th class="tbl-left">AGENTE
                    <span class="glyphicon" ></span>
                  </th>
                  <th class="tbl-left">COMUNIDADE
                    <span class="glyphicon" ></span>
                  </th>               
                  <th class="tbl-center"> AÇÃO</th>
                </tr>
              </thead>

              <div class="feedback" *ngIf="agents.length === 0">
                  <i class="material-icons" style="font-size: 24px;">error_outline</i>
                <span class="feedback-message">Nenhum registro encontrado</span>
              </div> 

              <tbody *ngIf="agents.length !== 0">
                <tr *ngFor="let item of agents">
                  <td class="tbl-left">  
                      {{ item.name }}
                  </td>
                  <td class="tbl-left">  
                    
                  </td>                        
                  <td class="tbl-center">              
                    <a (click)="setAgent(item)" id="btn_visit" [routerLink]="['/family-list']" title="Ver famílias"
                      *ngIf="item.name  !== 'Administrator'">
                        <i class="fa fa-users"></i>
                    </a>
                  </td>       
                </tr>
              </tbody>
            </table>
          </div>
          <div class="box-footer">
            <app-paginate [paginate]="paginate" (eventPage)="setPage($event)"></app-paginate>
          </div>
      </div>
      <!-- <div class="row" *ngIf="canCreate">
          <div class="btn-col">
            <button class="btn btn-primary" [routerLink]="['/agent']" id="btn_new"> Novo </button>
          </div>
      </div> -->
    </div>
  </section>
</div>

<!-- FAMILY LIST -->
<app-family-list [isAgent]="isAgent" *ngIf="isAgent"></app-family-list>
