.jumbotron{
    background: white;   
    width: 360px;
    margin: 7% auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.container {
    background: #e0e3e9;  
    width: 100%;
}

.form-group, .form-control{
    color: grey;
}

.btn-primary {
    /* width: 100px; */
    background-color:#373d40;
    border-color: #373d40;
}

.box.box-primary {
    border-top-color: #373d40;
}

.img-logo{
    height: 130px;
    margin-left: 25%;
    padding-bottom: 20px;
}

p{
    color: #544f4f;
    font-size: 14px;
    text-align: center;
}
label{
    color: #544f4f;
    font-size: 14px;
    font-weight: normal;
}

.help-block {
    font-size: 12px;
    color: rgb(129, 21, 21);
}

.form-control[readonly] {
    background-color: #f5f5f5;
    border: 0;
}