.login-page {
    background: #373d40;
}

body .login-box{
    background: white;  
    width: 360px;
    margin: 7% auto;
}

.form-group, .form-control{
    color: grey;
}

.btn-primary{
    height: 50px;
    background-color:#373d40;
    border-color:   #373d40;
}

.btn-primary:active:hover {
    background-color: #1c2123;
    border-color: #1c2123;
}

p{
    color: grey;
    font-size: 14px;
    text-align: center;
}
label{
    color: grey;
    font-size: 14px;
    font-weight: normal;
}

.help-block {
    font-size: 12px;
    color: rgb(129, 21, 21);
}

.login-logo {
    margin-bottom: 0;
    background: white;
}

.login-logo img {
    height: 130px;
}
