<div class="content">
  <form>
    <div class="d-flex justify-content-md-center">
      <div class="jumbotron">
          <div class="row">
              <div class="col">
                  <div class="d-flex justify-content-center">
                    <img class ="img-logo" src="/assets/pir.png">
                  </div>
              </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">            
                <label for=userType>Tipo de Usuário</label>
                <select class="form-control">
                  <option>Administrador1</option>
                  <option>Administrador2</option>
                </select>
              </div>
            </div>    
          </div>  
          
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="user">Usuário</label>
                <input type="text" class="form-control" placeholder="Nome de usuário">          
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col">
                  <div class="form-group">
                      <label for="psw">Senha</label>
                      <input type="password" class="form-control" placeholder="Senha">
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  <div class="d-flex justify-content-center">
                      <p>Esqueci minha <a href="#">senha</a></p>
                  </div>                    
              </div>
          </div>
              
          <div class="row">
              <div class="col">
                  <div class="form-group">
                      <div class="d-flex justify-content-center">
                        <button class="btn btn-primary btn-block">ENTRAR</button>
                      </div>  
                  </div>                    
              </div>
          </div>
          
      </div>
    </div>
  </form>
</div>
