<simple-notifications></simple-notifications>
<div class="login-box" [ngStyle]="object">
    <div class="login-logo">
      <img src="/assets/pir.png">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
  
      <form name="form" (ngSubmit)="f.form.valid && sendData()" #f="ngForm" novalidate>

        <div class="form-group has-feedback" [ngClass]="applyCssError(f, login)">
          <div class="input-group margin-bottom-sm">
              <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
              <input name="login" #login="ngModel" [(ngModel)]="user.login"  class="form-control" placeholder="Usuário" required>
          </div>
          <app-control-field-error [showError]="verifyValidSubmitted(f, login)" msgError="Digite um usuário">
          </app-control-field-error>
        </div>
        
        <div class="form-group has-feedback" [ngClass]="applyCssError(f, password)">
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
              <input name="password" #password="ngModel" [(ngModel)]="user.password"  type="password" class="form-control" placeholder="Senha" required>
          </div>
          <app-control-field-error [showError]="verifyValidSubmitted(f, password)" msgError=" Digite uma senha">
          </app-control-field-error>
        </div>

        <div class="row">
          <div class="col-xs-8 remember">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox" (change)="remember($event)" [checked]="checked"> Lembrar
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-md btn-block">ENTRAR</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      
      <a class="pointer" (click)="resetPassword()">Esqueci a senha</a><br>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->