.content-wrapper {
    background-color: #fff; 
    /* min-height: 613px!important; */
    min-height: 960px!important;
}

/* @media (min-height: 950px) {
    .content-wrapper {
        min-height: 960px!important;
    }
} */