<simple-notifications></simple-notifications>

<div class="content">
    <section class="content">
        <form name="form" (ngSubmit)="f.form.valid && saveData()" #f="ngForm" novalidate>
            <!-- <div class="row">
                <div class="col-md-6">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Informaçoes básicas
                        </h3>
                    </div>
                </div>
                <div class="form-group" [ngClass]="applyCssError(f, number)">
                    <label class="control-label col-md-2">Capítulo N°: </label>
                    <div class="col-md-4">
                        <input type="text" id="chapter_number" value="{{chapter.number}}" name="chapter_number" #number="ngModel" class="form-control" [(ngModel)]="chapter.number" placeholder="N°" required>
                    </div>
                    <app-control-field-error [showError]="verifyValidSubmitted(f, number)" msgError="Digite um N°">
                    </app-control-field-error>
                </div>
            </div> -->

            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group" [ngClass]="applyCssError(f, title)">
                                <label class="control-label">Título</label>
                                <input type="text" id="chapter_title" name="chapter_title" #title="ngModel" [(ngModel)]="chapter.title" class="form-control" placeholder="Inserir Título..." required>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, title)" msgError="Digite um título">
                                </app-control-field-error>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Subtítulo</label>
                                <input type="text" id="chapter_subtitle" name="chapter_subtitle" class="form-control" placeholder="Inserir Subtítulo..." required>

                            </div>

                            <div class="form-group" [ngClass]="applyCssError(f, description)">
                                <label class="control-label">Descrição</label>
                                <ck-editor id="chapter_description" name="editor" #description="ngModel" [(ngModel)]="chapter.description" skin="moono-lisa" [fullPage]="false"></ck-editor>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, description)" msgError="Digite uma descrição">
                                </app-control-field-error>
                            </div>

                            <div class="form-group" [ngClass]="applyCssError(f, content)">
                                <label class="control-label">Conteúdo</label>
                                <ck-editor id="chapter_content" name="editor" #content="ngModel" [(ngModel)]="chapter.content" skin="moono-lisa" [fullPage]="false"></ck-editor>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, content)" msgError="Digite um conteúdo">
                                </app-control-field-error>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label">Recursos da Visita</label>
                                <input type="text" id="chapter_resource" name="chapter_resource" class="form-control" placeholder="Inserir Recursos da Visita..." required>

                            </div>

                            <div class="form-group" [ngClass]="applyCssError(f, time)">
                                <label class="control-label">Estimativa de Tempo</label>
                                <input type="text" id="chapter_estimated_time" name="chapter_estimated_time" #time="ngModel" [(ngModel)]="estimated_time" class="form-control" placeholder="Inserir Estimativa de Tempo..." required>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, time)" msgError="Digite uma Estimativa de Tempo">
                                </app-control-field-error>
                            </div>

                            <div class="form-group" [ngClass]="applyCssError(f, goal)">
                                <label class="control-label">Objetivo</label>
                                <ck-editor id="chapter_goal" name="editor" #goal="ngModel" [(ngModel)]="chapter.goal" skin="moono-lisa" [fullPage]="false"></ck-editor>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, goal)" msgError="Digite um objetivo">
                                </app-control-field-error>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Tarefa para a familia</label>
                                <ck-editor id="chapter_task" name="editor" #conclusion="ngModel" [(ngModel)]="chapter.task" skin="moono-lisa" [fullPage]="false"></ck-editor>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, task)" msgError="Digite a conclusão">
                                </app-control-field-error>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer">
                <div class="col-md-3 cancel">
                    <div class="form-group">
                        <button class="btn btn-default btn-md" [routerLink]="['/template-chapter']" id="btn_return"> Cancelar</button>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-6 save">
                    <div class="form-group">
                        <button class="btn btn-primary btn-md" name="submit" id="btn_save">Próximo</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>