<mat-card class="card">
    <mat-card-subtitle>{{title}}</mat-card-subtitle>
    <mat-card-title>{{describe}}</mat-card-title>
    <img width="100" height="100" src={{imgSource}}/>
    <mat-card-content>
        <p>{{subdescribe}}</p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button>
      <i class="fa fa-pencil-square-o" aria-hidden="true" (click)='updateChapter()'> Alterar</i>
    </button>
        <button mat-button>
        <i class="fa fa-trash" aria-hidden="true" (click)='chapterTemplate()'> Excluir</i>    
    </button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>