<!-- <th scope="row">1</th>
<td >
    <input type="checkbox" [attr.name]="options" 
        [value]="1" 
        [checked]="permission.page_id === item.id && permission.create" 
        (change)="updatePermission(item, 1, $event)"> 
</td>   
<td class="tbl-right"> 
    <input type="checkbox" [attr.name]="options" 
        [value]="2" 
        [checked]="permission.page_id === item.id && permission.update" 
        (change)="updatePermission(item, 2, $event)">  
</td>      
<td class="tbl-right"> 
    <input type="checkbox" [attr.name]="options" 
        [value]="3" 
        [checked]="permission.page_id === item.id && permission.read" 
        (change)="updatePermission(item, 3, $event)"> 
</td>   
<td class="tbl-right">
    <input type="checkbox" [attr.name]="options" 
        [value]="4" 
        [checked]="permission.page_id === item.id && permission.delete" 
        (change)="updatePermission(item, 4, $event)">   
</td>  -->