 /* .modal-header, h4{
    background-color: hsl(202, 52%, 49%);
    color:white !important;   
} */

.modal-header{
    padding:15px 20px;
    border-top: 5px solid #b5aeae;
    text-align: left;
} 

/* .modal-title {
    font-size: 15px;
} */

.modal-body {
    padding:5px 40px!important;
    text-align: left;
    font-size: 14px;
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
}

small {
    color: #dcd9d9!important;
}

.form-control {
    border: 0px;
    height: 91%;
    margin: 0px;    
}

.btn {
    width: 98px;
    background-color:#373d40;
    border-color:   #373d40;
    max-width: 110px;
  }

  .checkbox {
    padding: 6px 0;
  }

  .modal-footer {
      border-top: 1px solid #d2d6de;
  }