<div class="content">
  <section class="content">
    <div class="row">
      <div class="box box-primary">
          <div class="box-header with-border" >
            <h3 class="box-title" >Permissões de Acesso :: </h3>
          <small >{{ nameProfile }} </small>
          </div>
          <div class="box-body">
            

              <div class="col-xs-6">         
                <div class="panel panel-primary" >  
                  <div class="panel-heading">
                  <h3 class="panel-title">Páginas Permitidas</h3>
                  </div>
                  <div class="panel-body" *ngFor="let item of rulesProfile">
                    <div class="list-group" >  
                        <a class="list-group-item"> {{ item | json }}</a>              
                    </div>  
                  </div>
                </div>     
              </div>
              <div class="col-xs-6" >   
                <div class="panel panel-primary" >  
                  <div class="panel-heading">
                      <h3 class="panel-title">Páginas sem permissão</h3>
                  </div>
                  <div class="panel-body" >
                   <app-rule *ngFor="let item of pagedItems" [selectedPage]="item" [pk]='item.id'>
                    <div class="list-group" >  
                      
                    </div>  
                  </app-rule>    
                  </div>
                </div>              
              </div>            
          </div>    
          <div class="box-footer">
            <button class="btn btn-primary" (click)="saveRules()"> Salvar</button>
          </div>
        </div>
      </div>
    </section>
  </div>
  