<div class="nav-tabs-custom" *ngIf="datasource">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a class="btn btn-default" href="#tab_a" data-toggle="pill">Todas</a></li>
    <li><a class="btn btn-default" href="#tab_i" data-toggle="pill">Imagens</a></li>
    <li><a class="btn btn-default" href="#tab_v" data-toggle="pill">Vídeos</a></li>
    <li ><a class="btn btn-default" href="#tab_f" data-toggle="tab">PDF</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="tab_a">
      <!-- Gallery Grid -->
      <div class="row">
        <div class=" col column" *ngFor="let item of datasource; let i = index">
          <div class="content" *ngIf="item.content === 'image/jpeg' || item.content === 'image/png'">
            <img src="{{ item.path }}" class="_item"
              (click)=setSelectedItem(item)
              data-toggle="modal" data-target="#selectedItemModal">
              <a class="delete-item" (click)="removeMultimedia(item)"><i class="fa fa-trash"></i></a>
              <p class="limit-text">{{ item.name }} </p>
          </div>
        </div>      

        <div class=" col column" *ngFor="let item of datasource; let i = index">
          <div class="content" *ngIf="item.content === 'video/mp4'">
            <div class="_item v">
              <video id="myVideo" width="191" height="146" 
                data-toggle="modal" data-target="#selectedItemModal"
                (click)=setSelectedItem(item) >
                  <source src="{{ item.path }}" type="video/mp4" /> Browser not sxupported
              </video>
              <a class="delete-item" (click)="removeMultimedia(item)"><i class="fa fa-trash"></i></a>
            </div>
            <p class="limit-text">{{ item.name }} </p>
          </div>
        </div>      

        <div class=" col column" *ngFor="let item of datasource">
          <div class="content" *ngIf="item.content === 'application/pdf'">
            <div class="_item">                
              
                <i class="fa fa-file-pdf-o" (click)=downloadFile(item) aria-hidden="true"></i>
              
            </div>    
            <a class="delete-item" (click)="removeMultimedia(item)"><i class="fa fa-trash"></i></a>
            <p class="limit-text">{{ item.name }} </p>
          </div>
        </div>  
      <!-- END GRID -->
      </div>

      <!-- Gallery Grid -->
      <!-- <div class="row">
        <div class=" col column" *ngFor="let item of datasource; let i = index">
          <div class="content" *ngIf="item.content === 'video/mp4'">
            <div class="_item v">
              <video controls id="myVideo" width="191" height="146" 
                data-toggle="modal" data-target="#selectedItemModal"
                (click)=setSelectedItem(item) >
                  <source src="{{ item.path }}" type="video/mp4" /> Browser not sxupported
              </video>
              <a class="delete-item" (click)="removeMultimedia(item)"><i class="fa fa-trash"></i></a>
            </div>
            <p class="limit-text">{{ item.name }} </p>
          </div>
        </div>       -->
      <!-- END GRID -->
      <!-- </div> -->
      <!-- Gallery Grid -->
      <!-- <div class="row">
        <div class=" col column" *ngFor="let item of datasource">
          <div class="content" *ngIf="item.content === 'application/pdf'">
            <div class="_item">                
              <a  href="{{ item.path }}">
                <i class="fa fa-file-pdf-o" (click)=setSelectedItem(item) aria-hidden="true"></i>
              </a>   
            </div>    
            <a class="delete-item" (click)="removeMultimedia(item)"><i class="fa fa-trash"></i></a>
            <p class="limit-text">{{ item.name }} </p>
          </div>
        </div>       -->
      <!-- END GRID -->
      <!-- </div> -->

    </div>
    <div class="tab-pane fade" id="tab_i">
      <!-- Gallery Grid -->
      <div class="row">
        <div class=" col column" *ngFor="let item of datasource; let i = index">
          <div class="content" *ngIf="item.content === 'image/jpeg' || item.content === 'image/png'">
            <img src="{{ item.path }}" class="_item"
              (click)=setSelectedItem(item)
              data-toggle="modal" data-target="#selectedItemModal">
              <a class="delete-item" (click)="removeMultimedia(item)"><i class="fa fa-trash"></i></a>
              <p class="limit-text">{{ item.name }} </p>
          </div>
        </div>      
      <!-- END GRID -->
      </div>
    </div>
    <div class="tab-pane fade" id="tab_v">
      <!-- Gallery Grid -->
      <div class="row">
        <div class=" col column" *ngFor="let item of datasource; let i = index">
          <div class="content" *ngIf="item.content === 'video/mp4'">
            <div class="_item v">
              <video id="myVideo" width="191" height="146" controlsList="nodownload"
                data-toggle="modal" data-target="#selectedItemModal"
                (click)=setSelectedItem(item) >
                  <source src="{{ item.path }}" type="video/mp4" /> Browser not sxupported
              </video>
              <a class="delete-item" (click)="removeMultimedia(item)"><i class="fa fa-trash"></i></a>
            </div>
            <p class="limit-text">{{ item.name }} </p>
          </div>
        </div>      
      <!-- END GRID -->
      </div>
    </div>
    <div class="tab-pane fade" id="tab_f">
      <!-- Gallery Grid -->
      <div class="row">
        <div class=" col column" *ngFor="let item of datasource; let i = index">
          <div class="content" *ngIf="item.content === 'application/pdf'">
            <div class="_item">
              <i class="fa fa-file-pdf-o" (click)=downloadFile(item) aria-hidden="true"></i>
            </div>    
            <a class="delete-item" (click)="removeMultimedia(item)"><i class="fa fa-trash"></i></a>
            <p class="limit-text">{{ item.name }} </p>
          </div>
        </div>      
      <!-- END GRID -->
      </div>
    </div>
  </div>

<div class="modal fade" id="selectedItemModal" >
  <div class="modal-dialog" role="document">
    <!-- <div class="modal-content"> -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div *ngIf="selectedItem">
            <div *ngIf="selectedItem.content === 'image/jpeg' || selectedItem.content === 'image/png'">
              <img class="modal-content" src="{{ selectedItem.path }}" >
            </div>   
            <div *ngIf="selectedItem.content === 'video/mp4'">
              <video class="modal-content video-modal" controls #videoplayer>
                <source src="{{ selectedItem.path }}" type="video/mp4" /> Browser not supported
              </video>
            </div>    
        </div>             
      </div>
    <!-- </div> -->
  </div>
</div>
