<div class="row">
  <div class="col">
    <!-- Custom Tabs -->
    <div class="nav-tabs-custom">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a class="btn btn-default" href="#tab_a" data-toggle="pill">Todas</a></li>
          <li><a class="btn btn-default" href="#tab_i" data-toggle="pill">Imagens</a></li>
          <li><a class="btn btn-default" href="#tab_v" data-toggle="pill">Vídeos</a></li>
          <li ><a class="btn btn-default" href="#tab_f" data-toggle="tab">Arquivos</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab_a">
            <div class="row">
              <div class="col">
                  <ul id="thumbnailsList">                    
                      <li class="list-tn" *ngFor="let item of datasource; let i = index" [ngSwitch]="item.type" >
                        <h4 *ngIf="i === 0">Imagens</h4>
                          <a data-toggle="modal" data-target="#selectedItemModal"
                          (click)=setSelectedItem(item) *ngSwitchCase="'PICTURE2D'">
                          <img src="{{ item.path }}" id="myImg" class="thumbnails" alt="teste"
                            width="191" height="146">
                            <span class="caption">
                              <p><strong>{{ item.name }}</strong></p>
                            </span>
                          </a>
                          <span class="delete-img"><i class="fa fa-trash" *ngSwitchCase="'PICTURE2D'"></i></span>                       
                      </li>
                      
                      <li class="list-tn" *ngFor="let item of datasource; let i = index" [ngSwitch]="item.type" >   
                        <h4 *ngIf="i === 0">Vídeos</h4>  
                        <video controls id="myVideo" class="thumbnails video" width="191" height="146"  
                          data-toggle="modal" data-target="#selectedItemModal"
                          (click)=setSelectedItem(item) *ngSwitchCase="'VIDEO2D'">
                            <source src="{{ item.path }}" type="video/mp4" /> Browser not sxupported
                        </video>
                        <!-- <span class="caption v" *ngSwitchCase="'VIDEO2D'">
                          <p><strong>{{ item.name }}</strong></p>
                        </span> -->
                        <!-- <span class="delete-img"><i class="fa fa-trash" *ngSwitchCase="'VIDEO2D'"></i></span> -->
                      </li>
                      
                      <li class="list-tn type-file" *ngFor="let item of datasource; let i = index" [ngSwitch]="item.type" >
                        <h4 class="file-title" *ngIf="i === 0">Arquivos</h4>                      
                          <a  href="{{ item.path }}" class="thumbnails-file icon-pdf" target="_blank"
                            *ngSwitchCase="'FILE'">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            <span class="caption f" *ngSwitchCase="'FILE'">
                              <p class="limit-text"><strong>{{ item.name }}</strong></p>
                            </span>  
                          </a>    
                                           
                      </li>                      
                    </ul>

              </div>
            </div>
            
          </div>
          <div class="tab-pane fade" id="tab_i">
            <ul id="thumbnailsList">
              <li class="list-tn" *ngFor="let image of datasource" [ngSwitch]="image.type" >
                <a data-toggle="modal" data-target="#selectedItemModal"
                  (click)=setSelectedItem(image) *ngSwitchCase="'PICTURE2D'">
                  <img src="{{ image.path }}" id="myImg" class="thumbnails"
                    width="191" height="146">
                  <span class="caption">
                    <p><strong>{{ image.name }}</strong></p>
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="tab-pane fade" id="tab_v">
            <li *ngFor="let video of datasource" [ngSwitch]="video.type" >
              <video controls class="thumbnails" width="191" height="146" *ngSwitchCase="'VIDEO2D'"
                data-toggle="modal" data-target="#selectedItemModal"
                (click)=setSelectedItem(video)>
                  <source src="{{ video.path }}" type="video/mp4" /> Browser not supported
              </video>
            </li>
          </div>
          <div class="tab-pane fade" id="tab_f">
            <li class="list-tn type-file" *ngFor="let file of datasource" [ngSwitch]="file.type">
              <a  href="{{ file.path }}" class="thumbnails-file icon-pdf" target="_blank"
                *ngSwitchCase="'FILE'">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                <span class="caption f" *ngSwitchCase="'FILE'">
                  <p class="limit-text"><strong>{{ file.name }}</strong></p>
                </span>  
              </a>    
            </li>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="selectedItemModal" >
  <div class="modal-dialog" role="document">
    <!-- <div class="modal-content"> -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div *ngIf="selectedItem">
            <div *ngIf="selectedItem.type === 'PICTURE2D'">
              <img class="modal-content" src="{{ selectedItem.path }}" >
              <!-- <div class="btn-back" (click)=navigate(false)>
                  &lt;
               </div>
               <div class="btn-forward" (click)=navigate(true)>
                  &gt;
               </div> -->
            </div>   
            <div *ngIf="selectedItem.type === 'VIDEO2D'">
              <video class="modal-content video-modal" controls #videoplayer>
                <source src="{{ selectedItem.path }}" type="video/mp4" /> Browser not supported
              </video>
            </div>    
        </div>             
      </div>
    <!-- </div> -->
  </div>
</div>
