<simple-notifications></simple-notifications>

<div class="box"> 
  <div class="box-header ">
    <h3 class="box-title">Lista de Usuários</h3>
  </div>  
  <div class="row">
    <div class="btn-col">
      <button class="btn btn-primary" [routerLink]="['/user']" id="btn_new"> Novo </button>
    </div>
  </div>  
  <!-- when there's not record -->
  <div *ngIf="!hasdata">
    <section class="content">
        <div class="feedback-icon fa fa-users"></div><br><br>
        <span class="feedback-message">Não há dados cadastrados</span>
    </section>
  </div>

  <div *ngIf="hasdata">             
      <div class="row">
          <div class="col-sm-6">
            <div id="_filter" class="dataTables_filter">
              <label>
                Filtrar:<input type="text" class="form-control form-border " name="name" id="filter" (keyup)="getUsers()" [(ngModel)]="filter.name" placeholder="Nome do usuário">
              </label>
            </div>
          </div>
      </div>
      <div class="box-body with-border">
        <table id="example2" class="table table-hover ">
          <thead>
            <tr>
              <th class="tbl-left">Nome
                <span class="glyphicon" ></span>
              </th>
              <th class="tbl-left">Perfil
                <span class="glyphicon" ></span>
              </th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of users">
              <td class="tbl-left">  
                  {{ item.name }}
              </td>
              <td class="tbl-left">  
                  {{ item.profile }}
              </td>
              <td class="tbl-right">              
                <a (click)="setUser(item)" id="btn_details" [routerLink]="['/user-details']" title="Ver detalhes">
                    <i class="large material-icons">visibility</i>
                </a>
              </td>
              <td class="tbl-right">          
                <a title="Editar" id="btn_edit"
                  (click)="setUser(item)" [routerLink]="['/user-edit']">
                  <i class="fa fa-pencil fa-fw"></i>
                </a>
              </td>
              <td class="tbl-right">
                  <a href="" title="Excluir"
                    data-toggle="modal" data-target="#modal-default"
                    (click)="deleteUser(item)" id="btn_delete">              
                    <i class="large material-icons">delete </i> 
                  </a>      
              </td>
            </tr>
          </tbody>
        </table>
      </div>        
      <!--div class="box-footer">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination stylepage">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Anterior</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Próxima</a>
          </li>
        </ul>
      </div -->

      <div class="box-footer">
        <ul *ngIf="paginate.totalPages" class="pagination stylepage">
          <li [ngClass]="{disabled:paginate.first}" >
            <a (click)="setPage(0)">Primeiro</a>
          </li>
          <li [ngClass]="{disabled:paginate.first}" *ngIf="!paginate.first" >
            <a (click)="setPage(paginate.number - 1)">Anterior</a>
          </li>
          <li [ngClass]="{disabled:paginate.first}" *ngIf="paginate.first" >
            <a>Anterior</a>
          </li>
          <li [ngClass]="{active:paginate.number + 1}" *ngIf="paginate.number < paginate.totalPages " >
            <a (click)="setPage(paginate.number)">{{paginate.number + 1}}</a>
          </li>          
          <li [ngClass]="{active:paginate.number + 1 === page}"  *ngIf="paginate.number + 1 < paginate.totalPages ">
            <a (click)="setPage(paginate.number + 1 )">{{paginate.number + 2}}</a>
          </li>
          <li [ngClass]="{active:paginate.number + 1 === page}"  *ngIf="paginate.number + 2 < paginate.totalPages ">
            <a (click)="setPage(paginate.number + 2 )">{{paginate.number + 3}}</a>
          </li>
          <li [ngClass]="{disabled:paginate.last}"  *ngIf="!paginate.last">
            <a (click)="setPage(paginate.number + 1)">Próxima</a>
          </li>          
          <li [ngClass]="{disabled:paginate.last}"  *ngIf="paginate.last">
            <a >Próxima</a>
          </li>
          <li [ngClass]="{disabled:paginate.last}" >
              <a (click)="setPage(paginate.totalPages-1)">Última</a>
            </li>
        </ul>
      </div>
  </div>
</div>

 <!-- Modal Delete -->
 <div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn_close">
          <span aria-hidden="true"></span></button>
        <h4 class="modal-title">Deseja realmente excluir seus dados? </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" id="btn_cancel">Cancelar</button>
        <button type="button" (click)="disableUser()" class="btn btn-primary" data-dismiss="modal" id="btn_confirm">Confirmar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
