<simple-notifications></simple-notifications>
<div class="content_">
    <div class="content-top">
        <div class="content_fa"> <img class="icon" src="./assets/img/form/ic_form-02.png"> Formulário > Registros > Cadastro</div>
    </div>

    <section class="content_user">
        <!-- <div class="content-header ">
            <h5 class="content-title">FORMULÁRIOS</h5>
        </div> -->
        <div class="box">
            <div class="box-body" *ngIf="form">
                <form [formGroup]="form" novalidate (ngSubmit)="save(form)">
                    <div class="row">
                        <div class="col-sm-12" [ngClass]="applyCssError('description')">
                            <mat-form-field style.fontSize="32px">
                                <input matInput placeholder="Título do Formulário" formControlName="description" required>
                            </mat-form-field>
                            <app-control-field-error [showError]="verifyValidSubmitted('description')" msgError="Digite um título para o formulário">
                            </app-control-field-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel-body">
                                <app-form-questions [form]="_formbuilder" [parentQuestion]="form" [formSubmitAttempt]="formSubmitAttempt"></app-form-questions>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="margin-20">
                            <button type="button" [routerLink]="['/formularios/construtor']" class="btn btn-default pull-left">Voltar</button>
                        </div>
                        <div class="margin-20">
                            <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <!-- <div class="margin-20">
                        <div>Form details:-</div>
                        <pre>Is Form valid?: <br>{{form.valid | json}}</pre>
                        <pre>form value: <br>{{form.value | json}}</pre>
                    </div> -->
                </form>

            </div>
        </div>

    </section>
</div>

<app-modal></app-modal>