<simple-notifications></simple-notifications>
<div class="content_">
    <div class="content-top">
        <div class="content_fa"> <img class="icon" src="./assets/img/form/ic_form-02.png"> Formulário > Registros > Cadastro</div>
    </div>

    <section class="content_user">
        <div class="content-header ">
            <h5 class="content-title">FORMULÁRIOS</h5>
        </div>
        <div class="box">
            <div class="box-body">
                <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field>
                                <input matInput placeholder="Título do Formulário" formControlName="title">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field>
                                <input matInput placeholder="Descrição" formControlName="description">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div formArrayName="questions">
                                <div *ngFor="let question of myForm.controls.questions.controls; let i=index" class="panel panel-default">
                                    <div class="panel-heading">
                                        <span>Questão {{i + 1}}</span>
                                        <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.questions.controls.length > 1" (click)="removeQuestion(i)"></span>
                                    </div>
                                    <div class="panel-body" [formGroupName]="i">
                                        <app-form-questions [group]="myForm.controls.questions.controls[i]"></app-form-questions>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="margin-20">
                        <a (click)="addQuestion()" style="cursor: default">
                            Add questão +
                        </a>
                    </div>

                    <div class="margin-20">
                        <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
                    </div>
                    <div class="clearfix"></div>

                    <div class="margin-20">
                        <div>myForm details:-</div>
                        <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
                        <pre>form value: <br>{{myForm.value | json}}</pre>
                    </div>
                </form>

            </div>
        </div>

    </section>
</div>

<app-modal></app-modal>