<simple-notifications></simple-notifications>

<div class="content">
    <section class="content">
      <form name="form" #f="ngForm">
        <div class="row">
          <div class="col-md-6">
              <div class="box-header with-border">
                  <h3 class="box-title"> Informaçoes básicas                
                  </h3>                  
              </div>
          </div>          
          <div class="form-group">
              <label class="control-label col-md-2">Capítulo N°: </label>
              <div class="col-md-4">
                <input type="text" id="chapter_number" name="chapter_number" #number="ngModel" class="form-control" [(ngModel)]="chapter.number" readonly>
              </div>                                       
          </div>     
          </div>
          
          <div class="row">              
              <div class="col-md-6">
                  <div class="box box-primary">
                    <div class="box-body">
                      <div class="form-group" >
                        <label class="control-label">Título</label>
                        <input type="text" id="chapter_title" name="chapter_title" #title="ngModel" [(ngModel)]="chapter.title" class="form-control" readonly>
                                             
                      </div>
                      <div class="form-group">
                        <label class="control-label">Subtítulo</label>
                        <input type="text" id="chapter_subtitle" name="chapter_subtitle" class="form-control" readonly>
                                              
                      </div>

                      <div class="form-group">
                        <label class="control-label">Descrição</label>                       
                          <div class="box-body">
                            <div id="description" name="chapter_description" 
                               [innerHTML]="chapter.description"  class="editor" readonly>                             
                            </div>
                          </div>
                     </div>

                     <div class="form-group">
                      <label class="control-label">Conteúdo</label>                      
                        <div class="box-body pad">   
                          <div id="content" name="chapter_description" 
                            [innerHTML]="chapter.content"  class="editor" readonly>                             
                          </div>                                                                           
                        </div>
                   </div>
                  </div>
                </div>
              </div>
                
              <div class="col-md-6">
                  <div class="box box-primary">
                    <div class="box-body">
                      <div class="form-group">
                        <label class="control-label">Recursos da Visita</label>
                        <input type="text" id="chapter_resource" name="chapter_resource" class="form-control" readonly>
                                            
                      </div>

                      <div class="form-group">
                        <label class="control-label">Estimativa de Tempo</label>
                        <input type="text"  id="chapter_estimated_time"  name="chapter_estimated_time" #time="ngModel" [(ngModel)]="estimated_time" class="form-control" readonly>                                   
                      </div>

                      <div class="form-group">
                        <label class="control-label">Objetivo</label>                      
                          <div class="box-body pad">                              
                              <div id="goal" name="chapter_goal" 
                                [innerHTML]="chapter.goal"  class="editor" readonly>                             
                              </div>
                          </div>
                     </div>

                     <div class="form-group">
                      <label class="control-label">Conclusão</label>                    
                        <div class="box-body pad">
                            <div id="conclusion" name="chapter_conclusion" 
                              [innerHTML]="chapter.conclusion"  class="editor" readonly>                             
                            </div>                            
                        </div>
                   </div>
                </div>
              </div>                  
            </div>            
          </div>
          <div class="row footer">
            <div class="col-md-3 cancel">
              <div class="form-group">
                <button class="btn btn-default btn-md" [routerLink]="['/template-chapter']" id="btn_return"> Cancelar</button>
              </div>
            </div>
            <div class="col-md-3 col-md-offset-6 save">
              <div class="form-group">               
                <button class="btn btn-primary btn-md" name="submit" id="btn_save">Próximo</button>
               </div>
           </div>
        </div>
    </form>
  </section>
</div>