.form-group,
.form-control {
    color: grey;
}

.box-header {
    border-bottom: 1px solid #ddd;
}

.box-title {
    padding-top: 16px;
}

.btn-primary {
    /* width: 100px; */
    background-color: #373d40;
    border-color: #373d40;
}

.box {
    background-color: #f4f4f4;
    box-shadow: none;
}

.box.box-primary {
    border-top: 0px;
}

.col-sm-6.save {
    text-align: right;
    padding-right: 35px;
}

.col-sm-6.cancel {
    padding-left: 35px;
}

/* TABS */
/* .nav-tabs-custom {
    padding-left: 30px;
    padding-top: 20px;
    background-color: #f4f4f4;
}
.nav-tabs-custom > .tab-content {
    padding: 0;
}
.nav-tabs-custom > .nav-tabs > li.active > a {
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
}

.nav[_ngcontent-c5] > li[_ngcontent-c5] > a[_ngcontent-c5]{
    padding: 10px 10px 10px 0px;
}

.nav-tabs-custom > .nav-tabs > li {
    margin-right: 35px;
}
.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #3c8dbc00;
}
li._all {
    border-bottom: 3px solid #373d40;;
}
li._active {
    border-bottom: 3px solid #58c537;
}

li._inactive {
    border-bottom: 3px solid #a60000;
}

i.fa.fa-circle {
    padding-right: 8px;
    font-size: 11px;
}

i.fa.fa-circle.active_circle {
    color: #58c537;
}

i.fa.fa-circle.inactive_circle {
    color: #a60000;
}

.nav > li > a {
    padding: 10px 0px;
} */
/* END TABS*/


/* HEADER */

button.btn.btn-primary.add {
    border-radius: 1em;
    font-size: 12px;
    padding: 8px 10px;
}

i.fa.fa-plus {
    padding-right: 10px;
}

/* .navbar-custom-menu{   
    padding-right: 30px;
    float: right;
} */
/* END HEADER */

/* PAGINATe*/
.paginate {
    text-align: center;
}

.row.footer {
    margin-top: 50px;
}

.col-sm-6.actions {
    text-align: right;
}