.form-group,
.form-control {
    color: grey;
}

.box-header {
    border-bottom: 1px solid #ddd;
    padding-top: 0;
}

.box-title {
    padding-top: 16px;
}

.btn-primary {
    /* width: 100px; */
    background-color: #373d40;
    border-color: #373d40;
}

.box {
    background-color: #f4f4f4;
    box-shadow: none;
}

.box.box-primary {
    border-top: 0px;
}

.col-sm-6.save {
    text-align: right;
    padding-right: 35px;
}

.col-sm-6.cancel {
    padding-left: 35px;
}

label.control-label {
    padding-left: 10px;
}

/* HEADER */

button.btn.btn-primary.add {
    border-radius: 1em;
    font-size: 12px;
    padding: 8px 10px;
    margin-right: 10px;
}

i.fa.fa-plus {
    padding-right: 10px;
}


/* END HEADER */

/* PAGINATe*/
.paginate {
    text-align: center;
}

.row.footer {
    margin-top: 50px;
}

.col-sm-6.actions {
    text-align: right;
}

/**** QUESTIONS LIST ****/
.col-sm-4.question.description {
    padding-top: 8px;
}

.limit-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 34px;
}
.col-sm-3.question, .col-sm-2.question {
    padding-top: 8px;
}

.actions {
    float: right;
}

.col-sm-2.question.number {
    font-weight: bold;
    font-size: 16px;
    color: #6d6c6c;
}

button.btn.remove, button.btn.edit {
    border-radius: 100px;
    width: 90px;
}

button.btn.edit {
    margin-right: 15px;
}

h5.modal-title {
    font-weight: bold;
    font-size: 16px;
    color: #777;
}

i.fa.fa-pencil, i.fa.fa-remove {
    padding-right: 6px;
}

/* CARDS */
.card.horizontal.card-stacked.card-content {
    padding: 0;
    padding-top: 22px;
}

.card.horizontal {
    margin-bottom: 22px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    padding: 19px 30px 1px 30px;
}

/* MODAL */
div#modal-answer {
    height: 300px;
    width: 450px;
}

.modal-header.answer {
    background-color: #ccc;
    text-align: center;
    /* height: 50px; */
}

.box.box-primary.answers {
    background-color: white;
}

.box.box-primary.answers.box-body {
    padding: 0;
}

.table.tbl-answers > thead > tr > th, .table.tbl-answers > tbody > tr > td {
    text-align: center;
    color: #777;
}