<app-profile (insertValue)="onInsertValue($event)" 
  (filterValue)="onFilter($event)"
  [edit]="edit"
  [selectedProfile]="selectedProfile"
  [profiles]="profiles">
</app-profile>
<!-- when there's not record -->
<div *ngIf="!hasdata">
  <section class="content">
      <div class="feedback-icon fa fa-users"></div><br><br>
      <span class="feedback-message">Não há dados cadastrados</span>
  </section>
</div>  
<div *ngIf="hasdata">  
  <div class="box">             
    <div class="row">
        <div class="col-sm-6">
          <div id="_filter" class="dataTables_filter">
            <label>
              Filtrar:<input type="text" class="form-control form-border " name="name" [(ngModel)]="filter.name" placeholder="Tipo de Perfil">
            </label>
          </div>
        </div>
    </div>
    <div class="box-body with-border">
      <table id="example2" class="table table-hover ">
        <thead>
          <tr>
            <th class="tbl-center">ID
              <span class="glyphicon" ></span>
            </th>
            <th>Tipo
              <span class="glyphicon"></span>
            </th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pagedItems | filterBy: filter">
            <th class="tbl-center">    
              <div class="edit">          
                <a (click)="editProfile(item)">{{ item.id }}
                    <i class="fa fa-pencil fa-fw show-icon"></i>
                </a>              
              </div>
            </th>
            <td>{{ item.name }}</td> 
            <td class="tbl-right">              
              <a (click)="setProfile(item)" [routerLink]="['/page-list']" title="Permissões">
                  <i class="large material-icons">lock</i>
              </a>
            </td>
            <td class="tbl-center">
                <a href="" title="Excluir"
                  data-toggle="modal" data-target="#modal-default"
                  (click)="setIdProfile(item.id)">              
                  <i class="large material-icons">delete </i> 
                </a>      
            </td>
          </tr>
        </tbody>
      </table>
    </div>        
    <div class="box-footer">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination stylepage">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Anterior</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Próxima</a>
        </li>
      </ul>
    </div>
  </div>
</div>

 <!-- Modal Delete -->
 <div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span></button>
        <h4 class="modal-title">Deseja realmente excluir seus dados? </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
        <button type="button" (click)="deleteProfile()" class="btn btn-primary" data-dismiss="modal">Confirmar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
