<simple-notifications></simple-notifications>

<div class="content_">
  <div class="content-top">
    <div class="content_fa"> <i class="fa fa-user"></i> Usuários > Perfil</div>
    
  </div>
<section class="content">
  <div class="box"> 
    <div class="box-header_ ">
      <h5 class="box-title">LISTA DE PERFIS</h5>
    </div>    
    <!-- when there's not record -->
    <div *ngIf="!hasdata">
      <section class="content">
          <div class="feedback-icon fa fa-users"></div><br><br>
          <span class="feedback-message">Não há dados cadastrados</span>
      </section>
    </div>

    <div *ngIf="hasdata">     
      
        <div class="box-body">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li [class.active]="profileTabActive">
                      <a class="tab-pane" [ngClass]= "profileTabActive ? 'active' : ''" href="#tab_1" data-toggle="tab" id="tab_profile">
                        <img src="{{ profileTab }}" (click)="walk(0)" />
                      </a>                       
                    </li>
                    <li [class.active]="permissionTabActive" *ngIf="canUpdate">
                      <a  class="tab-pane" [ngClass]= "permissionTabActive ? 'active' : ''" href="#tab_2" data-toggle="tab" id="tab_permission">
                        <img src="{{ permissionTab }}" (click)="walk(1)" />
                      </a>                        
                    </li>                   
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" [ngClass]= "profileTabActive ? 'active' : ''" id="tab_1">
                        <div class="content_">
                            <section class="content_">
                                <div class="box-header with-border">
                                    <h5 class="box-title"> Perfil
                                    </h5>
                                </div>
                                <app-profile (insertValue)="onInsertValue($event)" 
                                  (filterValue)="onFilter($event)"
                                  [edit]="edit"
                                  [selectedProfile]="selectedProfile"
                                  [profiles]="profiles" *ngIf="canCreate">
                               </app-profile>
                                <div class="row">
                                    <div class="col-sm-12">
                                      <div id="_filter" class="dataTables_filter">
                                        <label>
                                          Filtro <input type="text" class="form-control form-border " name="title" (keyup)="getProfile()" [(ngModel)]="filter.title" placeholder="Tipo de Perfil">
                                        </label>
                                      </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <table id="example2" class="table">
                                                    <thead>
                                                      <tr>
                                                        <th>ID
                                                          <span class="glyphicon" ></span>
                                                        </th>
                                                        <th>TIPO
                                                          <span class="glyphicon" ></span>
                                                        </th>
                                                        <th colspan="3"> <span *ngIf="canUpdate || canDelete">AÇÃO </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr *ngFor="let item of profiles; let i = index">
                                                        <td> {{ i + 1 }}</td>
                                                        <td>  
                                                            {{ item.title }} 
                                                        </td>            
                                                       
                                                        <td class="tbl-right">              
                                                          <a  href="#tab_2" (click)="isActive(true)"data-toggle="tab" title="Permissões" *ngIf="canUpdate">
                                                            <!-- *ngIf=" ((item.title | uppercase) !== 'AGENTE') &&
                                                                        ((item.title | uppercase) !== 'ADMINISTRADOR') &&
                                                                        ((item.title | uppercase) !== 'TERCEIRO')"> -->
                                                            <i (click)="walk_(1, item)" class="large material-icons"> lock</i>
                                                          </a>
                                                        </td>
                                                        <td class="tbl-right">          
                                                          <a title="Editar" id="btn_edit" (click)="editProfile(item)" *ngIf="canUpdate">
                                                            <!-- *ngIf=" ((item.title | uppercase) !== 'AGENTE') &&
                                                                        ((item.title | uppercase) !== 'ADMINISTRADOR') &&
                                                                        ((item.title | uppercase) !== 'TERCEIRO')"> -->
                                                            <i class="fa fa-pencil fa-fw"></i>
                                                          </a>
                                                        </td>
                                                        <td class="tbl-right">
                                                            <a [title]="item.status === true ? 'Desativar': 'Ativar'"
                                                              data-toggle="modal" data-target="#myModal"
                                                              (click)="changeStatus(item)" id="btn_status" *ngIf="canDelete">
                                                              <!-- *ngIf=" ((item.title | uppercase) !== 'AGENTE') &&
                                                                      ((item.title | uppercase) !== 'ADMINISTRADOR') &&
                                                                      ((item.title | uppercase) !== 'TERCEIRO')">               -->
                                                              <i [ngClass]="item.status === true ? 'fa fa-toggle-on': 'fa fa-toggle-off' "  aria-hidden="true"></i>
                                                            </a>                                                          
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                            </div>
                                            <div class="box-footer">
                                                <app-paginate [paginate]="paginate" (eventPage)="setPage($event)"></app-paginate>                                                
                                              </div>
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" [ngClass]= "permissionTabActive ? 'active' : ''" id="tab_2">
                        <div class="content">
                            <section class="content">
                                <div class="box-header with-border">
                                    <h5 class="box-title"> Permissões
                                    </h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box box-primary">
                                            <div class="box-body">
                                              <app-page #page></app-page>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- /.tab-pane -->          
            
                </div>
                <!-- /.tab-content -->
            </div>
        </div>
       
    </div>
  </div>
</section>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm" [ngStyle]="object">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="modal-icon">
              <i class="material-icons" style="font-size: 60px;">error_outline</i>
          </div>          
            <h5  *ngIf="profile.status"> Deseja realmente desativar o perfil <strong> {{ profile.title | uppercase}} </strong> ?</h5>
            <h5  *ngIf="!profile.status"> Deseja realmente ativar o perfil <strong> {{ profile.title | uppercase}} </strong> ?</h5>
        </div>
        <div class="modal-footer_">
            <div class="modal-btn-cancel">
              <button type="button" class="btn btn-default btn-md btn-block" data-dismiss="modal" id="btn_cancel">Cancelar</button>
            </div>
            <div class="modal-btn-confirm">
              <button type="button" (click)="disableProfile()" class="btn btn-primary btn-md btn-block" data-dismiss="modal" id="btn_confirm">Confirmar</button>
            </div>          
        </div>
      </div>
  
    </div>
</div>
  
  
