<simple-notifications></simple-notifications>
<!-- <button data-toggle="modal" data-target="#modal-default" id="openModalButton">Open Modal</button> -->
<!-- <button data-toggle="modal" data-target="#modal-cancel" id="openModalCancel">Open Modal</button> -->
<div class="content_">
    <div class="content-top">
        <div class="content_fa"> <i class="fa fa-user"></i> Gestante > Editar</div>
    </div>

    <section class="content_user">
      <div class="content-header ">
          <h5 class="content-title">GESTANTE</h5>
      </div>
      <form name="form" (ngSubmit)="f.form.valid && saveData()" #f="ngForm" novalidate>
          <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab"> Dados de Identificação</a></li>
              <li><a href="#tab_2" data-toggle="tab"> Dados 2</a></li>
              <li><a href="#tab_3" data-toggle="tab">Dados 3</a></li>  
            
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
              <div class="content">
                <section class="content">
                  <div class="box-header with-border">
                      <h5 class="box-title"> Dados de Identificação
                      </h5>
                  </div>                  
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="box box-primary">
                        <div class="box-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group" [ngClass]="applyCssError(f, acsName)">
                                <label class="control-label">Nome do ACS</label>
                                <input type="text" #acsName="ngModel" name="acsName" [(ngModel)]="pregnant.acsName" id="acsName" class="form-control" placeholder="Nome" required>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, acsName)" msgError="Digite um nome para o ACS">
                                </app-control-field-error>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                                  <!-- select UC-->
                              <div class="form-group" [ngClass]="applyCssError(f, pregnantUC)">
                                <label class="control-label">UC</label>
                                <select class="form-control" #pregnantUC="ngModel" name="pregnant_uc" [(ngModel)]="pregnant.uc" id="pregnant_uc" required>
                                  <option value="true">UC 1</option>
                                  <option value="false">UC 2</option>
                                </select>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, pregnantUC)" msgError="Selecione o UC">
                                </app-control-field-error>
                              </div>
                                <!-- end select UC-->
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group" [ngClass]="applyCssError(f, pregnantRegional)">
                                <label class="control-label">Regional</label>
                                <input class="form-control" #pregnantRegional="ngModel" [(ngModel)]="pregnant.regional" name="pregnant_regional" id="pregnant_regional" placeholder="Regional" required>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, pregnantRegional)" msgError="Selecione um regional">
                                </app-control-field-error>
                              </div>
                            </div> 
                          </div>
                          <div class="row">
                            
                            <div class="col-sm-12">
                              <div class="form-group" [ngClass]="applyCssError(f, pregnantCommunity)">
                                <label class="control-label">Comunidade</label>
                                <select class="form-control" #pregnantCommunity="ngModel" name="pregnantCommunity" [(ngModel)]="pregnant.community_id" id="pregnant_community" required>
                                  <option value="true">Comunidade 01</option>
                                  <option value="false">Comunidade 01</option>
                                </select>                                
                                <app-control-field-error [showError]="verifyValidSubmitted(f, pregnantCommunity)" msgError="Selecione uma comunidade">
                                </app-control-field-error>
                              </div>
                            </div>                            
                              
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group" [ngClass]="applyCssError(f, namePregnant)">
                                <label class="control-label">Nome da paciente (gestante)</label>
                                <input type="text" #namePregnant="ngModel" name="name_pregnant" [(ngModel)]="pregnant.name" id="name_pregnant" class="form-control" placeholder="Nome completo da gestante" required>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, namePregnant)" msgError="Digite um nome para a gestante">
                                </app-control-field-error>
                              </div>
                            </div>
                          </div>                     
                          <div class="row">
                            <div class="col-sm-6">
                              <label class="control-label">Estado Civil</label>
                                <select class="form-control" #maritalStatus="ngModel" name="marital_status" [(ngModel)]="pregnant.maritalStatus" id="marital_status" required>
                                  <option value="1">Casada</option>
                                  <option value="2">Solteira</option>
                                  <option value="3">Separada</option>
                                  <option value="4">Divorciada</option>
                                  <option value="5">Viúva</option>
                                </select>                              
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group" [ngClass]="applyCssError(f, numberChildren)">
                                <label class="control-label">Data de nascimento</label>
                                <my-date-picker name="mydate" [options]="myDatePickerOptions"
                                  [(ngModel)]="pregnant.dateBirth" required>
                                </my-date-picker>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, numberChildren)" msgError="Digite um nome completo da comunidade">
                                </app-control-field-error>
                              </div>                                
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-3">
                              <label class="control-label">Tem outros filhos?</label> <br/>
                                <label class="radio-inline">                          
                                  <input type="radio" #otherChildren="ngModel" name="other_children" [(ngModel)]="pregnant.hasOtherChildren" id="other_children" value=true>
                                  Sim
                                </label>
                                <label class="radio-inline"> 
                                  <input type="radio" #otherChildren="ngModel" name="other_children" [(ngModel)]="pregnant.hasOtherChildren" id="other_children" value=false>
                                  Não
                                </label>
                              </div>                             
                              <div class="col-sm-3" *ngIf="pregnant.hasOtherChildren === 'true'">
                                <div class="form-group" [ngClass]="applyCssError(f, numberChildren)">
                                  <label class="control-label">Quantos?</label>
                                  <input type="text" #numberChildren name="number_children" id="number_children" class="form-control" placeholder="No de filhos" required>
                                  <app-control-field-error [showError]="verifyValidSubmitted(f, numberChildren)" msgError="Digite um nome completo da comunidade">
                                  </app-control-field-error>
                                </div>                              
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </section>
              </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2">
              <div class="content">
                <section class="content">
                  <div class="box-header with-border">
                      <h5 class="box-title"> Dados 2
                      </h5>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="box box-primary">
                        <div class="box-body">
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="control-label">Participa de programas do governo?</label> <br/>
                                <label class="radio-inline">                          
                                  <input type="radio" #programs="ngModel" name="programs" [(ngModel)]="pregnant.programs" id="programs" value=true>
                                  Sim
                                </label>
                                <label class="radio-inline"> 
                                  <input type="radio" #programs="ngModel" name="programs" [(ngModel)]="pregnant.programs" id="programs" value=false>
                                  Não
                                </label>                                
                              </div>
                            </div>     
                            <div class="col-sm-6">
                                <div class="form-group">
                                  <label class="control-label">Tipo de moradia?</label>
                                  <select class="form-control" #typeHousing="ngModel" name="type_housing" [(ngModel)]="pregnant.typeHousing" id="type_housing" required>
                                    <option value="1">Própria</option>
                                    <option value="2">Alugada</option>
                                    <option value="3">Cedida</option>
                                  </select>                                  
                                </div>
                              </div>                         
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="control-label">Com quem mora atualmente?</label>
                                <select class="form-control" #currently="ngModel" name="currently" [(ngModel)]="pregnant.currently" id="currently" required>
                                  <option value="1">Pais ou Parentes</option>
                                  <option value="2">Esposo e filhos</option>
                                  <option value="3">Amigos</option>
                                  <option value="4"> Sozinho</option>
                                </select>    
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="control-label">Quantas pessoas moram em sua casa (incluindo você)?</label>
                                <input type="text" class="form-control" #numberPeople="ngModel" name="number_of_people" id="number_of_people" [(ngModel)]="pregnant.numberPeople">
                              </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="control-label">Qual é a sua participação na vida econômica do seu grupo familiar? </label>
                                <div class="radio">                          
                                  <label>
                                    <input type="radio" #participationFamilyGroup name="participationFamilyGroup" id="participationFamilyGroup" value="1">
                                    Não trabalha e é sustentado pela família
                                  </label>                                 
                                </div>
                                <div class="radio"> 
                                  <label>
                                    <input type="radio" #participationFamilyGroup name="participationFamilyGroup" id="participationFamilyGroup" value="2">
                                    Trabalha e recebe ajuda financeira
                                  </label>                                  
                                </div>
                                <div class="radio"> 
                                  <label>
                                    <input type="radio" #participationFamilyGroup name="participationFamilyGroup" id="participationFamilyGroup" value="3">
                                    Trabalha e é responsável pelo próprio sustento
                                  </label>                                  
                                </div>
                                <div class="radio"> 
                                  <label>
                                    <input type="radio" #participationFamilyGroup name="participationFamilyGroup" id="participationFamilyGroup" value="4">
                                    Trabalha e contribui parcialmente em casa
                                  </label>                                 
                                </div>
                                <div class="radio"> 
                                  <label>
                                    <input type="radio" #participationFamilyGroup name="participationFamilyGroup" id="participationFamilyGroup" value="5">
                                    Trabalha e é a principal responsável pelo sustento da família
                                  </label>                                  
                                </div>
                              </div>
                            </div>   
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="control-label">Qual a principal fonte de renda da família? </label>
                                <div class="radio">      
                                  <label>
                                    <input type="radio" #sourceOfIncome="ngModel" [(ngModel)]="pregnant.mainSourceOfIncome" name="sourceOfIncome" id="sourceOfIncome" value="1">
                                    Pesca
                                  </label>
                                </div>
                                <div class="radio"> 
                                  <label>
                                    <input type="radio" #sourceOfIncome="ngModel" [(ngModel)]="pregnant.mainSourceOfIncome" name="sourceOfIncome" id="sourceOfIncome" value="2">
                                    Farinha
                                  </label>                                  
                                </div>
                                <div class="radio"> 
                                  <label>
                                    <input type="radio" #sourceOfIncome="ngModel" [(ngModel)]="pregnant.mainSourceOfIncome" name="sourceOfIncome" id="sourceOfIncome" value="3">
                                    Caça
                                  </label>                                  
                                </div>
                                <div class="radio"> 
                                  <label>
                                    <input type="radio" #sourceOfIncome="ngModel" [(ngModel)]="pregnant.mainSourceOfIncome" name="sourceOfIncome" id="sourceOfIncome" value="4">
                                    Roçado
                                  </label>                                  
                                </div>
                                <div class="radio">
                                  <label>
                                    <input type="radio" #sourceOfIncome="ngModel" [(ngModel)]="pregnant.mainSourceOfIncome" name="sourceOfIncome" id="sourceOfIncome" value="5">
                                    Outra
                                  </label>  
                                  <div class="form-group" [ngClass]="applyCssError(f, sourceOfIncomeOther)" *ngIf="pregnant.mainSourceOfIncome==='5'">
                                    <input class="form-control" #sourceOfIncomeOther name="sourceOfIncome_other" id="sourceOfIncome_other" required>
                                    <app-control-field-error [showError]="verifyValidSubmitted(f, sourceOfIncomeOther)" msgError="Especifique a fonte de renda">
                                    </app-control-field-error>
                                  </div>                                
                                </div>
                              </div>                                   
                            </div>                          
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_3">
              <div class="content">
                <section class="content">                                
                  <div class="box-header with-border">
                      <h5 class="box-title"> Dados 3
                      </h5>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="box box-primary">
                        <div class="box-body">                 
                          <div class="row">
                            <div class="col-sm-4">
                              <div class="form-group">
                                <label class="control-label">Há unidade básica na comunidade ou próximo de onde reside?</label> <br/>
                                <label class="radio-inline">                          
                                  <input type="radio" #basicUnity name="basicUnity" id="basicUnity" value="">
                                  Sim
                                </label>
                                <label class="radio-inline"> 
                                  <input type="radio" #basicUnity name="basicUnity" id="basicUnity" value="">
                                  Não
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <label class="control-label">Na comunidade há sanemaneto básico? </label> <br/>
                                <label class="radio-inline">                          
                                  <input type="radio" #basicSanitation name="basicSanitation" id="basicSanitation" value="1">
                                  Sim
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" #basicSanitation name="basicSanitation" id="basicSanitation" value="2">
                                  Não
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <label class="control-label">A água é encanada?</label> <br/>
                                <label class="radio-inline">                          
                                  <input type="radio" #water name="water" id="water" value=true>
                                  Sim
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" #water name="highSchools" id="water" value=false>
                                  Não
                                </label>
                              </div>
                            </div>                      
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label class="control-label">A água utilizada para beber recebe algum tratamento?</label> <br/>
                                <label class="radio-inline">                          
                                  <input type="radio" #treatmentWaterDrink="ngModel" [(ngModel)]="pregnant.treatmentWaterDrink" name="treatmentWaterDrink" id="treatmentWaterDrink" value=true>
                                  Sim
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" #treatmentWaterDrink="ngModel" [(ngModel)]="pregnant.treatmentWaterDrink" name="treatmentWaterDrink" id="treatmentWaterDrink" value=false>
                                  Não
                                </label> 
                                <div class="form-group" [ngClass]="applyCssError(f, waterDrink2)" *ngIf="pregnant.treatmentWaterDrink === 'true'">
                                    <label class="control-label"> Qual?</label>
                                    <input class="form-control" #waterDrink2 name="waterDrink2" id="waterDrink2" required>
                                    <app-control-field-error [showError]="verifyValidSubmitted(f, waterDrink2)" msgError="Especifique o tratamento">
                                    </app-control-field-error>
                                  </div>                              
                              </div>
                            </div>                     
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label class="control-label">Observações gerais</label> <br/>
                                <textarea class="form-control" rows="5" name="generalObservations" id="generalObservations"></textarea>
                              </div>                                
                            </div>                      
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                               
                </section>
              </div>
            </div>
            <!-- /.tab-pane -->
            <div class="content-control">
                <!-- <div class="control">
                    <a href="{{previousTab}}" data-toggle="tab" (click)="isActive(false)" id="btn_previous">
                        <img src="../../../assets/img/global/ic_previous.png" />
                        <b>Anterior</b>
                    </a>
                    <a href="{{nextTab}}" data-toggle="tab" (click)="isActive(true)" id="btn_next">
                        <b>Próximo</b>
                        <img src="../../../assets/img/global/ic_next.png" />
                    </a>
                </div> -->
            </div>
            <div class="row footer">
                <div class="col-md-3">
                    <div class="form-group">
                        <button type="button" class="btn btn-default btn-block" (click)="openModal()" id="btn_return"> Cancelar</button>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-6">
                    <div class="form-group save">
                        <button class="btn btn-primary btn-block" name="submit" id="btn_save">Cadastrar</button>                                
                    </div>
                </div>
            </div>
          </div>
          <!-- /.tab-content -->
        </div>
      </form>
    </section>
</div>

<app-modal></app-modal> 

<!-- Modal Add -->
<!-- <div class="modal fade" id="modal-default" (click)='backToList()'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content" [ngStyle]="object">
            <div class="modal-body">
                <div class="modal-icon">
                    <i class="material-icons" style="font-size: 60px;">done</i>
                </div>
                <h5> Cadastro realizado com Sucesso!</h5>
            </div>
            <div class="modal-footer" data-dismiss="modal" id="btn_confirm" (click)='backToList()'>
                <label>Fechar</label>
            </div>
        </div> -->
        <!-- /.modal-content -->
    <!-- </div> -->
    <!-- /.modal-dialog -->
<!-- </div> -->
<!-- /.modal -->
