<simple-notifications></simple-notifications>
<div class="container_">
    <div class="content-top">
        <div class="content_fa"> <img class="icon" src="./assets/img/chapter/ic_file.png"> Livro > Capítulos</div>
    </div>
    <section class="content">
        <div class="box">
            <div class="box-header ">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="box-title">
                            <h5 class="box-title">LISTA DE CAPÍTULOS</h5>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label> Filtro </label>
                    </div>
                    <div class="col-sm-3">
                        <div class="filter_">
                            <input type="number" min="1" class="form-control form-border" (change)="getChapters() || setPageChapterActive() || getChapterInactive()" (keyup)="getChapters() || setPageChapterActive() || getChapterInactive()" name="name" id="filter" [(ngModel)]="filter.name"
                                placeholder="N° do Capítulo">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Custom Tabs -->
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="_all active"><a href="#tab_1" data-toggle="tab">Todos Capítulos</a></li>
                                <li class="_active">
                                    <a href="#tab_2" data-toggle="tab">
                                        <i class="fa fa-circle active_circle" aria-hidden="true"></i>Ativos
                                    </a>
                                </li>
                                <li class="_inactive">
                                    <a href="#tab_3" data-toggle="tab">
                                        <i class="fa fa-circle inactive_circle" aria-hidden="true"></i>Inativos
                                    </a>
                                </li>
                                <div class="navbar-custom-menu">
                                    <ul class="nav navbar-nav">
                                        <li class="add">
                                            <button class="btn btn-primary add" (click)="createNewChapter()" *ngIf="canCreate">
                                                <i class="fa fa-plus fa-lg"></i>ADICIONAR CAPÍTULO
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        </div>                        
                        <div class="tab-content">                            
                            <div class="tab-pane active" id="tab_1">
                                <div class="box box-primary">
                                    <div class="box-body">
                                        <div>                                                                 
                                            <div *ngFor="let item of chapters">
                                                <app-template-chapter-item (changeStatus)="changeStatus($event)" [chapter]="item" (click)="setChapter(item)"></app-template-chapter-item>
                                            </div>
                                        </div>
                                        <div *ngIf="hasdata && chapters.length === 0">
                                            <section class="content">
                                                <div class="feedback-icon"></div>
                                                <span class="feedback-message">Não existem capítulos cadastrados</span>
                                            </section>
                                        </div>
                                        <div *ngIf="!hasdata">
                                            <section class="content">
                                                <div class="feedback-icon"></div>
                                                <span class="feedback-message">                                                    
                                                    Carregando os capítulos...
                                                </span> <br/>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="paginate" *ngIf="paginate.size < paginate.totalElements">
                                        <button class="btn btn-default" (click)="setPage()">Carregar mais capítulos</button>
                                    </div>
                                    <!-- <div class="paginate" *ngIf="paginate.size > paginate.totalElements">
                                        <span class="show-chapter" > Não há mais capítulos para exibir</span>
                                    </div> -->
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_2">
                                <div class="box box-primary">
                                    <div class="box-body">
                                        <div>
                                            <div *ngFor="let item of chapters_active">
                                                <app-template-chapter-item (changeStatus)="changeStatus($event)" [chapter]="item" (click)="setChapter(item)"></app-template-chapter-item>
                                            </div>
                                        </div>
                                        <div *ngIf="chapters_active.length === 0">
                                            <section class="content">
                                                <div class="feedback-icon"></div>
                                                <span class="feedback-message">Não existem capítulos ativos cadastrados</span>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="paginate" *ngIf="paginate_active.size < paginate_active.totalElements">
                                        <button class="btn btn-default" (click)="setPageChapterActive()">Carregar mais capítulos</button>
                                    </div>
                                    <!-- <div class="paginate" *ngIf="paginate_active.size > paginate_active.totalElements">
                                        <span class="show-chapter" > Não há mais capítulos para exibir</span>
                                    </div> -->
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_3">
                                <div class="box box-primary">
                                    <div class="box-body">
                                        <div>
                                            <div *ngFor="let item of chapters_inactive">
                                                <app-template-chapter-item (changeStatus)="changeStatus($event)" [chapter]="item" (click)="setChapter(item)"></app-template-chapter-item>
                                            </div>
                                        </div>
                                        <div *ngIf="chapters_inactive.length === 0">
                                            <section class="content">
                                                <div class="feedback-icon"></div>
                                                <span class="feedback-message">Não existem capítulos inativos cadastrados</span>
                                            </section>
                                        </div>

                                    </div>
                                    <div class="paginate" *ngIf="!paginate_inactive.last">
                                        <button class="btn btn-default" (click)="setPageChapterInactive()">Carregar mais capítulos</button>
                                    </div>
                                    <!-- <div class="paginate" *ngIf="paginate_inactive.size > paginate_inactive.totalElements">
                                        <span class="show-chapter" > Não há mais capítulos para exibir</span>
                                    </div> -->
                                </div>
                            </div>
                            <!-- /.tab-pane -->

                        </div>
                        <!-- /.tab-content -->

                    </div>
                    <!-- col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </section>
</div>
<!-- <app-modal-waiting-answer #resquestServer></app-modal-waiting-answer> -->