<div class="container">
    <section class="content">      
        <div class="box-header with-border">
            <h3 class="box-title"> Capítulos
                <small>Cadastrar</small>
            </h3>
        </div>
        <div class="row">              
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <a href="/chapterInformation">
                        <mat-card class="card_add" >       
                            <i class="fa fa-plus fa-5x" aria-hidden="true"></i>    
                        </mat-card> 
                        </a>
                        <div *ngIf="hasdata">
                            <div *ngFor="let item of chapters">
                                <app-template-chapter-item [chapter]="item" (click)="setChapter(item)"></app-template-chapter-item>
                            </div>
                        </div>
                        <div *ngIf="!hasdata">
                            <section class="content">
                                <div class="feedback-icon"></div>
                                <i class="large material-icons">library_books</i>                            
                                <span class="feedback-message">Não há capítulos cadastrados</span>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </section>
</div>