.btn-primary {
    /* width: 100px; */
    background-color: #373d40;
    border-color: #373d40;
}

button.btn.btn-primary.upload {
    width: 100px;
}

label {
    color: gray;
}

.info-select {
    border: 1px dashed #ccc;
    background: #f4f4f4;
    padding: 16px;
    text-align: center;
}

select.dropdown {
    width: 100%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form-group {
    background-color: white;
    padding: 10px 10px;
    margin-bottom: 40px;
}

.row.upload-multimedia {
    background-color: white;
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px 0px;
}


/* layout.css Style */

.panel.panel-default {
    margin-top: 20px;
}

.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}


/* skin.css Style*/

.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn.btn-default.image-preview-input {
    height: 60px;
    width: 100%;
}

button.btn.btn-labeled.btn-default,
input#files {
    height: 60px;
}

.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left: 2px;
}

.btn.btn-default.btn-sm.btn-file {
    width: 100%;
}