<simple-notifications></simple-notifications>
<!-- <button data-toggle="modal" data-target="#modal-default" id="openModalButton">Open Modal</button> -->
<!-- <button data-toggle="modal" data-target="#modal-cancel" id="openModalCancel">Open Modal</button> -->
<div class="content_">
    <div class="content-top">
        <div class="content_fa"> <i class="fa fa-user"></i> Criança > Editar</div>
    </div>

    <section class="content_user">
      <div class="content-header ">
        <h5 class="content-title">CRIANÇA</h5>
      </div>
      <!-- <form name="form" (ngSubmit)="f.form.valid && saveData()" #f="ngForm" novalidate> -->
          <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
              <li>
                <!-- <a class="tab-pane active" (click)="walk(0)" href="#tab_1" data-toggle="tab"> -->
                  <label class="lb-tab"> Dados de Identificação </label>
                  <img src="{{ data1Tab }}"/>
                <!-- </a>               -->
              </li>
              <li>
                <!-- <a class="tab-pane" (click)="walk(1)" href="#tab_2" data-toggle="tab"> -->
                  <label class="lb-tab"> Dados 02 </label>
                  <img src="{{ data2Tab }}"/>
                <!-- </a>                -->
              </li>                
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
              <div class="content">
                <section class="content">
                  <div class="box-header with-border">
                      <h5 class="box-title"> Dados de Identificação
                      </h5>
                  </div>                  
                  <div class="row">
                    <div class="col-sm-12">
                      <form name="form" (ngSubmit)="save(1,f1.valid)" id="f_1" #f1="ngForm" novalidate>
                        <div class="box box-primary">
                          <div class="box-body">                            
                            <div class="row">
                              <div class="col-sm-6">
                                    <!-- select UC-->
                                <div class="form-group" [ngClass]="applyCssError(f1, childUC)">
                                  <label class="control-label">UC</label>
                                  <select class="form-control" #childUC="ngModel" name="child_uc" [(ngModel)]="child.uc" id="child_uc" required>
                                    <option value="true">UC 1</option>
                                    <option value="false">UC 2</option>
                                  </select>
                                  <app-control-field-error [showError]="verifyValidSubmitted(f1, childUC)" msgError="Selecione o UC">
                                  </app-control-field-error>
                                </div>
                                  <!-- end select UC-->
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group" [ngClass]="applyCssError(f1, childRegional)">
                                  <label class="control-label">Regional</label>
                                  <input class="form-control" #childRegional="ngModel" [(ngModel)]="child.regional" name="child_regional" id="child_regional" placeholder="Regional" required>
                                  <app-control-field-error [showError]="verifyValidSubmitted(f1, childRegional)" msgError="Selecione um regional">
                                  </app-control-field-error>
                                </div>
                              </div> 
                            </div>
                            <div class="row">
                              
                              <div class="col-sm-12">
                                <div class="form-group" [ngClass]="applyCssError(f1, childCommunity)">
                                  <label class="control-label">Comunidade</label>
                                  <select class="form-control" #childCommunity="ngModel" name="childCommunity" [(ngModel)]="child.community_id" id="child_community" required>
                                    <option value="true">Comunidade 01</option>
                                    <option value="false">Comunidade 01</option>
                                  </select>                                
                                  <app-control-field-error [showError]="verifyValidSubmitted(f1, childCommunity)" msgError="Selecione uma comunidade">
                                  </app-control-field-error>
                                </div>
                              </div>                            
                                
                            </div>
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group" [ngClass]="applyCssError(f1, nameChild)">
                                  <label class="control-label">Nome completo da criança</label>
                                  <input type="text" #nameChild="ngModel" name="name_child" [(ngModel)]="child.name" id="name_child" class="form-control" placeholder="Nome completo da criança" required>
                                  <app-control-field-error [showError]="verifyValidSubmitted(f1, nameChild)" msgError="Digite um nome para a criança">
                                  </app-control-field-error>
                                </div>
                              </div>
                            </div>                                           
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="form-group" [ngClass]="applyCssError(f1, dateBirth)">
                                  <label class="control-label">Data de nascimento</label>
                                  <my-date-picker 
                                    name="dateBirth" [options]="myDatePickerOptions" id="dateBirth"
                                    #dateBirth="ngModel"
                                    [(ngModel)]="child.dateBirth" required>
                                  </my-date-picker>
                                  <app-control-field-error [showError]="verifyValidSubmitted(f1, dateBirth)" msgError="Informe uma data de nascimento">
                                  </app-control-field-error>
                                </div>                       
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group" [ngClass]="applyCssError(f1, gender)">
                                  <label class="control-label">Sexo</label> <br/>                                  
                                  <label class="radio-inline">                          
                                    <input type="radio" #gender="ngModel" name="gender" [(ngModel)]="child.gender" id="gender" value=true required>
                                    Masculino
                                  </label>
                                  <label class="radio-inline"> 
                                    <input type="radio" #gender="ngModel" name="gender" [(ngModel)]="child.gender" id="gender" value=false required>
                                    Feminino
                                  </label>    
                                  <app-control-field-error [showError]="verifyValidSubmitted(f2, gender)" msgError="Escolha uma das alternativas">
                                  </app-control-field-error>  
                                </div>                                
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group" [ngClass]="applyCssError(f1, age)">
                                  <label class="control-label">Idade</label>
                                  <select class="form-control" name="age" id="age" #age="ngModel" [(ngModel)]="child.age" required>
                                    <option value="1"> 0 a 3 meses</option>
                                    <option value="2"> 3 a 6 meses</option>
                                    <option value="3"> 6 a 9 meses</option>
                                    <option value="4"> 9 a 12 meses</option>
                                    <option value="5"> 1 a 2 anos</option>
                                    <option value="6"> 2 a 3 anos</option>
                                    <option value="7"> 3 a 4 anos</option>
                                    <option value="8"> 4 a 5 anos</option>
                                    <option value="9"> 5 a 6 anos</option>
                                  </select>
                                  <app-control-field-error [showError]="verifyValidSubmitted(f2, age)" msgError="Escolha uma das alternativas">
                                  </app-control-field-error> 
                                </div>
                              </div>
                            </div>    
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group" [ngClass]="applyCssError(f1, nameFather)">
                                  <label class="control-label">Nome do pai</label>
                                  <input type="text" #nameFather="ngModel" name="name_father" [(ngModel)]="child.nameFather" id="name_father" class="form-control" placeholder="Nome completo do pai" required>
                                  <app-control-field-error [showError]="verifyValidSubmitted(f1, nameFather)" msgError="Digite um nome para o pai da criança">
                                  </app-control-field-error>
                                </div>
                              </div>
                            </div>      
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group" [ngClass]="applyCssError(f1, nameMother)">
                                  <label class="control-label">Nome da Mãe</label>
                                  <input type="text" #nameMother="ngModel" name="name_mother" [(ngModel)]="child.nameMother" id="name_mother" class="form-control" placeholder="Nome completo da mãe" required>
                                  <app-control-field-error [showError]="verifyValidSubmitted(f1, nameMother)" msgError="Digite um nome para a mãe da criança">
                                  </app-control-field-error>
                                </div>
                              </div>
                            </div>                          
                          </div>
                        </div>
                        <div class="content-control">
                          <div class="control">
                            <a href="{{previousTab}}" data-toggle="tab" (click)="isActive(false, 1, 0)" id="btn_previous">
                                <img src="./assets/img/global/ic_previous.png" />
                                <b>Anterior</b>
                            </a>
                            <a href="{{nextTab}}" data-toggle="tab" (click)="isActive(true, 1)" id="btn_next">
                                <b>Próximo</b>
                                <img src="./assets/img/global/ic_next.png" />
                            </a>
                            <button type="submit" id="btn_tab1"></button>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <button class="btn btn-default btn-block" (click)="openModal()" id="btn_return1"> Cancelar</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                </section>
              </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2">
              <div class="content">
                <section class="content">
                  <div class="box-header with-border">
                      <h5 class="box-title"> Dados 2
                      </h5>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <form name="form" (ngSubmit)="saveData(f2.valid) && save(2, f2.valid)" #f2="ngForm" novalidate>
                        <div class="box box-primary">
                          <div class="box-body">          
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="form-group" [ngClass]="applyCssError(f2, civilRegistry)">
                                  <label class="control-label">A criança possui registro civil?</label> <br/>
                                  <label class="radio-inline">                          
                                    <input type="radio" #civilRegistry="ngModel" name="civilRegistry" [(ngModel)]="child.civilRegistry" id="programs" value=true required>
                                    Sim
                                  </label>
                                  <label class="radio-inline"> 
                                    <input type="radio" #civilRegistry="ngModel" name="civilRegistry" [(ngModel)]="child.civilRegistry" id="programs" value=false required>
                                    Não
                                  </label>    
                                  <app-control-field-error [showError]="verifyValidSubmitted(f2, civilRegistry)" msgError="Escolha uma das alternativas">
                                  </app-control-field-error>                            
                                </div>
                              </div> 
                              
                              <div class="col-sm-4">
                                <div class="form-group" [ngClass]="applyCssError(f2, socioEducationalPrograms)">
                                  <label class="control-label">A criança participa de outros programas sócio-educativos</label> <br/>
                                  <label class="radio-inline">                          
                                    <input type="radio" #socioEducationalPrograms="ngModel" name="socioEducationalPrograms" [(ngModel)]="child.socioEducational_programs" id="socioEducationalPrograms" value=true required>
                                    Sim
                                  </label>
                                  <label class="radio-inline"> 
                                    <input type="radio" #socioEducationalPrograms="ngModel" name="socioEducationalPrograms" [(ngModel)]="child.socioEducational_programs" id="socioEducationalPrograms" value=false required>
                                    Não
                                  </label>
                                  <app-control-field-error [showError]="verifyValidSubmitted(f2, socioEducationalPrograms)" msgError="Escolha uma das alternativas">
                                  </app-control-field-error>
                                </div>
                              </div>    
                              <div class="col-sm-4">                                
                                <div class="row">
                                  <div class="col-xs-8 col-sm-6">
                                    <div class="form-group" [ngClass]="applyCssError(f2, prematureBirth)">
                                      <label class="control-label">Nascimento prematuro?</label> <br/>
                                      <label class="radio-inline">                          
                                        <input type="radio" #prematureBirth="ngModel" name="prematureBirth" [(ngModel)]="child.prematureBirth" id="prematureBirth" value=true required>
                                        Sim
                                      </label>
                                      <label class="radio-inline"> 
                                        <input type="radio" #prematureBirth="ngModel" name="prematureBirth" [(ngModel)]="child.prematureBirth" id="prematureBirth" value=false required>
                                        Não
                                      </label>    
                                      <app-control-field-error [showError]="verifyValidSubmitted(f2, prematureBirth)" msgError="Escolha uma das alternativas">
                                      </app-control-field-error>                            
                                    </div>
                                  </div>
                                  <div class="col-xs-4 col-sm-6">
                                    <div class="form-group" [ngClass]="applyCssError(f2, prematureBirthWeek)" *ngIf="child.prematureBirth === 'true'">
                                      <label class="control-label">No de semanas</label>
                                      <input type="text" #prematureBirthWeek="ngModel" name="prematureBirthWeek" id="prematureBirthWeek" [(ngModel)]="child.prematureBirth_week" class="form-control" placeholder="No de semanas" required>
                                      <app-control-field-error [showError]="verifyValidSubmitted(f2, prematureBirthWeek)" msgError="Digite o número de semanas">
                                      </app-control-field-error>
                                    </div>    
                                  </div>
                                </div>                                
                              </div>    
                                                              
                            </div> 
                            <div class="row">
                              <div class="col-sm-12" *ngIf="child.civilRegistry === 'false'">
                                <div class="form-group" [ngClass]="applyCssError(f2, civilRegistryJustify)">
                                  <label class="control-label">Justifique</label>
                                  <textarea type="text" #civilRegistryJustify="ngModel" name="civilRegistryJustify" id="civilRegistry_justify" 
                                    [(ngModel)]="child.civilRegistry_justify" class="form-control" 
                                    placeholder="Por que a criança não possui registro civil? " required>
                                  </textarea>
                                  <app-control-field-error [showError]="verifyValidSubmitted(f2, civilRegistryJustify)" msgError="Justifique a ausência do registro civil">
                                  </app-control-field-error>
                                </div>                              
                              </div> 
                            </div>                           
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="form-group" [ngClass]="applyCssError(f2, weightMonthly)">
                                  <label class="control-label">A criança está sendo pesada mensalmente?</label> <br/>
                                  <label class="radio-inline">                          
                                    <input type="radio" #weightMonthly="ngModel" name="weightMonthly" [(ngModel)]="child.weightMonthly" id="prematureBirth" value=true required>
                                      Sim
                                  </label>
                                  <label class="radio-inline"> 
                                    <input type="radio" #weightMonthly="ngModel" name="weightMonthly" [(ngModel)]="child.weightMonthly" id="prematureBirth" value=false required>
                                    Não
                                  </label>    
                                  <app-control-field-error [showError]="verifyValidSubmitted(f2, weightMonthly)" msgError="Escolha uma das alternativas">
                                  </app-control-field-error>                                 
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group" [ngClass]="applyCssError(f2, vaccination)">
                                  <label class="control-label">O calendário de vacinação da criança está em dia?</label> <br/>
                                  <label class="radio-inline">                          
                                    <input type="radio" #vaccination="ngModel" name="vaccination" [(ngModel)]="child.vaccination" id="vaccination" value=true required>
                                    Sim
                                  </label>
                                  <label class="radio-inline"> 
                                    <input type="radio" #vaccination="ngModel" name="vaccination" [(ngModel)]="child.vaccination" id="vaccination" value=false required>
                                    Não
                                  </label>    
                                  <app-control-field-error [showError]="verifyValidSubmitted(f2, vaccination)" msgError="Escolha uma das alternativas">
                                  </app-control-field-error>        
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group" [ngClass]="applyCssError(f2, relationOtherChildren)">
                                  <label class="control-label">A criança apresenta dificuldade para se relacionar com outras crianças?</label> <br/>
                                  <label class="radio-inline">                          
                                    <input type="radio" #relationOtherChildren="ngModel" name="relationOtherChildren" [(ngModel)]="child.relationOtherChildren" id="relationOtherChildren" value=true required>
                                    Sim
                                  </label>
                                  <label class="radio-inline"> 
                                    <input type="radio" #relationOtherChildren="ngModel" name="relationOtherChildren" [(ngModel)]="child.relationOtherChildren" id="relationOtherChildren" value=false required>
                                    Não
                                  </label>    
                                  <app-control-field-error [showError]="verifyValidSubmitted(f2, relationOtherChildren)" msgError="Escolha uma das alternativas">
                                  </app-control-field-error>        
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="form-group" [ngClass]="applyCssError(f2, whoCaresChild)">
                                  <label class="control-label">Quem cuida da criança? </label>
                                  <div class="checkbox">                          
                                    <label>
                                      <input type="checkbox" #whoCaresChild="ngModel" name="whoCaresChild" [(ngModel)]="child.whoCaresChild" id="whoCaresChild" value="1">
                                      Mãe
                                    </label>                                 
                                  </div>
                                  <div class="checkbox"> 
                                    <label>
                                      <input type="checkbox" #whoCaresChild="ngModel" name="whoCaresChild" [(ngModel)]="child.whoCaresChild" id="whoCaresChild" value="2">
                                      Pai
                                    </label>                                  
                                  </div>
                                  <div class="checkbox"> 
                                    <label>
                                      <input type="checkbox"#whoCaresChild="ngModel" name="whoCaresChild" [(ngModel)]="child.whoCaresChild" id="whoCaresChild" value="3">
                                      Irmão / Irmã
                                    </label>                                  
                                  </div>
                                  <div class="checkbox"> 
                                    <label>
                                      <input type="checkbox" #whoCaresChild="ngModel" name="whoCaresChild" [(ngModel)]="child.whoCaresChild" id="whoCaresChild" value="4">
                                      Avô / Avó
                                    </label>                                 
                                  </div>
                                  <div class="checkbox"> 
                                    <label>
                                      <input type="checkbox" #whoCaresChild="ngModel" name="whoCaresChild" [(ngModel)]="child.whoCaresChild" id="whoCaresChild" value="5">
                                      Tio / Tia
                                    </label>                                  
                                  </div>
                                  <div class="checkbox"> 
                                    <label>
                                      <input type="checkbox" #whoCaresChild="ngModel" name="whoCaresChild" [(ngModel)]="child.whoCaresChild" id="whoCaresChild" value="6">
                                      Primo / Prima 
                                    </label>                                  
                                  </div>
                                  <app-control-field-error [showError]="verifyValidSubmitted(f2, whoCaresChild)" msgError="Escolha uma das alternativas">
                                  </app-control-field-error>   
                                </div>
                              </div>   
                              <div class="col-sm-4">                                
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group"  [ngClass]="applyCssError(f2, difficultyCareChild)">
                                      <label class="control-label">A família encontra alguma dificuldade para educar a criança? </label>
                                      <div class="radio-inline">      
                                        <label>
                                          <input type="radio" #difficultyCareChild="ngModel" [(ngModel)]="child.difficultyCareChild" name="difficultyCareChild" id="difficultyCareChild" value=true required>
                                          Sim
                                        </label>
                                      </div>
                                      <div class="radio-inline"> 
                                        <label>
                                          <input type="radio" #difficultyCareChild="ngModel" [(ngModel)]="child.difficultyCareChild" name="difficultyCareChild" id="difficultyCareChild" value=false required>
                                          Não
                                        </label>                                  
                                      </div>                       
                                    </div>   
                                  </div>
                                  <div class="col">
                                    <div class="form-group" [ngClass]="applyCssError(f2, sourceOfIncomeOther)" *ngIf="child.difficultyCareChild==='true'">
                                      <label class="label-control"> Justifique</label>
                                      <textarea class="form-control" #sourceOfIncomeOther name="sourceOfIncome_other" id="sourceOfIncome_other" required>
                                      </textarea>
                                      <app-control-field-error [showError]="verifyValidSubmitted(f2, sourceOfIncomeOther)" msgError="Especifique a fonte de renda">
                                      </app-control-field-error>
                                    </div>   
                                      <app-control-field-error [showError]="verifyValidSubmitted(f2, difficultyCareChild)" msgError="Escolha uma das alternativas">
                                      </app-control-field-error> 
                                  </div>                            
                                </div>                                
                              </div>   
                              <div class="col-sm-4">
                                <div class="form-group" [ngClass]="applyCssError(f2, whoChildPlay)">
                                  <label class="control-label">Com quem a criança brinca?</label>
                                  <select class="form-control" name="whoChildPlay" id="whoChildPlay" #whoChildPlay="ngModel" [(ngModel)]="child.whoChildPlay" required>
                                    <option value="1"> Com adulto</option>
                                    <option value="2"> Com adulto e criança</option>
                                    <option value="3"> Com criança</option>
                                    <option value="4"> Sozinha</option>
                                  </select>
                                  <app-control-field-error [showError]="verifyValidSubmitted(f2, whoChildPlay)" msgError="Selecione com quem a criança brinca">
                                  </app-control-field-error> 
                                </div>
                              </div>                                
                              </div>                          
                            </div>
                        </div>
                        <div class="content-control">
                          <div class="control">
                            <a href="{{previousTab}}" data-toggle="tab" (click)="isActive(false, 2, 0)" id="btn_previous">
                                <img src="./assets/img/global/ic_previous.png" />
                                <b>Anterior</b>
                            </a>                           
                            <button type="submit" id="btn_tab2"></button>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <button class="btn btn-default btn-block" (click)="openModal()" id="btn_return3"> Cancelar</button>
                          </div>
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                          <div class="form-group save">
                            <button class="btn btn-primary btn-block"  (click)="isSave()" name="submit" id="btn_save" [disabled]="!enable_save">Cadastrar</button>                                
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </section>
              </div>
            </div>      
          </div>
          <!-- /.tab-content -->
        </div>
      <!-- </form> -->
    </section>
</div>

<app-modal></app-modal> 

<!-- Modal Add -->
<!-- <div class="modal fade" id="modal-default" (click)='backToList()'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content" [ngStyle]="object">
            <div class="modal-body">
                <div class="modal-icon">
                    <i class="material-icons" style="font-size: 60px;">done</i>
                </div>
                <h5> Cadastro realizado com Sucesso!</h5>
            </div>
            <div class="modal-footer" data-dismiss="modal" id="btn_confirm" (click)='backToList()'>
                <label>Fechar</label>
            </div>
        </div> -->
        <!-- /.modal-content -->
    <!-- </div> -->
    <!-- /.modal-dialog -->
<!-- </div> -->
<!-- /.modal -->

