<simple-notifications></simple-notifications>
<div class="content_">
    <div class="content-top">
        <div class="content_fa"> <i class="fa fa-users"></i> Família > Criança > Editar</div>
    </div>

    <section class="content_user">
        <div class="content-header ">
            <h5 class="content-title">CRIANÇA</h5>
        </div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li>
                    <a class="tab-pane active" (click)="walk(0)" href="#tab_1" data-toggle="tab">
                        <img src="{{ infoTab }}" />
                    </a>
                </li>
                <li>
                    <a class="tab-pane active" (click)="walk(1)" href="#tab_2" data-toggle="tab">
                        <img src="{{ visitsTab }}" />
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="content">
                        <section class="content">
                            <div class="box-header_1 with-border">
                                <h5 class="box-title"> Informações Pessoais
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form name="form" (ngSubmit)="saveData(f1.valid)" id="f_1" #f1="ngForm" novalidate>
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Código da criança</label>
                                                            <input type="text" #codeChild="ngModel" name="code_child" pattern="[\w,./_=?-].*" maxlength="60" [(ngModel)]="child.code" id="code_child" class="form-control" placeholder="Código da criança" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, nameChild)">
                                                            <label class="control-label">Nome completo da criança</label>
                                                            <input type="text" #nameChild="ngModel" name="name_child" pattern="[\w,./_=?-].*" maxlength="60" [(ngModel)]="child.name" id="name_child" class="form-control" placeholder="Nome completo da criança" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, nameChild)" [field]="nameChild" msgError="Digite um nome para a criança">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, familyId)">
                                                            <label class="control-label">Família</label>
                                                            <select class="form-control" #familyId="ngModel" name="familyId" [(ngModel)]="child.family.id" id="family_id" required>
                                                                <option [value]="item.id" *ngFor="let item of families"> {{ item.name }}</option>                                                                       
                                                            </select>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, familyId)" msgError="Selecione uma família">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="{ 'has-error': !isValidDate }">
                                                            <label class="control-label">Data de nascimento</label>
                                                            <my-date-picker name="dateBirth" [options]="myDatePickerOptions" id="dateBirth" [selDate]="selDate" (dateChanged)="onDateChanged($event)" (inputFieldChanged)="onInputFieldChanged($event)" required>
                                                            </my-date-picker>
                                                            <div *ngIf="!isValidDate" class="help-block"> Data de nascimento inválida</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, gender)">
                                                            <label class="control-label">Sexo</label> <br/>
                                                            <label class="radio-inline">                          
                                                              <input type="radio" #gender="ngModel" name="gender" [(ngModel)]="child.gender" id="gender" value="FEMALE" required>
                                                              Feminino
                                                            </label>
                                                            <label class="radio-inline"> 
                                                              <input type="radio" #gender="ngModel" name="gender" [(ngModel)]="child.gender" id="gender" value="MALE" required>
                                                              Masculino
                                                            </label>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, gender)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, motherName)">
                                                            <label class="control-label">Nome da Mãe</label>
                                                            <input type="text" #motherName="ngModel" name="motherName" pattern="[\w,./_=?-].*" maxlength="60" [(ngModel)]="child.mother_name" id="fatherName" class="form-control" placeholder="Nome da Mãe">
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, motherName)" msgError="Digite um nome para a mãe da criança">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, fatherName)">
                                                            <label class="control-label">Nome do pai</label>
                                                            <input type="text" #fatherName="ngModel" name="fatherName" pattern="[\w,./_=?-].*" maxlength="60" [(ngModel)]="child.father_name" id="fatherName" class="form-control" placeholder="Nome completo do pai">
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, fatherName)" [field]="fatherName" msgError="Digite um nome para a mãe da criança">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, familyId)">
                                                            <label class="control-label">Família</label>
                                                            <select class="form-control" #familyId="ngModel" name="familyId" [(ngModel)]="child.family_id" id="family_id" required>
                                                                        <option [value]="item.id" *ngFor="let item of families"> {{ item.name }}</option>                                                                       
                                                                    </select>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, familyId)" msgError="Selecione uma família">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                        <!-- <div class="content-control">
                                            <div class="control">
                                                <a href="{{previousTab}}" data-toggle="tab" (click)="isActive(false, 1, 0)" id="btn_previous">
                                                    <img src="./assets/img/global/ic_previous.png" />
                                                    <b>Anterior</b>
                                                </a>
                                                <a href="{{nextTab}}" data-toggle="tab" (click)="isActive(true, 1)" id="btn_next">
                                                    <b>Próximo</b>
                                                    <img src="./assets/img/global/ic_next.png" />
                                                </a>
                                                <button type="submit" id="btn_tab1"></button>
                                            </div>
                                        </div> -->
                                        <div class="col-md-12">
                                            <div class="form-group save">
                                                <button class="btn btn-primary btn-block" (click)="isSave()" name="submit" id="btn_save" *ngIf="isNewData && canCreate">Cadastrar</button>
                                                <button class="btn btn-primary btn-block" (click)="isSave()" name="submit" id="btn_save" *ngIf="!isNewData && canUpdate">Salvar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
                <div class="tab-pane" id="tab_2">
                    <div class="content">
                        <section class="content">
                            <div class="box-header_1 with-border">
                                <h5 class="box-title"> Visitas
                                </h5>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row footer">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="button" class="btn btn-default btn-block" (click)="onCancel()" id="btn_return3">
                                <span *ngIf="isNewData">Cancelar</span>   <span *ngIf="!isNewData">Voltar</span> 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<app-modal></app-modal>