<simple-notifications></simple-notifications>
<!-- when there's not record -->
<!-- div *ngIf="!hasdata">
  <section class="content">
      <i class="large material-icons">assignment</i>  
      <span class="feedback-message">Não há tarefas cadastrados</span>
  </section>
</div -->  
<!--div *ngIf="hasdata" -->  
<div>
  <div class="box box-primary answer">         
    <div class="box-body">
      <table id="example2" class="table table-hover ">
        <thead>
          <tr>
            <th class="tbl-left">NÚMERO </th> 
            <th>RESPOSTA
              <span class="glyphicon" ></span>
            </th>           
            <th colspan="3"> AÇÃO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pagedItems">
          <!-- <tr *ngFor="let item of answers"> -->
            <td class="tbl-left">
             {{ item.number }}
            </td>
            <td [innerHTML]="item.description"> 
            </td>         
          
            <td class="tbl-right">              
                <a href="" title="Ver detalhes" id="btn_details"  data-toggle="modal" data-target="#modal-answer"
                  (click)="showAnswer(item)" >
                  <i class="large material-icons">visibility</i>
                </a>
              </td>
              <td class="tbl-right">          
                <a href="" title="Editar" id="btn_edit" data-toggle="modal" data-target="#modal-answer"
                  (click)="onEdit(item)">
                  <i class="fa fa-pencil fa-fw"></i>
                </a>
              </td>
              <td class="tbl-right">
                  <a href="" title="Excluir Resposta"
                    data-toggle="modal" data-target="#modal-default"
                    (click)="onDelete(item)" id="btn_delete">              
                    <i class="fa fa-trash "  aria-hidden="true"></i>
                  </a>      
              </td>
          </tr>
        </tbody>
      </table>
    </div>        
    <div class="box-footer"> 
      <div class="row">
        <div class="col-sm-6 pagination1" *ngIf="answers.length">
          <div class="pag1" *ngIf="answers.length > 10">
              Exibindo <strong>{{ pager.currentPage === 1 ? 1 : (pager.currentPage * 10) - 9 }} </strong> - 
              <strong>{{ pager.currentPage === pager.totalPages ? answers.length : (pager.currentPage * 10)  }} </strong> 
              &nbsp;de &nbsp;<strong>{{ answers.length }} </strong>
          </div>
          <div class="pag2" *ngIf="answers.length <= 10">
              Exibindo <strong>{{ pager.currentPage === 1 ? 1 : (pager.currentPage * 10) - 9 }} </strong> - 
              <strong>{{ answers.length }} </strong> 
              &nbsp;de&nbsp; <strong>{{ answers.length }} </strong>
          </div>            
        </div>      
        <div class="col-sm-6 pagination2">
            <app-paginate [paginate]="paginate" (eventPage)="setPage($event)"></app-paginate>
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination stylepage">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">Primeiro</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Anterior</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Próxima</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Último</a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6 ">
        <div class="form-group">
          <button class="btn btn-default btn-md" id="btn_return" (click)="onCancel()"> Voltar</button>
        </div>
      </div>  
      <div class="col-sm-6 add">  
        <div class="form-group">                    
          <button class="btn btn-primary btn-md" name="submit" id="btn_add" 
            data-toggle="modal" data-target="#modal-answer" (click)="onNewAnswer()" [disabled]="question.id === undefined">
            <i class="fa fa-plus" aria-hidden="true"></i>
              Adicionar resposta                        
          </button>
        </div>                 
      </div>
  </div> 
</div>

<!-- Modal Answer -->
<div class="modal fade" id="modal-answer" (click)="getAnswers()">
  <div class="modal-dialog">
      <div class="modal-content" [ngStyle]="object">
          <div class="modal-header answer">
          </div>
          <div class="modal-body">
            <div *ngIf="!show">
                <quill-editor [options]="editorOptions" id="answer_description" name="answer_description" 
                #description="ngModel" [(ngModel)]="answer.description" required></quill-editor>
            </div>  
            <div *ngIf="show">
              <p style="text-align: center;" [innerHTML]="answer.description"></p>
            </div>    
          </div>
          <div class="modal-footer" *ngIf="!show">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancel_()">Cancelar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveData()">Salvar</button>
          </div>
          <div class="modal-footer" *ngIf="show">
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="cancel_()">Fechar</button>
            </div>
      </div>
        <!-- /.modal-content -->   
  </div> 
</div>
<!-- /.modal -->


