<simple-notifications></simple-notifications>
<div class="content_">
  <div class="content-top">
    <div class="content_fa"> <i class="fa fa-user"></i> Comunidades > Lista de Comunidades</div>
    
  </div>
<section class="content">
  <div class="box"> 
    <div class="box-header ">
      <h5 class="box-title">LISTA DE COMUNIDADES</h5>
    </div>    
    <!-- when there's not record -->
    <div *ngIf="!hasdata">
      <section class="content">
        <div class="feedback-icon fa fa-users"></div><br><br>
        <span class="feedback-message">Não há dados cadastrados</span>
      </section>
    </div>

    <div *ngIf="hasdata">             
      <div class="row">
          <div class="col-sm-12">
            <div id="_filter" class="dataTables_filter">
              <label>
              <input type="text" class="form-control form-border " name="name" id="filter" (keyup)="getCommunities()" [(ngModel)]="filter.name" placeholder="Filtro">
              </label>
            </div>
          </div>
      </div>
      <div class="box-body">
        <table id="example2" class="table">
          <thead>
            <tr>
              <th class="tbl-left">NOME
                <span class="glyphicon" ></span>
              </th>
              <th class="tbl-left">MUNICÍPIO
                <span class="glyphicon" ></span>
              </th>
              <th class="tbl-left">ZONA DE LOCALIZAÇÃO
                  <span class="glyphicon" ></span>
              </th>
              <!--th class="tbl-left">Status
                  <span class="glyphicon" ></span>
                </th -->
              <th colspan="1" class="tbl-center"> AÇÃO</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of communities">
              <td class="tbl-left">  
                  {{ item.name }}
              </td>
              <td class="tbl-left">  
                  {{ item.city_id }}
              </td>
              <td class="tbl-left">  
                  {{ item.zone === 'URBAN' ? 'Urbana': 'Rural' }}
              </td>               
              <!-- <td class="tbl-right">              
                <a (click)="setCommunity(item)" id="btn_details" title="Ver detalhes">
                    <i class="large material-icons">visibility</i>
                </a>
              </td> -->
              <td class="tbl-right">          
                <a title="Editar" id="btn_edit"
                  (click)="setCommunity(item)" *ngIf="canUpdate">
                  <i class="fa fa-pencil fa-fw"></i>
                </a>
              </td>
              <!-- <td class="tbl-right">
                  <a href="" [title]="item.status === true ? 'Desativar': 'Ativar'"
                    data-toggle="modal" data-target="#modal-default"
                    (click)="changeStatus(item)" id="btn_status">              
                    <i [ngClass]="item.status === true ? 'fa fa-toggle-on': 'fa fa-toggle-off' "  aria-hidden="true"></i>
                  </a>      
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-footer">
        <app-paginate [paginate]="paginate" (eventPage)="setPage($event)"></app-paginate>
      </div>
    </div>
    <!-- <div class="row">
      <div class="btn-col">
        <button class="btn btn-primary" [routerLink]="['/community']" id="btn_new"> Novo </button>
      </div>
    </div> -->
  </div>
</section>
</div>

 <!-- Modal Disable -->
 <div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" [ngStyle]="object">
      <div class="modal-body">
        <div class="modal-icon">
            <i class="material-icons" style="font-size: 60px;">error_outline</i>
        </div>          
          <h5  *ngIf="community.status"> Deseja realmente desativar a comunidade <strong> {{ community.name | uppercase}} </strong> ?</h5>
          <h5  *ngIf="!community.status"> Deseja realmente ativar a comunidade <strong> {{ community.name | uppercase}} </strong> ?</h5>
      </div>
      <div class="modal-footer_">
        <div class="modal-btn-cancel">
            <button type="button" class="btn btn-default btn-md btn-block" data-dismiss="modal" id="btn_cancel">Cancelar</button>
        </div>
        <div class="modal-btn-confirm">
            <button type="button" (click)="disableEnableCommunity()" class="btn btn-primary btn-md btn-block" data-dismiss="modal" id="btn_confirm">Confirmar</button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
