.form-group,
.form-control {
    color: #335164;
}

.btn-primary {
    /* width: 100px; */
    background-color: #373d40;
    border-color: #373d40;
}

.box {
    box-shadow: none;
}

.box.box-primary {
    border: 0;
}

.box-body {
    background-color: #FBFBFB;
}

.col-md-3.col-md-offset-6.save {
    text-align: right;
    padding-right: 35px;
}

.col-md-3.cancel {
    padding-left: 35px;
}


/* .editor {
    width: 100%;
    font-size: 14px;
    padding: 10px;
} */

.quill-editor.ql-container.ql-snow.ql-editor {
    background-color: white!important;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
    height: 150px;
}


/* .ngx-editor[_ngcontent-c8] .ngx-editor-textarea[_ngcontent-c8] {
    min-height: 120px!important;
} */

label.control-label.col-md-2 {
    padding-top: 10px;
}


/* input#chapter_number {
    max-width: 100px;
} */

.chapter-number {
    text-align: right;
}

.form-group.has-error .help-block,
.help-block.has-error {
    color: #a94442;
}