<div class="content">
    <section class="content">
        <form name="form" (ngSubmit)="f.form.valid && saveData()" #f="ngForm" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group" [ngClass]="applyCssError(f, title)">
                                <label class="control-label">Título</label>
                                <input type="text" id="chapter_title" name="chapter_title" #title="ngModel" [(ngModel)]="chapter.title" value="{{chapter.title}}" class="form-control" placeholder="Inserir Título..." required>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, title)" msgError="Digite um título">
                                </app-control-field-error>
                            </div>
                            <div class="form-group" [ngClass]="applyCssError(f, subtitle)">
                                <label class="control-label">Subtítulo</label>
                                <input type="text" id="chapter_subtitle" name="chapter_subtitle" #subtitle="ngModel" class="form-control" [(ngModel)]="chapter.subtitle" value="{{chapter.subtitle}}" placeholder="Inserir Subtítulo..." required>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, subtitle)" msgError="Digite um título"></app-control-field-error>
                            </div>

                            <div class="form-group" *ngIf="isNewData">
                                <label class="control-label">Versão</label>
                                <input type="text" readonly id="chapter_version" name="chapter_version" [(ngModel)]="lastVersion" value="lastVersion" class="form-control">
                            </div>

                            <div class="form-group" *ngIf="!isNewData">
                                <label class="control-label">Versão</label>
                                <input type="text" readonly id="chapter_version" name="chapter_version" [(ngModel)]="chapter.version" value="chapter.version" class="form-control">
                            </div>

                            <div class="form-group" [ngClass]="applyCssError(f, description)">
                                <label class="control-label">Descrição</label>

                                <quill-editor [options]="editorOptions" id="chapter_description" name="editor_description" #description="ngModel" [(ngModel)]="chapter.description" required></quill-editor>

                                <!-- <ck-editor id="chapter_description" name="editor_description" #description="ngModel" [(ngModel)]="chapter.description" skin="moono-lisa" [fullPage]="false" required></ck-editor> -->
                                <app-control-field-error [showError]="verifyValidSubmitted(f, description)" msgError="Digite uma descrição">
                                </app-control-field-error>
                            </div>

                            <div class="form-group" [ngClass]="applyCssError(f, content)">
                                <label class="control-label">Conteúdo</label>
                                <quill-editor [options]="editorOptions" id="chapter_content" name="editor_content" #content="ngModel" [(ngModel)]="chapter.content" required></quill-editor>
                                <!-- <ck-editor id="chapter_content" name="editor_content" #content="ngModel" [(ngModel)]="chapter.content" skin="moono-lisa" [fullPage]="false" required></ck-editor> -->
                                <app-control-field-error [showError]="verifyValidSubmitted(f, content)" msgError="Digite um conteúdo">
                                </app-control-field-error>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group" [ngClass]="applyCssError(f, resource)">
                                <label class="control-label">Recursos da Visita</label>
                                <input type="text" id="chapter_resource" name="chapter_resource" #resource="ngModel" [(ngModel)]="chapter.resources" value="{{chapter.resources}}" class="form-control" placeholder="Inserir Recursos da Visita..." required>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, resource)" msgError="Digite os recursos da visita">
                                </app-control-field-error>
                            </div>

                            <div class="form-group" [ngClass]="applyCssError(f, time)">
                                <label class="control-label">Estimativa de Tempo (em minutos)</label>
                                <input type="number" min="1" id="chapter_estimated_time" name="chapter_estimated_time" #time="ngModel" [(ngModel)]="chapter.estimated_time" value="chapter.estimated_time" class="form-control" placeholder="Inserir Estimativa de Tempo..." required>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, time)" msgError="Digite uma Estimativa de Tempo (minutos)">
                                </app-control-field-error>
                            </div>

                            <div class="form-group" [ngClass]="applyCssError(f, timeNextVisit)">
                                <label class="control-label">Digite uma Estimativa de Tempo (em dias)</label>
                                <input type="number" min="1" id="chapter_time_next_visit" name="chapter_time_next_visit" #timeNextVisit="ngModel" [(ngModel)]="chapter.time_next_visit" value="chapter.time_next_visit" class="form-control" placeholder="Tempo para a próxima visita..." required>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, timeNextVisit)" msgError="Digite uma Estimativa de Tempo (em dia)">
                                </app-control-field-error>
                            </div>

                            <div class="form-group" [ngClass]="applyCssError(f, goal)">
                                <label class="control-label">Objetivo</label>
                                <quill-editor [options]="editorOptions" id="chapter_goal" name="editor_goal" #goal="ngModel" [(ngModel)]="chapter.goal" required></quill-editor>
                                <!-- <ck-editor id="chapter_goal" name="editor_goal" #goal="ngModel" [(ngModel)]="chapter.goal" skin="moono-lisa" [fullPage]="false" required></ck-editor> -->
                                <app-control-field-error [showError]="verifyValidSubmitted(f, goal)" msgError="Digite um objetivo">
                                </app-control-field-error>
                            </div>

                            <div class="form-group" [ngClass]="applyCssError(f, task)">
                                <label class="control-label">Tarefa para a familia</label>
                                <quill-editor [options]="editorOptions" id="chapter_task" name="editor_task" #task="ngModel" [(ngModel)]="chapter.family_tasks" required></quill-editor>
                                <!-- <ck-editor id="chapter_task" name="editor_task" #task="ngModel" [(ngModel)]="chapter.family_tasks" skin="moono-lisa" [fullPage]="false" required></ck-editor> -->
                                <app-control-field-error [showError]="verifyValidSubmitted(f, task)" msgError="Digite a conclusão">
                                </app-control-field-error>
                            </div>
                            <!-- <div class="form-group" [ngClass]="applyCssError(f, timeNextVisit)">
                                <label class="control-label">Estimativa de Tempo (em dias)</label>
                                <input type="text" id="chapter_time_next_visit" name="chapter_time_next_visit" #timeNextVisit="ngModel" [(ngModel)]="chapter.time_next_visit" value="chapter.time_next_visit" class="form-control" placeholder="Tempo para a próxima visita..." required>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, timeNextVisit)" msgError="Digite uma Estimativa de Tempo">
                                </app-control-field-error>
                            </div> -->
                        </div>
                    </div>

                </div>

            </div>
            <div class="row footer">
                <div class="col-md-2">
                    <div class="form-group">
                        <button class="btn btn-default btn-block" (click)="onCancel()" id="btn_return"> Cancelar</button>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-8">
                    <div class="form-group save" *ngIf="canCreate || canUpdate">
                        <button class="btn btn-primary btn-block" name="submit" id="btn_save">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>