table {
    border: 1px solid #ddd;
}

th {   
    padding: 12px;
    height: 50px;
}
.tbl-center {
    text-align: center;
    /* width: 150px; */
}
.tbl-right {
    text-align: right;  
    width: 50px;
}

thead {
    border-top: 6px solid #373d40;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th{
    vertical-align: middle; 
}

div.dataTables_filter {
    text-align: left;
    margin-left: 10px;
}

.box-header {
    padding-top: 20px;
    /* padding-bottom: 92px!important; */
}
.box {
    border-top: 0;
    margin-left: 20px;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {    
    font-size: 22px;
}

.box-body {
    padding-right: 50px;
}

.box-footer {
    text-align: center;
}

.btn-col {
    text-align: right;
    padding-right: 28px;
}

.btn-primary {
    width: 100px;
    background-color:#373d40;
}

i.fa {
    font-size: 20px;
}

a {
    color: #373d40;
}

.pagination>.active>a {
    background-color: #373d40;
    border-color:  #373d40;
}

.edit .show-icon {
    cursor: pointer;
    display: none;
}
.edit:hover .show-icon {
    display: inline;
}

a {
    cursor: pointer;
}