<section class="content">
  <div class="row">
    <div class="col-sm-12">
        <label for="chapter"> Capítulo:</label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card class="card" (click)="goToReception()">  
        <mat-card-title>Acolhimento</mat-card-title>     
        <mat-card-content>
            <i class="large material-icons">people</i>   
        </mat-card-content>                 
      </mat-card>
    </div> 
    <div class="col">
      <mat-card class="card" (click)="gotToIntervention()">  
        <mat-card-title>Intervenção</mat-card-title>
        <mat-card-content>
            <i class="large material-icons">attach_file</i> 
        </mat-card-content>                
      </mat-card>
    </div> 
    <div class="col">
      <mat-card class="card" (click)="goToTask()">  
        <mat-card-title>Tarefas</mat-card-title>
        <mat-card-content>
            <i class="large material-icons">assignment</i>  
        </mat-card-content>              
      </mat-card>
    </div> 
    <div class="col">
      <mat-card class="card" (click)="goToCollectData()">
        <mat-card-title>Dados Coletados</mat-card-title>
        <mat-card-content>
            <i class="large material-icons">assignment_ind</i>     
        </mat-card-content>        
      </mat-card>
    </div> 
  </div>  
  <div class="row">
    <div class="col-sm-12 cancel">
        <button class="btn btn-default" [routerLink]="['/template-chapter']"> Voltar </button>
    </div>
  </div>

</section>
