.card {
    width: 230px;
    min-width: 200px;
    height: 280px;
    float: left;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}

mat-card-title.mat-card-title {
    font-weight: bold;
}

i.large.material-icons {
    font-size: 50px;
}

mat-card-content.mat-card-content {
    padding-top: 50px;
}

.col-sm-12.cancel {
    text-align: right;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}