<div class="register-box" [ngStyle]="object">
  <div class="register-logo">
      <!-- <img class="img-logo" src="/assets/pir.png"> -->
  </div>
    
  <div class="register-box-body">
    <p class="login-box-msg">Reenviar senha</p>

    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <label>Email de recuperação</label>
        <input type ="email" [(ngModel)]="user.email" name="email" #email="ngModel" class="form-control" placeholder="Digite seu e-mail" required>
        <div *ngIf="f.submitted && !email.valid" class="help-block"> Digite um e-mail válido</div>
      </div>
      <div class="row">
        <!-- <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> I agree to the <a href="#">terms</a>
            </label>
          </div>
        </div> -->
        <!-- /.col -->
        <div class="col-xs-12">
            <button class="btn btn-primary btn-md btn-block" name="submit">Enviar</button>                
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->