<simple-notifications></simple-notifications>
<app-modal></app-modal>
<div class="content_">
    <div class="content-top">
        <div class="content_fa"> <img class="icon" src="./assets/img/global/ic_usuarios.png">Agente > Lista de Agentes</div>
    </div>
    <section class="content">
        <div class="box">
            <div class="box-header_ ">
                <h5 class="box-title">LISTA DE AGENTES</h5>
            </div>
            <!-- when there's not record -->
            <div *ngIf="!hasdata">
                <section class="content">
                    <!-- <div class="feedback-icon fa fa-users"></div><br><br> -->
                    <!-- <span class="feedback-message">Não há dados cadastrados</span> -->
                </section>
            </div>

            <div *ngIf="hasdata">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="_filter" class="dataTables_filter">
                            <label>
                                <input type="text" class="form-control form-border"  [(ngModel)]="filter.name" #f="ngModel" 
                                    mask="SSSSSSSSSSSSSSSSSSSS" maxlength="20" name="filter" id="filter" (keyup)="getAgents()" placeholder="Nome do agente">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table id="example2" class="table">
                        <thead>
                            <tr>
                                <th class="tbl-left">CÓDIGO DO AGENTE
                                    <span class="glyphicon"></span>
                                </th>
                                <th class="tbl-left">NOME
                                    <span class="glyphicon"></span>
                                </th>
                                <th class="tbl-left">PERFIL
                                    <span class="glyphicon"></span>
                                </th>
                                <th colspan="4" class="tbl-center"> AÇÃO</th>
                            </tr>
                        </thead>

                        <div class="feedback" *ngIf="agents.length === 0">
                            <i class="material-icons" style="font-size: 24px;">error_outline</i>
                            <span class="feedback-message">Nenhum registro encontrado</span>
                        </div>

                        <tbody *ngIf="agents.length !== 0">
                            <tr *ngFor="let item of agents">
                                <td class="tbl-left">
                                    {{ item.person?.agent?.code }}
                                </td>
                                <td class="tbl-left">
                                    {{ item.name }}
                                </td>
                                <td class="tbl-left">
                                    {{ item.profile.title }}
                                </td>
                                <td class="tbl-right">
                                    <a (click)="setAgent(item)" id="btn_map" [routerLink]="['/agente-dashboard/localizacao']" title="Ver Localização" *ngIf="item.name  !== 'Administrator'">
                                        <i class="large material-icons">location_on</i>
                                    </a>
                                </td>
                                <td class="tbl-right">
                                    <a (click)="setAgent(item)" id="btn_details" [routerLink]="['/agente-dashboard/detalhes']" title="Ver detalhes" *ngIf="item.name  !== 'Administrator'">
                                        <i class="large material-icons">visibility</i>
                                    </a>
                                </td>
                                <td class="tbl-right" *ngIf="canUpdate">
                                    <a title="Editar" id="btn_edit" (click)="setAgent(item)" [routerLink]="['/agente-dashboard/registro']" *ngIf="item.name  !== 'Administrator'">
                                        <i class="fa fa-pencil fa-fw"></i>
                                    </a>
                                </td>
                                <td class="tbl-right" *ngIf="canDelete">
                                    <a href="" [title]="item.status === true ? 'Desativar': 'Ativar'" data-toggle="modal" data-target="#modal-default" (click)="changeStatus(item)" id="btn_status" *ngIf="item.name  !== 'Administrator'">
                                        <i [ngClass]="item.status === true ? 'fa fa-toggle-on': 'fa fa-toggle-off' " aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <app-paginate [paginate]="paginate" (eventPage)="setPage($event)"></app-paginate>
                </div>
            </div>
            <!-- <div class="row" *ngIf="canCreate">
          <div class="btn-col">
            <button class="btn btn-primary" [routerLink]="['/agent']" id="btn_new"> Novo </button>
          </div>
      </div> -->
        </div>
    </section>
</div>

<!-- Modal Disable -->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" [ngStyle]="object">
            <div class="modal-body">
                <div class="modal-icon">
                    <img class="icon" src="./assets/img/global/ic_action.png">
                    <!-- <i class="material-icons" style="font-size: 60px;">error_outline</i> -->
                </div>
                <h5 *ngIf="agent.status"> Deseja realmente desativar o agente <strong> {{ agent.name | uppercase}} </strong> ?</h5>
                <h5 *ngIf="!agent.status"> Deseja realmente ativar o agente <strong> {{ agent.name | uppercase}} </strong> ?</h5>
            </div>
            <div class="modal-footer_">
                <div class="modal-btn-cancel">
                    <button type="button" (click)="disableEnableAgent()" class="btn btn-primary btn-md btn-block" data-dismiss="modal" id="btn_confirm">Confirmar</button>
                </div>
                <div class="modal-btn-confirm">
                    <button type="button" class="btn btn-default btn-md btn-block" data-dismiss="modal" id="btn_cancel">Cancelar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->