
<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
      <!-- <div class="row">
        <div class="col-sm-12"> -->
            <div class="question">Questão {{ index }}</div> 
            <div class="description" [innerHTML]="question.description"></div>
            <div class="answer">
              <div *ngFor="let answer of question.answers">
                  <span [innerHTML]="answer.description"></span>
              </div>
            </div>
            <div class="actions">
              <button class="btn edit" (click)="onEdit()"> <i class="fa fa-pencil"></i>Editar</button>
              <button class="btn remove"><i class="fa fa-remove" (click)="onDelete()"></i>Deletar</button>
            </div>
        <!-- </div>
      </div> -->
    </div>
  </div>
</div>