<simple-notifications></simple-notifications>
<!-- <button data-toggle="modal" data-target="#modal-default" id="openModalButton">Open Modal</button> -->
<!-- <button data-toggle="modal" data-target="#modal-cancel" id="openModalCancel">Open Modal</button> -->
<div class="content_">
    <div class="content-top">
        <div class="content_fa"> <i class="fa fa-user"></i> Família > Criança > Detalhes</div>
    </div>

    <section class="content_user">
      <div class="content-header ">
        <h5 class="content-title">CRIANÇA</h5>
      </div>
      <!-- <form name="form" (ngSubmit)="f.form.valid && saveData()" #f="ngForm" novalidate> -->
          <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
              <li>
                <a class="tab-pane active" (click)="walk(0)" href="#tab_1" data-toggle="tab">
                  <label class="lb-tab"> Dados de Identificação </label>
                  <img src="{{ data1Tab }}"/>
                </a>              
              </li>
              <li>
                <a class="tab-pane" (click)="walk(1)" href="#tab_2" data-toggle="tab">
                  <label class="lb-tab"> Informações Sociais </label>
                  <img src="{{ data2Tab }}"/>
                </a>               
              </li>                
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
              <div class="content">
                <section class="content">
                  <div class="box-header with-border">
                      <h5 class="box-title"> Dados de Identificação
                      </h5>
                  </div>                  
                  <div class="row">
                    <div class="col-sm-12">
                      <form name="form" id="f_1" #f1="ngForm" novalidate>
                        <div class="box box-primary">
                          <div class="box-body">                           
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <label class="control-label">Nome completo da criança</label>
                                  <input type="text" #nameChild="ngModel" name="name_child" [(ngModel)]="child.name" id="name_child" class="form-control" disabled>                                 
                                </div>
                              </div>
                            </div>                                           
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label class="control-label">Data de nascimento</label>                                  
                                  <span class="form-control"> {{ child.birth }} </span>
                                </div>                       
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">                                  
                                  <label class="control-label">Sexo</label> <br/>                                  
                                  <span class="form-control"> {{ child.birth === 'FEMALE' ? 'Feminino' : 'Masculino' }} </span>
                                </div>                                
                              </div>                             
                            </div>   
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label class="control-label">Nome da Mãe</label>
                                  <input type="text" name="name_mother" [(ngModel)]="child.mother.name" id="name_mother" class="form-control" disabled>                              
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label class="control-label">Nome do pai</label>
                                  <input type="text" name="fatherName" [(ngModel)]="child.father_name" id="fatherName" class="form-control" disabled>                                 
                                </div>
                              </div>
                            </div> 
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <label class="control-label">Nome do Responsável</label>
                                  <input type="text" name="nameResponsible" [(ngModel)]="child.responsible.name" id="nameResponsible" class="form-control" disabled>                                  
                                </div>
                              </div>
                            </div>             
                          </div>
                        </div>
                        <!-- <div class="content-control">
                          <div class="control">
                            <a href="{{previousTab}}" data-toggle="tab" (click)="isActive(false, 1, 0)" id="btn_previous">
                                <img src="./assets/img/global/ic_previous.png" />
                                <b>Anterior</b>
                            </a>
                            <a href="{{nextTab}}" data-toggle="tab" (click)="isActive(true, 1)" id="btn_next">
                                <b>Próximo</b>
                                <img src="./assets/img/global/ic_next.png" />
                            </a>
                            <button type="submit" id="btn_tab1"></button>
                          </div>
                        </div> -->
                        <div class="col-md-3">
                          <div class="form-group">
                            <button class="btn btn-default btn-block" [routerLink]="['/child-list']" id="btn_return1"> Voltar</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                </section>
              </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2">
              <div class="content">
                <section class="content">
                  <div class="box-header with-border">
                      <h5 class="box-title"> Informações Sociais
                      </h5>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <form name="form" #f2="ngForm" novalidate>
                        <div class="box box-primary">
                          <div class="box-body">          
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label class="control-label">A criança possui registro civil?</label> <br/>
                                  <span class="form-control"> {{ child.has_civil_registration ? 'Sim' : 'Não'}}</span>                            
                                </div>
                              </div> 
                              
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label class="control-label">A criança participa de outros programas sócio-educativos</label> <br/>
                                  <span class="form-control"> {{ child.is_in_social_program ? 'Sim' : 'Não'}}</span> 
                                </div>
                              </div>    
                              <div class="col-sm-4">                                
                                <div class="row">
                                  <div class="col-xs-8 col-sm-6">
                                    <div class="form-group">
                                      <label class="control-label">Nascimento prematuro?</label> <br/>
                                      <span class="form-control"> {{ child.is_premature_born ? 'Sim' : 'Não'}}</span>                           
                                    </div>
                                  </div>
                                  <div class="col-xs-8 col-sm-6">
                                    <div class="form-group" *ngIf="child.is_premature_born">
                                      <label class="control-label">Nº de semanas</label>
                                      <input type="number" name="bornWeek" id="bornWeek" [(ngModel)]="child.born_week" class="form-control" disabled>                                      
                                    </div>    
                                  </div>
                                </div>                                
                              </div>    
                                                              
                            </div> 
                            <div class="row">
                              <div class="col-sm-12" *ngIf="child.has_civil_registration === false">
                                <div class="form-group">
                                  <label class="control-label">Justificativa para ausência do registro</label>
                                  <textarea type="text" name="civilRegJustificative" id="civilRegJustificative" 
                                    [(ngModel)]="child.civil_reg_justificative" class="form-control" disabled>
                                  </textarea>                                 
                                </div>                              
                              </div> 
                            </div>                           
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label class="control-label">A criança está sendo pesada mensalmente?</label> <br/>
                                  <span class="form-control"> {{ child.is_mensaly_weighted ? 'Sim' : 'Não'}}</span>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label class="control-label">O calendário de vacinação da criança está em dia?</label> <br/>
                                  <span class="form-control"> {{ child.is_vacination_uptodate ? 'Sim' : 'Não'}}</span>                              
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label class="control-label">A criança apresenta dificuldade para se relacionar com outras crianças?</label> <br/>
                                  <span class="form-control"> {{ child.has_relation_diff ? 'Sim' : 'Não'}}</span>        
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <!-- <div class="col-sm-6">
                                <div class="form-group">
                                  <label class="control-label">Quem cuida da criança? </label>
                                  <input type="text" class="form-control" name="_who_take_care" id="_who_take_care" [(ngModel)]="child.who_take_care" disabled>                                                                         
                                </div>                                  
                              </div> -->
                            </div> 
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label class="control-label">Quem cuida da criança? </label>
                                  <div class="form-control who_take_care">
                                      <div *ngFor="let item of who_take_care"> {{ item }}</div>
                                  </div>
                                  
                                </div>                                  
                              </div>
                              <div class="col-sm-4">                                 
                                <div class="form-group">
                                  <label class="control-label">A família encontra alguma dificuldade para educar a criança? </label> <br/>
                                  <span class="form-control"> {{ child.has_education_diff ? 'Sim' : 'Não'}}</span> <br/>
                                  <div class="form-group" *ngIf="child.has_education_diff">
                                    <label class="control-label"> Justifique</label>
                                    <textarea class="form-control" [(ngModel)]="child.education_diff_specification" name="educationDiffSpecification" id="educationDiffSpecification" disabled>
                                    </textarea>                                      
                                  </div>    
                                </div>                                  
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label class="control-label">Com quem a criança brinca?</label>
                                  <input type="text" class="form-control" name="playsWithWho" id="playsWithWho" [(ngModel)]="child.plays_with_who" disabled>                                                               
                                </div>
                              </div>           
                            </div>                
                          </div>                          
                        </div>
                      </form>
                                      
                        <div class="col-md-3">
                          <div class="form-group">
                            <button class="btn btn-default btn-block" [routerLink]="['/child-list']" id="btn_return3"> Voltar</button>
                          </div>
                        </div> 
                    </div>
                  </div>
                </section>
              </div>
            </div>      
          </div>
          <!-- /.tab-content -->
        </div>
      <!-- </form> -->
    </section>
</div>

<app-modal></app-modal> 
