.content {
    padding: 0px;
}

.container {
    background: #e0e3e9;
    width: 100%;
}

.form-group,
.form-control {
    color: grey;
}

.btn-primary {
    /* width: 100px; */
    background-color: #373d40;
    border-color: #373d40;
}

.box.box-primary {
    border-top-color: #373d40;
}

.img-logo {
    height: 130px;
    margin-left: 25%;
    padding-bottom: 20px;
}

p {
    color: #544f4f;
    font-size: 14px;
    text-align: center;
}

label {
    color: #544f4f;
    font-size: 14px;
    font-weight: normal;
}

.form-group.has-error .form-control,
.form-group.has-error .input-group-addon {
    border-color: #a94442;
}

.form-group.has-error label {
    color: #a94442;
    font-weight: bold;
}

.form-group.has-error .help-block {
    color: #a94442;
}

.box {
    border-top: 0;
    box-shadow: none;
}

.box-header {
    background-color: #e8e6e6;
}

.box-header .box-title {
    font-size: 14px;
}

.box-header {
    background-color: #e8e6e6;
    height: 32px;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center;
    color: gray;
}

.box-body {
    background-color: #f4f4f4;
    padding: 0;
}

.col-sm-6 {
    padding: 0;
}

.form-group.profile {
    padding-right: 20px;
}

.form-group.type {
    padding-left: 20px;
}

label {
    color: #777;
}

.form-group {
    padding-bottom: 10px;
}

.content-header {
    padding-top: 20px;
    background-color: #e8e6e6;
    height: 64px;
    /* padding: 25px */
    /* padding-bottom: 92px!important; */
}

.nav > li > a {
    padding: 10px 0;
}

.content_fa {
    color: #777777;
}

button {
    min-width: 120px;
}

button#btn_cancel {
    width: 175px;
    height: 45px;
    border-radius: 0;
}

button#btn_confirm {
    width: 175px;
    height: 45px;
    border-radius: 0;
}

.modal-btn-cancel {
    float: right;
}

.modal-body {
    padding-top: 30px;
    margin-top: 20px;
}

.modal-icon {
    text-align: center;
}

.content-top {
    height: 64px;
    background-color: #e8e6e6;
    margin-bottom: 10px;
}

.content-title {
    font-size: 14px;
}

i.fa.fa-user {
    margin-top: 18px;
    margin-left: 34px;
    margin-right: 10px;
    color: white;
    background-color: #373d40;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.2em;
}

.nav-tabs-custom {
    background-color: #f4f4f4;
    padding: 20px;
}

.nav-tabs-custom>.nav-tabs {
    height: 55px;
    padding-bottom: 62px;
}

.nav-tabs-custom>.tab-content {
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.nav-tabs-custom > .nav-tabs > li.active > a {
    padding: 0;
}

.nav-tabs-custom > .nav-tabs > li.active {
    margin-top: 10px;
    border-top: 0;
}

/* .nav-tabs-custom > .nav-tabs > li.active > a {
    margin-right: 14px;
} */

a.tab-pane {
    padding-left: 0;
}

/* a.tab-pane {
    width: 152px;
    height: 51px;
} */

section.content_user {
    padding: 24px;
}

.form-group.left {
    padding-right: 30px;
}

.row.footer {
    /* padding-right: 25px; */
    padding-left: 10px;
}

.control {
    text-align: center;
}

.control a {
    margin-left: 20px;
    margin-right: 20px;
}

.control a {
    color: #4d4949;
}

.tab-pane {
    background-color: #f4f4f4;
    border-bottom: 0;
    margin-top: 20px;
}

.content-control {
    background-color: #f4f4f4;
    padding-bottom: 25px;
    margin-bottom: 20px;
}


.position {
    padding: 20px 0px 20px 20px;
}


/******** Modal *********/

.modal-footer {
    padding: 0;
    margin-top: 10px;
    background-color: #302e2e;
    text-align: center;
    cursor: pointer;
}

.modal-content {
    height: 200px;
    width: 350px;
    text-align: center;
}

.modal-body {
    padding-top: 30px;
    margin-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.modal-icon {
    text-align: center;
}

.modal-footer label {
    height: 30px;
    margin-top: 10px;
    color: #cccccc;
    text-align: center;
    cursor: pointer;
}