<simple-notifications></simple-notifications>

<div class="content_">
    <div class="content-top">
        <div class="content_fa">
            <img class="position" src="../../../assets/img/chapter/ic_file.png" /> Capítulo > Dashboard
        </div>
    </div>

    <section class="content_user">
        <div class="content-header ">
            <h5 class="content_fa">CAPÍTULO {{currentChapter}}</h5>
        </div>
        <form name="form" (ngSubmit)="editData(f.form.valid)" #f="ngForm" novalidate>
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li>
                        <img src="{{informationTab}}" />
                    </li>
                    <li>
                        <img src="{{receptionTab}}" />
                    </li>
                    <li>
                        <img src="{{interventionTab}}" />
                    </li>
                    <li>
                        <img src="{{conclusionTab}}" />
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="content">
                            <section class="content">
                                <div class="box-header with-border">
                                    <h5 class="box-title">
                                        Informações do Capítulo
                                    </h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <app-information #informationChild></app-information>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <div class="content">
                            <section class="content">
                                <div class="box-header with-border">
                                    <h5 class="box-title">
                                        Acolhimento
                                    </h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <app-reception #receptionChild></app-reception>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        <div class="content">
                            <section class="content">
                                <div class="box-header with-border">
                                    <h5 class="box-title">
                                        Intervenção
                                    </h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <app-intervention #intervention></app-intervention>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_4">
                        <div class="content">
                            <section class="content">
                                <div class="box-header with-border">
                                    <h5 class="box-title">
                                        Conclusão
                                    </h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <!-- CARD -->
                                                <app-conclusion></app-conclusion>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="content-control">
                        <div class="control">
                            <a href="{{previousTab}}" data-toggle="tab" (click)="isActive(false)">
                                <img src="../../../assets/img/global/ic_previous.png" />
                                <b>Anterior</b>
                            </a>
                            <a href="{{nextTab}}" data-toggle="tab" (click)="isActive(true)">
                                <b>Próximo</b>
                                <img src="../../../assets/img/global/ic_next.png" />
                            </a>
                        </div>
                    </div>
                    <!-- <div class="row footer">
                        <div class="col-md-3">
                            <div class="form-group">
                                <button class="btn btn-default btn-block" [routerLink]="['/user-list']" id="btn_return"> Cancelar</button>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group save">
                                <button data-toggle="modal" data-target="#modal-default" class="btn btn-primary btn-block" name="submit" id="btn_save" [disabled]="!enable_save">Salvar</button>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- /.tab-content -->
            </div>
        </form>
    </section>
</div>