<simple-notifications></simple-notifications>
<!-- <button style="display:none" data-toggle="modal" data-target="#modal-cancel" id="openModalButton">Open Modal</button> -->
<div class="content_">
    <div class="content-top">
        <div class="content_fa">
            <img class="position" src="../../../assets/img/chapter/ic_file.png" /> Livro > Capítulos > Cadastro > Informações do Capítulo
        </div>
    </div>

    <section class="content_user">
        <div class="content-header ">
            <h5 class="content_fa">CAPÍTULO {{currentChapter}}</h5>            
        </div>
        <form name="form" #f="ngForm" novalidate>
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li>
                        <a class="tab-pane active" href="#tab_1" data-toggle="tab">
                            <img src="{{informationTab}}" (click)="walk(0)" />
                        </a>
                    </li>
                    <li>
                        <a class="tab-pane" href="#tab_2" data-toggle="tab">
                            <img src="{{receptionTab}}" (click)="walk(1)" />
                        </a>
                    </li>
                    <li>
                        <a class="tab-pane" href="#tab_3" data-toggle="tab">
                            <img src="{{interventionTab}}" (click)="walk(2)" />
                        </a>
                    </li>
                    <li>
                        <a class="tab-pane" href="#tab_4" data-toggle="tab">
                            <img src="{{conclusionTab}}" (click)="walk(3)" />
                        </a>
                    </li>
                    <li>
                        <a class="tab-pane" href="#tab_5" data-toggle="tab">
                            <img src="{{multimediaTab}}" (click)="walk(4)" />
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="content">
                            <section class="content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-header with-border">
                                            <h5 class="box-title">
                                                Informações do Capítulo
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <app-information #informationChild (returnEvent)="actionInformation($event)" (cancelEvent)='openModal()'></app-information>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <div class="content">
                            <section class="content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-header with-border">
                                            <h5 class="box-title">
                                                Acolhimento
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <app-reception #receptionChild (returnEvent)="actionSave($event)" (cancelEvent)='openModal()'></app-reception>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        <div class="content">
                            <section class="content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-header with-border">
                                            <h5 class="box-title">
                                                Intervenção
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <app-intervention #intervention (returnEvent)="actionSave($event)" (cancelEvent)='openModal()'></app-intervention>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_4">
                        <div class="content">
                            <section class="content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-header with-border">
                                            <h5 class="box-title">
                                                Conclusão
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <!-- CARD -->
                                                <app-conclusion #conclusion (returnEvent)="actionSave($event)" (cancelEvent)='openModal()'></app-conclusion>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_5">
                        <div class="content">
                            <section class="content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-header with-border">
                                            <h5 class="box-title">
                                                Mídias do Capítulo
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box box-primary">
                                            <div class="box-body">
                                              <app-multimedia #multimedia (cancelEvent)='openModal()'></app-multimedia>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>                        
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
        </form>
    </section>
</div>
<app-modal> </app-modal>