.menu {
    margin-right: 5px;
    padding-right: 5px;
    cursor: pointer;
    
}

a.pointer {
    cursor: pointer;
}

/******** Modal *********/

.modal-footer {
    padding: 0;
}

.modal-content {
    width: 421px;
    height: 234px;
}
.modal-btn-cancel {
    float: left;  
}

.modal-body {
    padding: 32px;
    padding-bottom: 45px; 
    text-align: center;
}
.modal-icon {
    text-align: center;
}

/* .modal-footer label {
    height: 30px;
    margin-top: 10px;
    color: #cccccc;
    text-align: center;
    cursor: pointer;
} */

/* button {
    min-width: 120px;
} */

button#btn_cancel {
    background-color: #dfe8ed;
    width: 210.5px;
    height: 45px;
    border-radius: 0;
}

button#btn_confirm {
    background-image: url('/assets/img/global/btn_confirm.png')!important;
    background-repeat: no-repeat;
    width: 210.5px;
    height: 45px;
    border-radius: 0;
}
.btn-primary {
    background-color: #373d40;
    border-color: #373d40;
}

/* UI */
.main-sidebar {
    padding-top: 70px;
    padding-top: 70px;
    font-family: Roboto-Regular;
    font-size: 14px;
    position: fixed;
}

section.sidebar.logout {
    position: absolute;
    bottom: 165px;
    padding-left: 10px;
}

.sidebar-item {
    padding-left: 18px;
}

span.lb-logout {
    position: absolute;
    top: 0;
    left: 37px;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #D8E9F4;
}

img.copyright {
    width: 142px;
    position: absolute;
    top: 71px;
    left: 10px;
}

i.fa.fa-user, i.fa.fa-users {
    font-size: 20px;
}
i.fa.fa-file-text, i.fa.fa-list-alt {
    font-size: 21px;
}
i.fa.fa-home {
    font-size: 24px;
}

