.menu {
    margin-right: 5px;
    padding-right: 5px;
    cursor: pointer;
    
}

/******** Modal *********/

.modal-footer {
    padding: 0;
    margin-top: 10px;
    background-color: #302e2e;
    text-align: center;
    cursor: pointer;
}

.modal-content {
    height: 200px;
    width: 350px;
    text-align: center;
}

.modal-body {
    padding-top: 30px;
    margin-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.modal-icon {
    text-align: center;
}

.modal-footer label {
    height: 30px;
    margin-top: 10px;
    color: #cccccc;
    text-align: center;
    cursor: pointer;
}

button {
    min-width: 120px;
}

button#btn_cancel {
    width: 175px;
    height: 45px;
    border-radius: 0;
}

button#btn_confirm {
    width: 175px;
    height: 45px;
    border-radius: 0;
}

.modal-btn-cancel {
    float: right;
}

.modal-body {
    padding-top: 30px;
    margin-top: 20px;
}

.btn-primary {
    background-color: #373d40;
    border-color: #373d40;
}

/* UI */
.main-sidebar {
    padding-top: 70px;
}

/* .main-header .sidebar-toggle {
    width: 21px;
    height: 19px;
    padding-right: 28px!important;
    padding-top: 18px!important;
} */