 <aside class="main-sidebar" *ngIf="rules.length !== 0">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree" *ngFor="let item of menu">
        
        <li class="treeview" [class.active]="isActive(item.routes)"
            *ngIf="item.read">
            <a href="#" *ngIf="item.category === 'parent'">
              <i class="{{ item.iClass }}"></i> <span class="sidebar-item">{{ item.title }}</span>
              <span class="pull-right-container" *ngIf="item.hasChild">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li [class.active]="isActive(sub.routes)" *ngFor="let sub of menu">
                <a class="menu" (click)="redirectTo(sub.route)"  *ngIf="sub.category === 'child' && sub.parent === item.id && sub.read">
                    <i class="{{ sub.iClass }}" aria-hidden="true"></i>
                    <span class="sidebar-item">{{ sub.title }}</span>
                </a>
              </li>  
            </ul>
        </li> 
      </ul>
    </section >
    <section class="sidebar logout">
        <a  class="pointer"
            data-toggle="modal" data-target="#modal-logout">
            <img style="height: 18px;" src="./assets/css/sidebar/ic_logout.png">
            <span class="lb-logout">SAIR</span>
        </a>
        <img class="copyright" src="./assets/css/sidebar/copyright.png">
    </section>
  </aside>

<!-- Modal Cancel -->
<div  class="modal fade" id="modal-logout" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
      <div class="modal-content" [ngStyle]="object">
          <div class="modal-body">
              <div class="modal-icon">
                  <i class="material-icons" style="font-size: 60px;">error_outline</i>
              </div>
              <h5> Deseja realmente <strong>SAIR</strong> ?</h5>
          </div>
          <div class="modal-footer" data-dismiss="modal">
              <div class="modal-btn-cancel">
                  <button type="button" class="btn btn-default btn-md btn-block" data-dismiss="modal" id="btn_cancel">Não</button>
              </div>
              <div class="modal-btn-confirm">
                  <button type="button" (click)="logout()" class="btn btn-primary btn-md btn-block" data-dismiss="modal" id="btn_confirm">Sim</button>
              </div>
          </div>
      </div> 
  </div>
</div>
