<aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li [class.active]="isActive(['/','/dashboard'])">
          <a class="menu" (click)="toDashboard()">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard de Desempenho</span>
          </a>
        </li>
        <li [class.active]="isActive(['/','/agent'])">
          <a class="menu" (click)="toAgent()">
            <i class="fa fa-users"></i>
            <span>Agentes</span>
          </a>
        </li>
        <li [class.active]="isActive(['/','/maps'])">
          <a class="menu" (click)="toMaps()">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>Mapa dos Clientes</span>
          </a>
        </li>
        
        <li [class.active]="isActive(['/','/templateForms'])">
          <a class="menu" (click)="toTemplateForms()">
            <i class="fa fa-file" aria-hidden="true"></i>
            <span>Formulários</span>
          </a>
        </li>

        <li class="treeview">
            <a href="#">
              <i class="fa fa-user"></i> <span>Usuários</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li [class.active]="isActive(['/','/user-list'])">
                <a class="menu" (click)="toUserList()">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <span>Registros</span>
                </a>
              </li>
              <li [class.active]="isActive(['/','/user'])">
                <a class="menu" (click)="toUser()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  <span>Novo</span>
                </a>
              </li>
              <li>
                <a href="#"><i class="fa fa-circle-o"></i> 
                  <span>Perfil</span> 
                  <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                      <a href="#">
                        <i class="fa fa-list"></i>
                        Registros
                      </a>
                    </li>
                    <li [class.active]="isActive(['/','/profile'])">
                      <a class="menu" (click)="toProfile()">
                        <i class="fa fa-plus"></i>
                        <span>Novo</span>
                      </a>
                    </li>
                </ul>
              </li>
            </ul>
          </li>
      </ul>
    </section>
  </aside>