<simple-notifications></simple-notifications>
<div class="content_">
    <div class="content-top">
        <div class="content_fa">
            <i class="fa fa-users"></i> Família > Registro > Detalhes</div>
    </div>

    <section class="content_user">
        <div class="content-header ">
            <h5 class="content-title">FAMÍLIA</h5>
        </div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li>
                    <a class="tab-pane active" (click)="walk(0)" href="#tab_1" data-toggle="tab">
                        <img src="{{ infoTab }}" />
                    </a>
                </li>
                <li>
                    <a class="tab-pane" (click)="walk(1)" href="#tab_2" data-toggle="tab">
                        <img src="{{ dataTab }}" />
                    </a>
                </li>
                <li>
                    <a class="tab-pane" (click)="walk(2)" href="#tab_3" data-toggle="tab">
                        <img src="{{ servicesTab }}" />
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" [ngClass]="routeChild ? '' : 'active'" id="tab_1">
                    <div class="content">
                        <section class="content">
                            <div class="box-header_1 with-border">
                                <h5 class="box-title"> Informações da Família
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form name="form" id="f_1" #f1="ngForm" novalidate>
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Comunidade</label>
                                                            <input type="text" class="form-control" #motherCommunity="ngModel" name="motherCommunity" [(ngModel)]="responsible.community.name"
                                                                id="mother_community" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Agente</label>
                                                            <input type="text" class="form-control" #agentName="ngModel" name="agentName" [(ngModel)]="responsible.agent.name" id="agentName"
                                                                disabled>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Nome Completo do Responsável</label>
                                                            <input type="text" #familyName="ngModel" name="familyName" [(ngModel)]="responsible.name" id="familyName" class="form-control"
                                                                disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label class="control-label">Dt. de Nascimento</label>
                                                            <input type="text" name="birth" class="form-control" id="birth" [(ngModel)]="selDate" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label class="control-label">Genêro</label>
                                                            <input type="text" name="gender" class="form-control" id="gender" [value]="translateGender(responsible.gender)" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <button class="btn btn-default btn-block" [routerLink]="['/responsaveis']" id="btn_return1"> Voltar</button>
                                            </div>
                                        </div> -->
                                    </form>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <div class="content">
                        <section class="content">
                            <div class="box-header_1 with-border">
                                <h5 class="box-title"> Dados Socioeconômicos
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form name="form" #f2="ngForm" novalidate>
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Há quantas crianças na família?</label>
                                                            <br/>
                                                            <span class="form-control"> {{ responsible.children_count }}</span>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Tipo de moradia?</label>
                                                                <span class="form-control" *ngIf="responsible.habitation_type === 'OWNED'"> Própria </span>
                                                                <span class="form-control" *ngIf="responsible.habitation_type === 'LEASED'"> Alugada </span>
                                                                <span class="form-control" *ngIf="responsible.habitation_type === 'CEDED'"> Cedida </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Quantas pessoas moram em sua casa (incluindo você)?</label>
                                                            <input [type]="number" class="form-control" mask="0000000000" name="habitationMembersCount" id="habitationMembersCount" [(ngModel)]="responsible.members_count" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Qual(is) a(s) principal(is) fonte(s) de renda da família? </label>
                                                            <input class="form-control" name="familyIncome" [(ngModel)]="responsible.family_income" id="familyIncome" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Participa de algum programa social? </label>
                                                            <input class="form-control" name="familyIncomeOther" id="inSocialProgram" [value]="responsible.in_social_program ? 'Sim' : 'Não'" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6" *ngIf="responsible.family_income === 'OUTRA'">
                                                        <div class="form-group">
                                                            <label class="control-label">Outra fonte de renda? </label>
                                                            <input class="form-control" name="familyIncomeOther" [(ngModel)]="responsible.family_income_other" id="familyIncomeOther"
                                                                disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <button class="btn btn-default btn-block" [routerLink]="['/responsaveis']" id="btn_return2"> Voltar</button>
                                            </div>
                                        </div> -->
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_3">
                    <div class="content">
                        <section class="content">
                            <div class="box-header_1 with-border">
                                <h5 class="box-title"> Serviços
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form name="form" #f3="ngForm" novalidate>
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Há unidade básica na comunidade ou próximo de onde reside?</label>
                                                            <br/>
                                                            <span class="form-control"> {{ responsible.has_hospital_nearby ? 'Sim' : 'Não' }} </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Na comunidade há sanemaneto básico? </label>
                                                            <br/>
                                                            <span class="form-control"> {{ responsible.has_sanitation ? 'Sim' : 'Não' }} </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label">A água é encanada?</label>
                                                            <br/>
                                                            <span class="form-control"> {{ responsible.has_water_treatment ? 'Sim' : 'Não' }} </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group" *ngIf="responsible.drinking_water_treatment">
                                                            <label class="control-label">A água utilizada para beber recebe algum tratamento?</label>
                                                            <br/>
                                                            <span class="form-control"> Não</span>
                                                        </div>
                                                        <div class="form-group" *ngIf="!responsible.drinking_water_treatment">
                                                            <label class="control-label">A água utilizada para beber recebe algum tratamento?</label>
                                                            <br/>
                                                            <input class="form-control" #treatmentWater="ngModel" [(ngModel)]="responsible.water_treatment_description" name="treatmentWater"
                                                                id="treatmentWater" placeholder="Especifique o tratamento" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Observações gerais (Tam. max 100)</label>
                                                            <br/>
                                                            <textarea class="form-control" rows="5" name="generalObservations" [(ngModel)]="responsible.observations" id="generalObservations"
                                                                disabled></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <button class="btn btn-default btn-block" [routerLink]="['/responsaveis']" id="btn_return3"> Voltar</button>
                                            </div>
                                        </div> -->
                                        <div class="col-md-3 col-md-offset-6">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- /.tab-content -->
            <div class="col-md-3 action-back">
                <div class="form-group">
                    <button class="btn btn-default btn-block" [routerLink]="['/familias']" id="btn_return3"> Voltar</button>
                </div>
            </div>
        </div>
        <!-- </form> -->
    </section>
</div>

<app-modal></app-modal>