<router-outlet></router-outlet>
<simple-notifications></simple-notifications>
<app-modal></app-modal>
<div class="content_">
    <div class="content-top">
        <div class="content_fa"> <img class="icon" src="./assets/img/global/ic_usuarios.png">Agente > Histórico de visitas</div>

    </div>
    <section class="content">
        <div class="box">
            <div class="box-header_ ">
                <h5 class="box-title">LISTA DE FAMÍLIAS</h5>
            </div>
            <!-- when there's not record -->
            <div *ngIf="!hasdata">
                <section class="content">
                    <!-- <div class="feedback-icon fa fa-users"></div><br><br> -->
                    <!-- <span class="feedback-message">Não há dados cadastrados</span> -->
                </section>
            </div>

            <div *ngIf="hasdata">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group agent-data">
                            <label class="label-control">AGENTE: </label>
                            <span> {{ agent.name }}</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="_filter" class="dataTables_filter">
                            <label>
                            <input type="text" class="form-control form-border"  [(ngModel)]="filter.name" #f="ngModel" 
                                mask="SSSSSSSSSSSSSSSSSSSS" maxlength="20" name="filter" id="filter" (keyup)="getAgents()" placeholder="Nome da família">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table id="example2" class="table">
                        <thead>
                            <tr>
                                <th class="tbl-left">FAMÍLIA</th>
                                <th class="tbl-left">TIPO</th>
                                <th class="tbl-left">COMUNIDADE</th>
                                <th class="tbl-center"> AÇÃO</th>
                            </tr>
                        </thead>

                        <div class="feedback" *ngIf="agents.length === 0">
                            <i class="material-icons" style="font-size: 24px;">error_outline</i>
                            <span class="feedback-message">Nenhum registro encontrado</span>
                        </div>

                        <tbody *ngIf="agents.length !== 0">
                            <tr *ngFor="let item of visits; let i=index">
                                <td class="tbl-left">
                                    <span *ngIf="item.child !== undefined">
                                        {{ item.child.name }}
                                    </span>
                                    <span *ngIf="item.responsible !== undefined">
                                        {{ item.responsible.name }}
                                    </span>
                                </td>
                                <td class="tbl-left">
                                    <span>
                                        {{ item.child !== undefined ? 'CRIANÇA' : 'GESTANTE' }}
                                    </span>
                                </td>
                                <td class="tbl-left">
                                    <span *ngIf="item.child !== undefined">
                                        {{ item.child.responsible.community.name }}
                                    </span>
                                    <span *ngIf="item.responsible !== undefined">
                                        {{ item.responsible.community.name }}
                                    </span>
                                </td>
                                <td class="tbl-center">
                                    <a id="btn_visit" (click)="setFamily(item.id)" [routerLink]="['/agente-visita/historico']" title="Ver hitórico de visitas" *ngIf="item.name  !== 'Administrator'">
                                        <i class="large material-icons">history</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <app-paginate [paginate]="paginate" (eventPage)="setPage($event)"></app-paginate>
                </div>
            </div>
            <div class="row" *ngIf="!isAgent">
                <div class="col-sm-12 back">
                    <button class="btn btn-default" [routerLink]="['/agente-visita']"> Voltar</button>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal Disable -->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" [ngStyle]="object">
            <div class="modal-body">
                <div class="modal-icon">
                    <img class="icon" src="./assets/img/global/ic_action.png">
                    <!-- <i class="material-icons" style="font-size: 60px;">error_outline</i> -->
                </div>
                <h5 *ngIf="agent.status"> Deseja realmente desativar o agente <strong> {{ agent.name | uppercase}} </strong> ?</h5>
                <h5 *ngIf="!agent.status"> Deseja realmente ativar o agente <strong> {{ agent.name | uppercase}} </strong> ?</h5>
            </div>
            <div class="modal-footer_">
                <div class="modal-btn-cancel">
                    <button type="button" (click)="disableEnableAgent()" class="btn btn-primary btn-md btn-block" data-dismiss="modal" id="btn_confirm">Confirmar</button>
                </div>
                <div class="modal-btn-confirm">
                    <button type="button" class="btn btn-default btn-md btn-block" data-dismiss="modal" id="btn_cancel">Cancelar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->