.pagination>.active>a {
    background-color: #0075BD;
    border-color:#0075BD;
}

.pagination > .disabled > a {
    color: #335164;
}

.pagination {
    cursor: pointer;
}

.col-sm-4 {
    padding-top: 30px;
    text-align: left;
}

.col-sm-8 {
    text-align: right;
    padding-right: 58px;
}

.col-sm-12 {
    text-align: right;
    padding-right: 25px;
}