.pagination>.active>a {
    background-color: #373d40;
    border-color:  #373d40;
}

.pagination {
    cursor: pointer;
}

.col-sm-4 {
    padding-top: 30px;
    text-align: left;
}

.col-sm-8 {
    text-align: right;
    padding-right: 58px;
}

.col-sm-12 {
    text-align: right;
    padding-right: 25px;
}