<div class="row">
    <div class="col-sm-4">
        <span *ngIf="paginate.totalElements">
            Exibindo {{ paginate.first ? 1 : (paginate.number * paginate.size) + 1 }} a {{ paginate.last ? paginate.totalElements : ((paginate.number * paginate.size)  +  paginate.size) }} de {{ paginate.totalElements }} registros 
        </span>
        <span *ngIf="!paginate.totalElements">
            Exibindo 0 a 0 de 0 registros
        </span>
    </div> 
    <div class="col-sm-8">
        <!-- pager -->
        <ul *ngIf="pages && pages.length" class="pagination stylepage">
            <li [ngClass]="{disabled:paginate.first}">
                <a (click)="setPage(0)">Primeiro</a>
            </li>
            <li [ngClass]="{disabled:paginate.first}" *ngIf="paginate.first">
                <a> Anterior</a>
            </li>
            <li [ngClass]="{disabled:paginate.first}" *ngIf="!paginate.first">
                    <a (click)="setPage(paginate.number - 1)">Anterior</a>
                </li>
            <li *ngFor="let page of pages" [ngClass]="{active:paginate.number + 1 === page}">
                <a (click)="setPage(page - 1)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:paginate.number === paginate.totalPages - 1}" *ngIf="!paginate.last">
                <a (click)="setPage(paginate.number + 1)">Próximo</a>
            </li>
            <li [ngClass]="{disabled:paginate.number === paginate.totalPages - 1}" *ngIf="paginate.last">
                    <a>Próximo</a>
                </li>
            <li [ngClass]="{disabled:paginate.last}">
                <a (click)="setPage(paginate.totalPages - 1)">Último</a>
            </li>
        </ul>
    </div>
</div>