<form name="form_multimedia" (ngSubmit)="fMultimedia.form.valid && upload()" #fMultimedia="ngForm" novalidate>
  <div class="form-group" [ngClass]="applyCssError(fMultimedia, mediaType)" [hidden]="!canChangeType">

      <div class="row">
          <div class="col-md-6">
            <label class="control-label">Tipo de Midia:</label>
            <div class="row">
              <div class="col-md-8">           
                <select class="dropdown" name="media_Type"  #mediaType="ngModel" 
                  [(ngModel)]="_fileData.mediaType" (change)="clear()" required>       
                  <option *ngFor="let item of type_file"
                    [value]="item.type"> {{ item.name }} </option>
                </select>   
              </div> 
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-select" *ngIf="selectedType !== undefined">
                Tamanho máximo do arquivo: {{ selectedType.size }} <br/>
                Extensões permitidas: {{ selectedType.accept }} <br/>
            </div>        
          </div>
      </div>
      <app-control-field-error [showError]="verifyValidSubmitted(fMultimedia, mediaType)" msgError="Selecione o tipo de arquivo">
      </app-control-field-error>   
  </div>
    
  <div class="form-group row">
    <div class="col-md-4">
      <input #fileInput type="file" class="btn btn-default" />
    </div>
    <div class="col-md-2 btn-upload">
      <button type="submit" class="btn btn-primary upload">Enviar</button>
    </div>
  </div>
</form>  
  <!-- <div class="form-group row col-md-12" [hidden]="!_mediaSrc">
    <app-multimedia [mediaType]="_fileData.mediaType" [mediaSrc]="_mediaSrc"></app-multimedia>
  </div> -->