<div class="container">
    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>  
        <div class="jumbotron">
          <div class="row">
            <div class="col">
              <div class="d-flex justify-content-center">
                <img class="img-logo" src="/assets/pir.png">
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                <label for="user">Email de recuperação</label>
                <input [(ngModel)]="user.email" name="email" #email="ngModel" class="form-control" placeholder="E-mail" required>
                <div *ngIf="f.submitted && !username.valid" class="help-block"> e-mail válido</div>
              </div>
            </div>
          </div>       
  
          <div class="row">
            <div class="col">
              <div class="form-group">                
                  <button class="btn btn-primary btn-md btn-block" name="submit">Enviar</button>                
              </div>
            </div>
          </div>
        </div>    
    </form>
  </div>