<app-modal></app-modal>
<simple-notifications></simple-notifications>
<div class="login-box" [ngStyle]="object">
    <div class="login-logo">
      <img src="./assets/pir.png">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
  
      <form #f="ngForm" novalidate (ngSubmit)="f.form.valid && save(f.value, f.valid)">

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>           
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" 
              required minlength="8" validateEqual="confirmPassword" reverse="true" #password="ngModel" placeholder="Nova senha">
          </div>
          <!-- <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
            Digite uma nova senha
          </small> -->
          <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="text-danger">    
            <small *ngIf="password.errors.required">
                Digite uma senha.
            </small>                                                       
            <small *ngIf="password.errors.minlength">
                A senha precisa ter no mínimo 8 caracteres.
            </small>                                                              
          </div>
          <!--<pre *ngIf="password.errors" class="margin-20">{{ password.errors | json }}</pre>-->
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-reply" aria-hidden="true"></i></span>           
            <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="user.confirmPassword" 
              required validateEqual="password" reverse="false" #confirmPassword="ngModel" placeholder="Repita a senha">
          </div>
          <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
            Senha incompatível
          </small>
          <!--<pre *ngIf="confirmPassword.errors" class="margin-20">{{ confirmPassword.errors | json }}</pre>-->
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-xs-12">         
            <button type="submit" class="btn btn-primary btn-md btn-block">ENVIAR</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      
  
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->