<simple-notifications  (onCreate)="created($event)"></simple-notifications>

<div class="content">
    <section class="content">
      <form name="form" (ngSubmit)="f.form.valid && saveData()" #f="ngForm" novalidate>
          <div class="box-header with-border">
            <h3 class="box-title"> Usuário
              <small> Cadastrar </small>
            </h3>
          </div>
          <div class="row">              
                <div class="col-md-6">
                  <div class="box box-primary">
                    <div class="box-body">
                      <!-- select profile-->
                      <div class="form-group" [ngClass]="applyCssError(f, profile)">
                        <label class="control-label">Perfil</label>
                        <select class="form-control" name="profile" id="user_profile"
                          [(ngModel)]="user.profile" #profile="ngModel" required>
                            <option *ngFor="let profile of profiles" [value]="profile.id">{{profile.title}}</option>
                        </select>
                        <app-control-field-error [showError]="verifyValidSubmitted(f, profile)" msgError="Selecione um perfil">                          
                        </app-control-field-error>                        
                      </div>
                       <!-- end select profile-->

                      <!-- select type-->
                      <div class="form-group" [ngClass]="applyCssError(f, type)">
                        <label class="control-label">Tipo de usuário</label>
                        <select class="form-control" name="type" id="user_type"
                          [(ngModel)]="user.type" #type="ngModel" (change)="selectType()" required>
                          <option *ngFor="let type of types" [value]="type.id">{{type.description}}</option>
                       </select>
                       <app-control-field-error [showError]="verifyValidSubmitted(f, type)" msgError="Selecione um tipo de usuário">                          
                       </app-control-field-error>
                      </div>
                      <!-- end select type-->

                      <div class="form-group" [ngClass]="applyCssError(f, login)">
                        <label class="control-label">Login</label>
                        <input type="text" [(ngModel)]="user.login" #login="ngModel" name="login" id="user_login" class="form-control" placeholder="Inserir Login ..." required>
                        <app-control-field-error [showError]="verifyValidSubmitted(f, login)" msgError="Digite um login">                          
                        </app-control-field-error>                        
                      </div>

                      <div class="form-group" [ngClass]="applyCssError(f, password)">
                        <label class="control-label">Senha</label>
                        <input type="password" [(ngModel)]="user.password" #password="ngModel" name="password" id="user_password" class="form-control" required minlength="8" placeholder="Inserir Senha ...">
                        <app-control-field-error [showError]="verifyValidSubmitted(f, password)" msgError="Digite uma senha. Mínimo 8 caracteres">                          
                        </app-control-field-error>
                      </div>

                      <div class="form-group" [ngClass]="applyCssError(f, name)">
                        <label class="control-label">Nome Completo</label>
                        <input type="text" #name ="ngModel"[(ngModel)]="user.name" name="full_name" id="user_name" class="form-control" placeholder="Inserir Nome Completo ..." required>
                        <app-control-field-error [showError]="verifyValidSubmitted(f, name)" msgError="Digite um nome">                          
                        </app-control-field-error>                        
                      </div>

                      <div class="form-group" [ngClass]="applyCssError(f, email)">
                        <label class="control-label">E-mail</label>
                        <input type="email" [(ngModel)]="user.email" #email="ngModel" name="email" id="user_email" class="form-control" placeholder="Inserir E-mail ..." ngModel email required>
                        <app-control-field-error [showError]="verifyValidSubmitted(f, email)" msgError="Digite um e-mail válido">                          
                        </app-control-field-error> 
                      </div>

                      <div class="form-group" [ngClass]="applyCssError(f, cpf)" *ngIf="!show_pjur">
                        <label class="control-label">CPF</label>
                        <input type="text" [(ngModel)]="person.cpf" #cpf="ngModel" name="cpf" id="user_cpf" class="form-control" placeholder="Inserir CPF ..." required>
                        <app-control-field-error [showError]="verifyValidSubmitted(f, cpf)" msgError="Digite um CPF">                          
                        </app-control-field-error>
                      </div>

                      <div class="form-group" [ngClass]="applyCssError(f, rg)" *ngIf="!show_pjur">
                        <label class="control-label">RG</label>
                        <input type="text" [(ngModel)]="person.rg" #rg="ngModel" name="rg" id="user_rg" class="form-control" placeholder="Inserir RG ..." required>
                        <app-control-field-error [showError]="verifyValidSubmitted(f, rg)" msgError="Digite um RG">                          
                        </app-control-field-error>
                      </div>

                      <div class="form-group" [ngClass]="applyCssError(f, emitter)" *ngIf="!show_pjur">
                          <label class="control-label">Orgão Emissor</label>
                          <input type="text" #emitter="ngModel" [(ngModel)]="person.emitter" name="rg_emitter" id="user_rgemitter" class="form-control" placeholder="Inserir Orgão Emissor ..." required>
                          <app-control-field-error [showError]="verifyValidSubmitted(f, emitter)" msgError="Digite um orgão emissor">                          
                          </app-control-field-error>
                      </div>

                      <div class="form-group" [ngClass]="applyCssError(f, ie)" *ngIf="show_pjur">
                        <label class="control-label">Inscrição Estadual</label>
                        <input type="text" #ie="ngModel" [(ngModel)]="org.ie" name="ie" id="user_ie" class="form-control" placeholder="Inserir Inscrição Estadual ..." required>
                        <app-control-field-error [showError]="verifyValidSubmitted(f, ie)" msgError="Digite uma inscrição estadual">                          
                        </app-control-field-error>
                      </div>

                      <div class="form-group" [ngClass]="applyCssError(f, cnpj)" *ngIf="show_pjur">
                        <label class="control-label">CNPJ</label>
                        <input type="text" [(ngModel)]="org.cnpj" #cnpj="ngModel" name="cnpj" id="user_cnpj" class="form-control" placeholder="Inserir CNPJ ..." required>
                        <app-control-field-error [showError]="verifyValidSubmitted(f, cnpj)" msgError="Digite um CNPJ">                          
                        </app-control-field-error>
                      </div>

                      <div class="form-group" [ngClass]="applyCssError(f, socialname)" *ngIf="show_pjur">
                        <label class="control-label">Razão Social</label>
                        <input type="text" #socialname="ngModel" [(ngModel)]="org.social_name" name="social_name" id="user_socialname" class="form-control" placeholder="Inserir Razão Social ..." required>
                        <app-control-field-error [showError]="verifyValidSubmitted(f, socialname)" msgError="Digite uma razão social">                          
                        </app-control-field-error>
                      </div>

                      <div class="form-group" [ngClass]="applyCssError(f, fantasyname)" *ngIf="show_pjur">
                        <label class="control-label">Nome Fantasia</label>
                        <input type="text" #fantasyname="ngModel" [(ngModel)]="org.fantasy_name" name="fantasy_name" id="user_fantasyname" class="form-control" placeholder="Inserir Nome Fantasia ..." required>
                        <app-control-field-error [showError]="verifyValidSubmitted(f, fantasyname)" msgError="Digite um nome fantasia">                          
                        </app-control-field-error>
                      </div>

                      <!-- select status-->
                      <div class="form-group" [ngClass]="applyCssError(f, status)">
                        <label class="control-label">Status</label>
                        <select class="form-control" #status="ngModel" name="status" id="user_status" required [(ngModel)]="user.status">
                          <option value="true">Ativo</option>
                          <option value="false">Inatí­vo</option>
                        </select>
                        <app-control-field-error [showError]="verifyValidSubmitted(f, status)" msgError="Selecione o status do usuário">                          
                        </app-control-field-error>
                      </div>
                       <!-- end select status-->
                    </div>
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="box box-primary">
                    <div class="box-body">
                        <div class="form-group" [ngClass]="applyCssError(f, cep)">
                          <label class="control-label">CEP</label>
                          <input type="text" #cep="ngModel" [(ngModel)]="user.address.postalcode" name="cep" id="user_cep" class="form-control" placeholder="Inserir CEP ..." required>
                          <app-control-field-error [showError]="verifyValidSubmitted(f, cep)" msgError="Digite um CEP">                          
                          </app-control-field-error>
                        </div>

                        <!-- select state -->
                        <div class="form-group" [ngClass]="applyCssError(f, state)">
                          <label class="control-label">Estado</label>
                          <select class="form-control" #state="ngModel" [(ngModel)]="user.address.state" name="state" id="user_state" (change)="loadCities($event.target.value)" required>
                              <option>--Selecione o estado--</option>
                            <option *ngFor='let s of states' [value]='s.id'>{{s.name}}</option>
                          </select>  
                          <app-control-field-error [showError]="verifyValidSubmitted(f, state)" msgError="Selecione um estado">                          
                          </app-control-field-error>
                        </div> 
                        <!-- end select state -->

                        <!-- select city-->
                        <div class="form-group" [ngClass]="applyCssError(f, city)">
                          <label class="control-label">Cidade</label>
                          <select class="form-control" #city="ngModel" name="city_id_fk" id="user_city" [(ngModel)]="user.address.city" required>
                              <option>--Selecione a cidade--</option>
                            <option *ngFor="let c of cities" [value]="c.id">{{c.name}}</option>
                          </select>
                          <app-control-field-error [showError]="verifyValidSubmitted(f, city)" msgError="Selecione uma cidade">                          
                          </app-control-field-error>
                        </div>

                        <!-- end select city-->
                        <div class="form-group" [ngClass]="applyCssError(f, neighborhood)">
                          <label class="control-label">Bairro</label>
                          <input type="text" #neighborhood="ngModel" [(ngModel)]="user.address.neighborhood" name="neighborhood" id="user_neighborhood" class="form-control" placeholder="Inserir Bairro ..." required>
                          <app-control-field-error [showError]="verifyValidSubmitted(f, neighborhood)" msgError="Digite um bairro">                          
                          </app-control-field-error> 
                        </div>

                        <div class="form-group" [ngClass]="applyCssError(f, street)">
                          <label class="control-label">Rua</label>
                          <input type="text" #street="ngModel" [(ngModel)]="user.address.street" name="street" id="user_street" class="form-control" placeholder="Inserir Rua ..." required>
                          <app-control-field-error [showError]="verifyValidSubmitted(f, street)" msgError="Digite uma rua">                          
                          </app-control-field-error>
                        </div>

                        <div class="form-group" [ngClass]="applyCssError(f, number)">
                          <label class="control-label">Número</label>
                          <input type="text" #number="ngModel" [(ngModel)]="user.address.number" name="number" id="user_number" class="form-control" placeholder="Inserir Número ..." required>
                          <app-control-field-error [showError]="verifyValidSubmitted(f, number)" msgError="Digite um número">                          
                          </app-control-field-error>
                        </div>

                        <div class="form-group">
                          <label class="control-label">Complemento</label>
                          <input type="text" [(ngModel)]="user.address.complement" name="complement" id="user_complement" class="form-control" placeholder="Inserir Complemento ...">
                        </div>
                    </div>
                  </div>
                  
                </div>
            
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <button class="btn btn-default btn-md btn-block" [routerLink]="['/user-list']" id="btn_return"> Voltar</button>
              </div>
            </div>
            <div class="col-md-3 col-md-offset-6">
              <div class="form-group">               
                <button class="btn btn-primary btn-md btn-block" name="submit" id="btn_save">Salvar</button>
               </div>
            </div>
          </div>
        </form>
        </section>
      </div>