<div class="content">
    <section class="content">
      <div class="box-header with-border">
        <h3 class="box-title">Registros</h3>
      </div>
      <div class="row">
        <form >
            <div class="col-md-6">
              <div class="box box-primary">
                <div class="box-body">
                  <!-- select profile-->
                  <div class="form-group">
                    <label>Perfil</label>
                    <select class="form-control">
                      <option>Administrador</option>
                      <option>Agente</option>
                      <option>Terceiro</option>
                    </select>
                  </div>
                  <!-- select profile-->
                  <div class="form-group">
                    <label>Tipo de usuário</label>
                    <select class="form-control">
                      <option>Pessoa Física</option>
                      <option>Pessoa Jurídica</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Login</label>
                    <input type="text" [(ngModel)]="user.username" class="form-control" placeholder="Inserir Login ...">
                  </div>
                  <div class="form-group">
                    <label>Senha</label>
                    <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Inserir Senha ...">
                  </div>
                  <div class="form-group">
                    <label>Nome Completo</label>
                    <input type="text" [(ngModel)]="user.full_name" name="full_name" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Inserir Nome Completo ...">
                  </div>
                  <div class="form-group">
                    <label>CPF</label>
                    <input type="text" [(ngModel)]="user.cpf" class="form-control" placeholder="Inserir CPF ...">
                  </div>
                  <div class="form-group">
                    <label>RG</label>
                    <input type="text" [(ngModel)]="user.rg" class="form-control" placeholder="Inserir RG ...">
                  </div>
                  <div class="form-group">
                    <label>Inscrição Estadual</label>
                    <input type="text" [(ngModel)]="user.ie" class="form-control" placeholder="Inserir Inscrição Estadual ...">
                  </div>
                  <div class="form-group">
                    <label>CNPJ</label>
                    <input type="text" [(ngModel)]="user.cnpj" class="form-control" placeholder="Inserir CNPJ ...">
                  </div>
                  <div class="form-group">
                    <label>Rasão Social</label>
                    <input type="text" [(ngModel)]="user.social_reason" class="form-control" placeholder="Inserir Rasão Social ...">
                  </div>
                  <div class="form-group">
                    <label>Nome Fantasia</label>
                    <input type="text" [(ngModel)]="user.nickname" class="form-control" placeholder="Inserir Fantasia ...">
                  </div>
                  <!-- select profile-->
                  <div class="form-group">
                    <label>Status</label>
                    <select class="form-control">
                      <option>Ativo</option>
                      <option>Inatívo</option>
                    </select>
                  </div>
                  <div class="form-group">
                      <button type="button" (click)="saveData()" class="btn btn-block btn-primary btn-flat">Salvar</button>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="box box-primary">
                <div class="box-body">
                    <div class="form-group">
                      <label>CEP</label>
                      <input type="text" [(ngModel)]="user.cep" class="form-control" placeholder="Inserir CEP ...">
                    </div>
                    <!-- select state -->
                    <div class="form-group">
                      <label>Estado</label>
                      <select class="form-control">
                        <option>option 1</option>
                        <option>option 2</option>
                      </select>
                    </div>
                    <!-- select city-->
                    <div class="form-group">
                      <label>Cidade</label>
                      <select class="form-control">
                        <option>option 1</option>
                        <option>option 2</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Bairro</label>
                      <input type="text" [(ngModel)]="user.neighborhood" class="form-control" placeholder="Inserir Bairro ...">
                    </div>
                    <div class="form-group">
                      <label>Rua</label>
                      <input type="text" [(ngModel)]="user.street" class="form-control" placeholder="Inserir Rua ...">
                    </div>
                    <div class="form-group">
                      <label>Número</label>
                      <input type="text" [(ngModel)]="user.number" class="form-control" placeholder="Inserir Número ...">
                    </div>
                    <div class="form-group">
                      <label>Complemento</label>
                      <input type="text" [(ngModel)]="user.complement" class="form-control" placeholder="Inserir Complemento ...">
                    </div>
                </div>
              </div>
              
            </div>
        </form>
      </div>
    </section>
  </div>