<simple-notifications></simple-notifications>
<app-modal> </app-modal>
<!-- <button data-toggle="modal" data-target="#modal-default" id="openModalButton">Open Modal</button> -->
<!-- <button data-toggle="modal" data-target="#modal-cancel" id="openModalCancel">Open Modal</button> -->
<div class="content_">
    <div class="content-top" *ngIf="url === '/usuarios/registro'">
        <div class="content_fa" *ngIf="isNewData"> <img class="icon" src="./assets/img/global/ic_usuarios.png"> Usuários > Cadastro </div>
        <div class="content_fa" *ngIf="!isNewData"> <img class="icon" src="./assets/img/global/ic_usuarios.png"> Usuários > Cadastro > Editar</div>
    </div>
    <div class="content-top" *ngIf="url !== '/usuarios/registro'">
        <div class="content_fa" *ngIf="isNewData"> <img class="icon" src="./assets/img/global/ic_usuarios.png"> Agente > Cadastro </div>
        <div class="content_fa" *ngIf="!isNewData"> <img class="icon" src="./assets/img/global/ic_usuarios.png"> Agente > Cadastro > Editar</div>
    </div>

    <section class="content_user">
        <div class="content-header ">
            <h5 class="content-title" *ngIf="url === '/usuarios/registro'">CADASTRO DE USUÁRIO</h5>
            <h5 class="content-title" *ngIf="url !== '/usuarios/registro'">CADASTRO DE AGENTE</h5>
        </div>
        <!-- <form name="form" (ngSubmit)=" saveData()" #f="ngForm" novalidate> -->
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li>
                    <img src="{{accountTab}}" />
                </li>
                <li>
                    <img src="{{personalTab}}" />
                </li>
                <li>
                    <img src="{{adressTab}}" />
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="content">
                        <section class="content">
                            <div class="box-header_1 with-border">
                                <h5 class="box-title"> Informações da Conta
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form name="form" (ngSubmit)="save(1,f1.valid)" id="f_1" #f1="ngForm" novalidate>
                                        <div class="box box-primary">
                                            <div class="box-body" *ngIf="hasdata || isNewData">
                                                <div class="row" *ngIf="!isAgent || url === '/usuarios/registro'">
                                                    <div class="col-sm-12">
                                                        <!-- select status-->
                                                        <div class="form-group" [ngClass]="applyCssError(f1, status)">
                                                            <label class="control-label">Status</label>
                                                            <select class="form-control" #status="ngModel" name="status" id="user_status" [(ngModel)]="user.status" required>
                                                                    <!-- <option disabled>Status</option> -->
                                                                    <option value="true">Ativo</option>
                                                                    <option value="false">Inatí­vo</option>
                                                                    </select>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, status)" msgError="Selecione o status do usuário">
                                                            </app-control-field-error>
                                                        </div>
                                                        <!-- end select status-->
                                                    </div>
                                                </div>
                                                <div class="row" *ngIf="!isAgent || url === '/usuarios/registro'">
                                                    <!-- select profile-->
                                                    <div class="col-sm-6">
                                                        <div class="form-group profile" [ngClass]="applyCssError(f1, profile)">
                                                            <label class="control-label">Perfil</label>
                                                            <select class="form-control" name="profile" id="user_profile" [(ngModel)]="user?.profile.id" #profile="ngModel" required>
                                                                    <!-- <option disabled> Perfil</option> -->
                                                                    <option *ngFor="let p of profiles" [value]="p.id" >{{p.title}}</option>
                                                                </select>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, profile)" msgError="Selecione um perfil">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <!-- end select profile-->

                                                    <!-- select type-->
                                                    <div class="col-sm-6">
                                                        <div class="form-group type" [ngClass]="applyCssError(f1, type)">
                                                            <label class="control-label">Tipo de usuário</label>
                                                            <select class="form-control" name="type" id="user_type" [(ngModel)]="user.type" #type="ngModel" (change)="selectType()" required>
                                                                    <!-- <option disabled >Tipo de Usuário</option> -->
                                                                    <option *ngFor="let type of types" [value]="type.id">{{type.description}}</option>
                                                                </select>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, type)" msgError="Selecione um tipo de usuário">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <!-- end select type-->
                                                </div>
                                                <!-- <div class="row" *ngIf="show_community"> -->
                                                <!-- select community-->
                                                <!-- <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Comunidade</label>
                                                            <select class="form-control" name="community" id="community" #community="ngModel" [(ngModel)]="user.community_id">
                                                                <option disabled >Comunidade</option>
                                                                <option *ngFor="let item of communities" [value]="item.id">{{item.name}}</option>
                                                            </select> -->
                                                <!-- <app-control-field-error [showError]="verifyValidSubmitted(f, community)" msgError="Selecione uma comunidade">
                                                        </app-control-field-error> -->
                                                <!-- </div>
                                                    </div>  -->
                                                <!-- end select community-->
                                                <!-- </div> -->
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, login)" *ngIf="!isAgent || url === '/usuarios/registro'">
                                                            <label class="control-label">Usuário</label>
                                                            <input type="text" [(ngModel)]="user.login" #login="ngModel" name="login" id="user_login" pattern="[\w,./_=?-].*" maxlength="30" class="form-control" placeholder="Usuário" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, login)" [field]="login" msgError="Digite um nome de usuário">
                                                            </app-control-field-error>
                                                            <!-- não permite espaços nas palavras: pattern="[\w,./_=?-]+" -->
                                                        </div>
                                                        <!-- PROFILE AGENT-->
                                                        <div class="form-group" *ngIf="isAgent && url !== '/usuarios/registro'">
                                                            <label class="label-control">Usuário: </label>
                                                            <span> {{ user.login }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, password)" *ngIf="isNewData">
                                                            <label class="control-label">Senha</label>
                                                            <input type="password" [(ngModel)]="user.password" #password="ngModel" name="password" id="user_password" pattern="[\w,./_=?-].*" maxlength="20" class="form-control" required minlength="8" placeholder="Inserir uma senha (Digite uma senha. Mínimo 8 caracteres)">
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, password)" [field]="password" msgError="">
                                                            </app-control-field-error>
                                                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                                                                <div *ngIf="password.errors.required">
                                                                    Digite uma senha.
                                                                </div>
                                                                <div *ngIf="password.errors.minlength">
                                                                    A senha precisa ter no mínimo 8 caracteres.
                                                                </div>
                                                                <div *ngIf="password.errors.maxlength">
                                                                    A senha precisa ter no máximo 20 caracteres.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" *ngIf="!isNewData">
                                                            <label class="control-label">Senha</label>
                                                            <input type="password" [(ngModel)]="user.password" #password="ngModel" name="password" id="user_password" maxlength="20" class="form-control" minlength="8" placeholder="Inserir uma senha (Digite uma senha. Mínimo 8 caracteres)">
                                                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                                                                <div *ngIf="password.errors.required">
                                                                    Digite uma senha. Mínimo 8 caracteres
                                                                </div>
                                                                <div *ngIf="password.errors.minlength">
                                                                    A senha precisa ter no mínimo 8 caracteres.
                                                                </div>
                                                                <div *ngIf="password.errors.maxlength">
                                                                    A senha precisa ter no máximo 20 caracteres.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="form-group" *ngIf="user.password !== undefined">
                                                            <label class="control-label">Senha</label>
                                                            <input type="password" [(ngModel)]="user.password" #password="ngModel" name="password" id="user_password" class="form-control" minlength="8" placeholder="Inserir uma senha (Digite uma senha. Mínimo 8 caracteres)">                                
                                                            
                                                        </div> -->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="content-control">
                                            <div class="control">
                                                <a href="{{previousTab}}" data-toggle="tab" (click)="isActive(false, 1, 0)" id="btn_previous">
                                                    <img src="./assets/img/global/ic_previous.png" />
                                                    <b>Anterior</b>
                                                </a>
                                                <a href="{{nextTab}}" data-toggle="tab" (click)="isActive(true, 1)" id="btn_next">
                                                    <b>Próximo</b>
                                                    <img src="./assets/img/global/ic_next.png" />
                                                </a>
                                                <button type="submit" id="btn_tab1"></button>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <button class="btn btn-default btn-block" (click)="openModal()" id="btn_return1"> Cancelar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <div class="content">
                        <section class="content">
                            <div class="box-header_1 with-border">
                                <h5 class="box-title"> Informações Pessoais
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form name="form" (ngSubmit)="save(2,f2.valid)" #f2="ngForm" novalidate>
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group left" [ngClass]="applyCssError(f2, firstname)">
                                                            <label class="control-label">Nome</label>
                                                            <input type="text" #firstname="ngModel" [(ngModel)]="first_name" name="first_name" id="first_name" pattern="[\w,./_=?-].*" maxlength="30" class="form-control" placeholder="Nome" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, firstname)" [field]="firstname" msgError="Digite um nome">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, lastname)">
                                                            <label class="control-label">Sobrenome</label>
                                                            <input type="text" #lastname="ngModel" [(ngModel)]="last_name" name="last_name" id="last_name" pattern="[\w,./_=?-].*" maxlength="40" class="form-control" placeholder="Sobrenome" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, lastname)" [field]="lastname" msgError="Digite um nome">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, email)">
                                                            <label class="control-label">E-mail</label>
                                                            <input type="text" [(ngModel)]="user.email" #email="ngModel" name="email" id="user_email" pattern="[\w,./_=?-].*" maxlength="60" class="form-control" placeholder="Inserir E-mail ..." email required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, email)" [field]="email" msgError="Digite um E-mail válido">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group left" [ngClass]="applyCssError(f2, rg)" *ngIf="!show_pjur">
                                                            <label class="control-label">RG</label>
                                                            <input type="text" [(ngModel)]="person.rg" #rg="ngModel" name="rg" id="user_rg" class="form-control" mask="000000000000000" placeholder="Inserir RG ..." required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, rg)" msgError="Digite um RG">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, emitter)" *ngIf="!show_pjur">
                                                            <label class="control-label">Orgão Emissor</label>
                                                            <input type="text" #emitter="ngModel" [(ngModel)]="person.emitter" name="rg_emitter" id="user_rgemitter" pattern="[\w,./_=?-].*" maxlength="15" class="form-control" placeholder="Inserir Orgão Emissor ..." required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, emitter)" [field]="emitter" msgError="Digite um Orgão Emissor">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, cpf)" *ngIf="!show_pjur">
                                                            <label class="control-label">CPF</label>
                                                            <!-- <input type="text" [(ngModel)]="person.cpf" [textMask]="{mask: maskCPF}"  #cpf="ngModel" name="cpf"  id="user_cpf" class="form-control" placeholder="CPF" required> -->
                                                            <input type="text" dropSpecialCharacters="true" mask="000.000.000-00" [(ngModel)]="person.cpf" #cpf="ngModel" name="cpf" id="user_cpf" class="form-control" placeholder="CPF" required>

                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, cpf)" msgError="CPF Inválido">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group left" [ngClass]="applyCssError(f2, ie)" *ngIf="show_pjur">
                                                            <label class="control-label">Inscrição Estadual</label>
                                                            <input type="text" #ie="ngModel" [(ngModel)]="entity.ie" name="ie" id="user_ie" pattern="[\w,./_=?-].*" class="form-control" placeholder="Inscrição Estadual" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, ie)" [field]="ie" msgError="Digite uma inscrição estadual">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, cnpj)" *ngIf="show_pjur">
                                                            <label class="control-label">CNPJ</label>
                                                            <input type="number" [(ngModel)]="entity.cnpj" #cnpj="ngModel" name="cnpj" pattern="[0-9]{14}" id="user_cnpj" minlength="14" maxlength="14" class="form-control" placeholder="CNPJ" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, cnpj)" msgError="CNPJ Inválido">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, socialname)" *ngIf="show_pjur">
                                                            <label class="control-label">Razão Social</label>
                                                            <input type="text" #socialname="ngModel" [(ngModel)]="entity.social_name" name="social_name" id="user_socialname" pattern="[\w,./_=?-].*" class="form-control" placeholder="Razão Social" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, socialname)" [field]="socialname" msgError="Digite uma razão social">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, fantasyname)" *ngIf="show_pjur">
                                                            <label class="control-label">Nome Fantasia</label>
                                                            <input type="text" #fantasyname="ngModel" [(ngModel)]="entity.fantasy_name" name="fantasy_name" id="user_fantasyname" pattern="[\w,./_=?-].*" class="form-control" placeholder="Nome Fantasia" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, fantasyname)" [field]="fantasyname" msgError="Digite um nome fantasia">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-control">
                                            <div class="control">
                                                <a href="{{previousTab}}" data-toggle="tab" (click)="isActive(false, 2, 0)" id="btn_previous">
                                                    <img src="./assets/img/global/ic_previous.png" />
                                                    <b>Anterior</b>
                                                </a>
                                                <a href="{{nextTab}}" data-toggle="tab" (click)="isActive(true, 2)" id="btn_next">
                                                    <b>Próximo</b>
                                                    <img src="./assets/img/global/ic_next.png" />
                                                </a>
                                                <button type="submit" id="btn_tab2"></button>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <button class="btn btn-default btn-block" (click)="openModal()" id="btn_return2"> Cancelar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_3">
                    <div class="content">
                        <section class="content">
                            <div class="box-header_1 with-border">
                                <h5 class="box-title"> Informações de Endereço
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form name="form" (ngSubmit)="saveData(f3.valid) && save(3, f3.valid)" #f3="ngForm" novalidate>
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group left" [ngClass]="applyCssError(f3, street)">
                                                            <label class="control-label">Rua</label>
                                                            <input type="text" #street="ngModel" [(ngModel)]="user.address.street" name="street" id="user_street" pattern="[\w,./_=?-].*" maxlength="40" class="form-control" placeholder="Rua" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f3, street)" [field]="street" msgError="Digite uma rua">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f3, number)">
                                                            <label class="control-label">Número</label>
                                                            <input type="text" #number="ngModel" [(ngModel)]="user.address.number" name="number" id="user_number" pattern="[\w,./_=?-].*" maxlength="20" class="form-control" placeholder="Número" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f3, number)" [field]="number" msgError="Digite um número">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group left" [ngClass]="applyCssError(f3, neighborhood)">
                                                            <label class="control-label">Bairro</label>
                                                            <input type="text" #neighborhood="ngModel" [(ngModel)]="user.address.neighborhood" name="neighborhood" id="user_neighborhood" pattern="[\w,./_=?-].*" maxlength="40" class="form-control" placeholder="Bairro" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f3, neighborhood)" [field]="neighborhood" msgError="Digite um bairro">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f3, complement)">
                                                            <label class="control-label">Complemento</label>
                                                            <input type="text" [(ngModel)]="user.address.complement" #complement="ngModel" name="complement" id="user_complement" pattern="[\w,./_=?-].*" maxlength="40" class="form-control" placeholder="Complemento">
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f3, complement)" [field]="complement">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group left" [ngClass]="applyCssError(f3, cep)">
                                                            <label class="control-label">CEP</label>
                                                            <!-- <input type="text" #cep="ngModel" [textMask]="{mask: maskCEP}" [(ngModel)]="user.address.postalcode" name="cep" id="user_cep" class="form-control" placeholder="CEP" required> -->
                                                            <input type="text" #cep="ngModel" mask="00000-000" [(ngModel)]="user.address.postalcode" name="cep" id="user_cep" class="form-control" placeholder="CEP" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f3, cep)" msgError="Digite um CEP">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group left" [ngClass]="applyCssError(f3, state)">
                                                            <label class="control-label">Estado</label>
                                                            <select class="form-control" #state="ngModel" [(ngModel)]="user.address?.city?.state.id" name="state" id="user_state" (change)="loadCities($event.target.value)" required>
                                                                        <!-- <option disabled> Estado </option> -->
                                                                        <option *ngFor='let s of states' [value]='s.id'>{{s.name}}</option>
                                                                        </select>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f3, state)" msgError="Selecione um estado">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f3, city)">
                                                            <label class="control-label">Cidade</label>
                                                            <select class="form-control" #city="ngModel" name="city_id_fk" id="user_city" [(ngModel)]="user?.address?.city.id" required>
                                                                        <!-- <option> Cidade </option> -->
                                                                        <option *ngFor="let c of cities" [value]='c.id'>{{c.name}}</option>
                                                                    </select>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f3, city)" msgError="Selecione uma cidade">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-control">
                                            <div class="control">
                                                <a href="{{previousTab}}" data-toggle="tab" (click)="isActive(false, 3, 0)" id="btn_previous">
                                                    <img src="./assets/img/global/ic_previous.png" />
                                                    <b>Anterior</b>
                                                </a>
                                                <button type="submit" id="btn_tab3"></button>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <button class="btn btn-default btn-block" (click)="openModal()" id="btn_return3"> Cancelar</button>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-md-offset-6">
                                            <div class="form-group save" *ngIf="isNewData">
                                                <button class="btn btn-primary" (click)="isSave()" name="submit" id="btn_save" [disabled]="!enable_save">Cadastrar</button>
                                            </div>
                                            <div class="form-group save" *ngIf="!isNewData">
                                                <button class="btn btn-primary" (click)="isSave()" name="submit" id="btn_save" [disabled]="!enable_save">Salvar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <!-- <div class="content-control">
                        <div class="control">
                            <a href="{{previousTab}}" data-toggle="tab" (click)="isActive(false)" id="btn_previous">
                                <img src="../../../assets/img/global/ic_previous.png" />
                                <b>Anterior</b>
                            </a>
                            <a href="{{nextTab}}" data-toggle="tab" (click)="isActive(true)" id="btn_next">
                                <b>Próximo</b>
                                <img src="../../../assets/img/global/ic_next.png" />
                            </a>
                        </div>
                    </div> -->
                <div class="row footer">
                    <!-- <div class="col-md-3">
                            <div class="form-group">
                                <button class="btn btn-default btn-block" (click)="openModal()" id="btn_return"> Cancelar</button>
                            </div>
                        </div> -->
                    <!-- <div class="col-md-3 col-md-offset-6">
                            <div class="form-group save">
                                <button class="btn btn-primary btn-block" name="submit" id="btn_save" [disabled]="!enable_save">Cadastrar</button>                                
                            </div>
                        </div> -->
                </div>
            </div>
            <!-- /.tab-content -->
        </div>


        <!-- </form> -->
    </section>
</div>

<!-- Modal Add -->
<!-- <div class="modal fade" id="modal-default" (click)='backToList()'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content" [ngStyle]="object">
            <div class="modal-body">
                <div class="modal-icon">
                    <i class="material-icons" style="font-size: 60px;">done</i>
                </div>
                <h5> Cadastro realizado com Sucesso!</h5>
            </div>
            <div class="modal-footer" data-dismiss="modal" id="btn_confirm" (click)='backToList()'>
                <label>Fechar</label>
            </div>
        </div> -->
<!-- /.modal-content -->
<!-- </div> -->
<!-- /.modal-dialog -->
<!-- </div> -->
<!-- /.modal -->

<!-- Modal Cancel -->
<!-- <div class="modal fade" id="modal-cancel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" [ngStyle]="object">
            <div class="modal-body">
                <div class="modal-icon">                    
                    <i class="material-icons" style="font-size: 60px;">error_outline</i>
                </div>
                <h5> Deseja realmente <strong>CANCELAR</strong> ? 999</h5>
            </div>
            <div class="modal-footer" data-dismiss="modal"> 
                    <div class="modal-btn-cancel">
                        <button type="button" class="btn btn-default btn-md btn-block" data-dismiss="modal" id="btn_cancel">Não</button>
                    </div>
                    <div class="modal-btn-confirm">
                        <button type="button" (click)="backToList()" class="btn btn-primary btn-md btn-block" data-dismiss="modal" id="btn_confirm">Sim</button>
                    </div>
            </div>
        </div> -->
<!-- /.modal-content -->
<!-- </div> -->
<!-- /.modal-dialog -->
<!-- </div> -->
<!-- /.modal -->