<simple-notifications></simple-notifications>
<div class="content_">
    <div class="content-top">
        <div class="content_fa"> <i class="fa fa-home"></i> Comunidades > Registros > Editar</div>
    </div>

    <section class="content_user">
        <div class="content-header ">
            <h5 class="content-title"> COMUNIDADE</h5>
        </div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li>
                    <!-- <a class="tab-pane active" (click)="walk(0)" href="#tab_1" data-toggle="tab"> -->
                    <!-- <label class="lb-tab"> Informações da comunidade </label> -->
                    <img src="{{ sectionInfoTab }}" />
                    <!-- </a>               -->
                </li>
                <li>
                    <!-- <a class="tab-pane" (click)="walk(2)" href="#tab_3" data-toggle="tab"> -->
                    <!-- <label class="lb-tab service"> Serviços</label> -->
                    <img src="{{ sectionServicesTab }}" />
                    <!-- </a> -->
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="content">
                        <section class="content">
                            <div class="box-header_1 with-border">
                                <h5 class="box-title"> Informações da Comunidade
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form name="form" (ngSubmit)="save(1,f1.valid)" id="f_1" #f1="ngForm" novalidate>
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group profile" [ngClass]="applyCssError(f1, regional)">
                                                            <label class="control-label">Regional</label>
                                                            <select class="form-control" #regional="ngModel" [(ngModel)]="community.regional.id" (change)="getUnities()" name="community_regional" id="community_regional" required>
                                                                <option [ngValue]="item.id" *ngFor="let item of regionais"> {{ item.name }} </option>
                                                            </select>
                                                            <!-- <input class="form-control" #regional="ngModel" [(ngModel)]="community.regional" name="community_regional" pattern="[\w,./_=?-].*" id="community_regional" maxlength="60" placeholder="Regional" required> -->
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, regional)" [field]="regional" msgError="Selecione um regional">
                                                            </app-control-field-error>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, uc)">
                                                            <label class="control-label">UC</label>
                                                            <select class="form-control" #uc="ngModel" [(ngModel)]="community.unity.id" name="community_uc" id="community_uc" (change)="getCities()" required>
                                                                <option [ngValue]="item.id" *ngFor="let item of unities"> {{ item.name }} </option>
                                                            </select>
                                                            <!-- <input class="form-control" #uc="ngModel" [(ngModel)]="community.uc" name="community_uc" id="community_uc" pattern="[\w,./_=?-].*" maxlength="60" placeholder="UC" required> -->
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, uc)" [field]="uc" msgError="Digite um UC">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, name)">
                                                            <label class="control-label">Nome da comunidade</label>
                                                            <input type="text" #name="ngModel" [(ngModel)]="community.name" name="name" id="name" pattern="[\w,./_=?-].*" maxlength="60" class="form-control" placeholder="Nome completo da comunidade" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, name)" [field]="name" msgError="Digite um nome completo da comunidade">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group profile" [ngClass]="applyCssError(f1, country)">
                                                            <label class="control-label">Município</label>
                                                            <select class="form-control" #country="ngModel" name="community_country" id="community_country" [(ngModel)]="community.city.id" required>
                                                                <option [ngValue]="item.id" *ngFor="let item of cities"> {{ item.name }} </option>
                                                            </select>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, country)" msgError="Selecione um município">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, zone)">
                                                            <label class="control-label">Zona de Localização</label> <br/>
                                                            <label class="radio-inline">                          
                                                                <input type="radio" #zone="ngModel" name="location_zone" [(ngModel)]="community.zone" id="zone" value="URBAN" required>
                                                                Urbana
                                                            </label>
                                                            <label class="radio-inline"> 
                                                                <input type="radio" #zone="ngModel" name="location_zone" [(ngModel)]="community.zone" id="zone" value="RURAL" required>
                                                                Rural
                                                            </label>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, zone)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && waterSupply_list.length === 0 }">
                                                            <label class="control-label">Fornecimento de água</label> <br/>
                                                            <label class="checkbox-inline" *ngFor="let item of _waterSupply">                          
                                    <input type="checkbox" name="waterSupply"
                                      id="waterSupply"
                                      [value]="item.type"
                                      [checked]="item.checked"
                                      (change)="verifyCheckbox(2, $event)" required>
                                      {{ item.type }} 
                                  </label>
                                                            <div *ngIf="f1.submitted && waterSupply_list.length === 0" class="help-block"> Escolha uma ou mais alternativas</div>

                                                            <!-- <select class="form-control"  #waterSupply="ngModel" name="waterSupply" [(ngModel)]="community.water_supply" id="waterSupply" required>
                                    <option value="Encanada"> Encanada </option>
                                    <option value="Tratada"> Tratada </option>
                                    <option value="Poços"> Poços </option>
                                    <option value="Caixa d'água"> Caixa d'água </option>
                                  </select> -->
                                                            <!-- <app-control-field-error [showError]="verifyValidSubmitted(f1, waterSupply)" msgError="Selecione o tipo de fornecimento de água">
                                  </app-control-field-error> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, hasEletricity)">
                                                            <label class="control-label">Fornecimento de energia elétrica</label> <br/>
                                                            <label class="radio-inline">                          
                                                              <input type="radio" #hasEletricity="ngModel" name="hasEletricity" [(ngModel)]="community.has_eletricity" id="hasEletricity" [value]="true" required>
                                                              Sim
                                                            </label>
                                                            <label class="radio-inline"> 
                                                              <input type="radio" #hasEletricity="ngModel" name="hasEletricity" [(ngModel)]="community.has_eletricity" id="hasEletricity" [value]="false" required>
                                                              Não
                                                            </label>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, hasEletricity)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, garbageDestination)">
                                                            <label class="control-label">Destino do lixo</label>
                                                            <select class="form-control" #garbageDestination="ngModel" name="garbage_destination" [(ngModel)]="community.garbage_destination" id="garbage_destination" required>
                                                              <option value="Reciclagem"> Reciclagem </option>
                                                              <option value="Incineração"> Incineração </option>
                                                              <option value="Depósito a céu aberto">  Depósito a céu aberto </option>
                                                              <option value="Aterro sanitário">  Aterro sanitário </option>
                                                              <option value="Coleta">  Coleta </option>
                                                            </select>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, garbageDestination)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, accessVia)">
                                                            <label class="control-label">Vias de acesso à comunidade</label>
                                                            <select class="form-control" #accessVia="ngModel" name="access_via" [(ngModel)]="community.access_via" id="access_via" required>
                                                              <option value="Estradas"> Estradas </option>
                                                              <option value="Rios"> Rios </option>
                                                            </select>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, accessVia)" msgError="Selecione uma via de acesso ä comunidade">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, mainIncome)">
                                                            <label class="label-control"> Principal fonte de renda da comunidade</label>
                                                            <select class="form-control" #mainIncome="ngModel" name="main_income" [(ngModel)]="community.main_income" id="main_income" required>
                                                              <option value="pesca">Pesca</option>
                                                              <option value="farinha">Farinha</option>
                                                              <option value="caça">Caça</option>
                                                              <option value="roçado"> Roçado</option>
                                                              <option value="outra"> Outra</option>
                                                            </select>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, mainIncome)" msgError="Digite a principal fonte de renda da comunidade">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, sourceOfIncomeOther)" *ngIf="community.main_income === 'Outra'">
                                                            <label class="label-control"> Especifique</label>
                                                            <input class="form-control" #sourceOfIncomeOther="ngModel" name="sourceOfIncome_other" [(ngModel)]="community.sourceOfIncomeOther" id="sourceOfIncome_other" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, sourceOfIncomeOther)" msgError="Especifique a fonte de renda">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-control">
                                            <div class="control">
                                                <a href="{{previousTab}}" data-toggle="tab" (click)="isActive(false, 1, 0)" id="btn_previous">
                                                    <img src="./assets/img/global/ic_previous.png" />
                                                    <b>Anterior</b>
                                                </a>
                                                <a href="{{nextTab}}" data-toggle="tab" (click)="isActive(true, 1)" id="btn_next">
                                                    <b>Próximo</b>
                                                    <img src="./assets/img/global/ic_next.png" />
                                                </a>
                                                <button type="submit" id="btn_tab1"></button>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-default btn-block" (click)="openModal()" id="btn_return1"> Cancelar</button>
                                            </div>
                                        </div> -->
                                    </form>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <div class="content">
                        <section class="content">
                            <div class="box-header_1 with-border">
                                <h5 class="box-title"> Serviços da Comunidade
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form name="form" (ngSubmit)="saveData(f1.valid, f2.valid) && save(3, f2.valid)" #f2="ngForm" novalidate>
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group left" [ngClass]="applyCssError(f2, healthService)">
                                                            <label class="control-label">Serviços de saúde na comunidade</label>
                                                            <input type="text" #healthService="ngModel" name="health_service" pattern="[\w,./_=?-].*" maxlength="60" [(ngModel)]="community.health_service" id="health_service" class="form-control" placeholder="serviços de saúde existentes na comunidade" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, healthService)" [field]="healthService" msgError="Digite os serviços de saúde existentes na comunidade">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, hasKindergarten)">
                                                            <label class="control-label">Escolas de Ensino Infantil</label> <br/>
                                                            <label class="radio-inline">                          
                                                                <input type="radio" #hasKindergarten="ngModel" name="hasKindergarten" [(ngModel)]="community.has_kindergarten" id="hasKindergarten" [value]="true" required>
                                                                Sim
                                                            </label>
                                                            <label class="radio-inline"> 
                                                                <input type="radio" #hasKindergarten="ngModel" name="hasKindergarten" [(ngModel)]="community.has_kindergarten" id="hasKindergarten" [value]="false" required>
                                                                Não
                                                            </label>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, hasKindergarten)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, hasElementarySchool)">
                                                            <label class="control-label">Escolas de Ensino Fundamental</label> <br/>
                                                            <label class="radio-inline">                          
                                                                <input type="radio" #hasElementarySchool="ngModel" name="hasElementarySchool" [(ngModel)]="community.has_elementary_school" id="hasElementarySchool" [value]="true" required>
                                                                Sim
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" #hasElementarySchool="ngModel" name="hasElementarySchool" [(ngModel)]="community.has_elementary_school" id="hasElementarySchool" [value]="false" required>
                                                                Não
                                                            </label>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, hasElementarySchool)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, hasHighSchool)">
                                                            <label class="control-label">Escolas de Ensino Médio</label> <br/>
                                                            <label class="radio-inline">                          
                                                                    <input type="radio" #hasHighSchool="ngModel" name="hasHighSchool" [(ngModel)]="community.has_high_school" id="hasHighSchool" [value]="true" required>
                                                                    Sim
                                                                </label>
                                                            <label class="radio-inline">
                                                                    <input type="radio" #hasHighSchool="ngModel" name="hasHighSchool" [(ngModel)]="community.has_high_school" id="hasHighSchool" [value]="false" required>
                                                                    Não
                                                                </label>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, hasHighSchool)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6" [ngClass]="applyCssError(f2, hasCollege)">
                                                        <div class="form-group">
                                                            <label class="control-label">Escolas de Educação Superior</label> <br/>
                                                            <label class="radio-inline">                          
                                                                <input type="radio" #hasCollege="ngModel" name="hasCollege" [(ngModel)]="community.has_college" id="hasCollege" [value]="true" required>
                                                                Sim
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" #hasCollege="ngModel" name="hasCollege" [(ngModel)]="community.has_college" id="hasCollege" [value]="false" required>
                                                                Não
                                                            </label>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, hasCollege)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, hasCommunityCenter)">
                                                            <label class="control-label">Centro Comunitário</label> <br/>
                                                            <label class="radio-inline">                          
                                                                <input type="radio" #hasCommunityCenter="ngModel" name="hasCommunityCenter" [(ngModel)]="community.has_community_center" id="hasCommunityCenter" [value]="true" required>
                                                                Sim
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" #hasCommunityCenter="ngModel" name="hasCommunityCenter" [(ngModel)]="community.has_community_center" id="hasCommunityCenter" [value]="false" required>
                                                                Não
                                                            </label>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, hasCommunityCenter)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, hasReligiousPlace)">
                                                            <label class="control-label">Local Religioso</label> <br/>
                                                            <label class="radio-inline">                          
                                                                <input type="radio" #hasReligiousPlace="ngModel" name="hasReligiousPlace" [(ngModel)]="community.has_religious_place" id="hasReligiousPlace" [value]="true" required>
                                                                Sim
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" #hasReligiousPlace="ngModel" name="hasReligiousPlace" [(ngModel)]="community.has_religious_place" id="hasReligiousPlace" [value]="false" required>
                                                                Não
                                                            </label>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, hasReligiousPlace)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, hasCulturalEvents)">
                                                            <label class="control-label">Eventos Culturais</label> <br/>
                                                            <label class="radio-inline">                          
                                                                <input type="radio" #hasCulturalEvents="ngModel" name="hasCulturalEvents" [(ngModel)]="community.has_cultural_events" id="hasCulturalEvents" [value]="true" required>
                                                                Sim
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" #hasCulturalEvents="ngModel" name="hasCulturalEvents" [(ngModel)]="community.has_cultural_events" id="hasCulturalEvents" [value]="false" required>
                                                                Não
                                                            </label>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, hasCulturalEvents)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, hasPatron)">
                                                            <label class="control-label">Patrono</label> <br/>
                                                            <label class="radio-inline">                          
                                                                <input type="radio" #hasPatron="ngModel" name="hasPatron" [(ngModel)]="community.has_patron" id="hasPatron" [value]="true" required>
                                                                Sim
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" #hasPatron="ngModel" name="hasPatron" [(ngModel)]="community.has_patron" id="hasPatron" [value]="false" required>
                                                                Não
                                                            </label>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, hasPatron)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && culturalProduction_list.length === 0 }">
                                                            <label class="control-label">Produções culturais</label> <br/>
                                                            <label class="checkbox-inline" *ngFor="let item of _culturalProducion">                          
                                                                <input type="checkbox" name="culturalProduction"  
                                                                id="culturalProduction" [value]="item.type" 
                                                                [checked]="item.checked"
                                                                (change)="verifyCheckbox(1, $event)" required>
                                                                {{ item.type }}
                                                            </label>
                                                            <div *ngIf="f2.submitted && culturalProduction_list.length === 0" class="help-block"> Escolha uma ou mais alternativas</div>

                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, hasCommunityLeaders)">
                                                            <label class="control-label">Existem líderes comunitário</label> <br/>
                                                            <label class="radio-inline">                          
                                                                <input type="radio" #hasCommunityLeaders="ngModel" name="hasCommunityLeaders" [(ngModel)]="community.has_community_leaders" id="hasCommunityLeaders" [value]="true" required>
                                                                Sim
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" #hasCommunityLeaders="ngModel" name="hasCommunityLeaders" [(ngModel)]="community.has_community_leaders" id="hasCommunityLeaders" [value]="false" required>
                                                                Não
                                                            </label>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, hasCommunityLeaders)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-control">
                                            <div class="control">
                                                <a href="{{previousTab}}" data-toggle="tab" (click)="isActive(false, 2, 0)" id="btn_previous">
                                                    <img src="./assets/img/global/ic_previous.png" />
                                                    <b>Anterior</b>
                                                </a>
                                                <button type="submit" id="btn_tab2"></button>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-default" (click)="openModal()" id="btn_return3">
                                                    <span *ngIf="isNewData">Cancelar</span>   <span *ngIf="!isNewData">Voltar</span> 
                                                </button>
                                            </div>
                                        </div> -->
                                        <div class="col-md-12">
                                            <div class="form-group save">
                                                <button class="btn btn-primary" (click)="isSave()" name="submit" id="btn_save" [disabled]="!enable_save" *ngIf="isNewData && canCreate">Cadastrar</button>
                                                <button class="btn btn-primary" (click)="isSave()" name="submit" id="btn_save" [disabled]="!enable_save" *ngIf="!isNewData && canUpdate"> Salvar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="row footer">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="button" class="btn btn-default" (click)="onCancel()" id="btn_return3">
                                <span *ngIf="isNewData">Cancelar</span>   <span *ngIf="!isNewData">Voltar</span> 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- </form> -->
    </section>
</div>

<app-modal></app-modal>

<!-- Modal Add -->
<!-- <div class="modal fade" id="modal-default" (click)='backToList()'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content" [ngStyle]="object">
            <div class="modal-body">
                <div class="modal-icon">
                    <i class="material-icons" style="font-size: 60px;">done</i>
                </div>
                <h5> Cadastro realizado com Sucesso!</h5>
            </div>
            <div class="modal-footer" data-dismiss="modal" id="btn_confirm" (click)='backToList()'>
                <label>Fechar</label>
            </div>
        </div> -->
<!-- /.modal-content -->
<!-- </div> -->
<!-- /.modal-dialog -->
<!-- </div> -->
<!-- /.modal -->