<simple-notifications></simple-notifications>
<!-- <button data-toggle="modal" data-target="#modal-default" id="openModalButton">Open Modal</button> -->
<!-- <button data-toggle="modal" data-target="#modal-cancel" id="openModalCancel">Open Modal</button> -->
<div class="content_">
    <div class="content-top">
        <div class="content_fa"> <i class="fa fa-user"></i> COmunidade > Cadastro</div>
    </div>

    <section class="content_user">
      <div class="content-header ">
          <h5 class="content-title">CADASTRO DE COMUNIDADE</h5>
      </div>
      <form name="form" (ngSubmit)="f.form.valid && saveData()" #f="ngForm" novalidate>
          <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab"> Dados de Identificação</a></li>
              <li><a href="#tab_2" data-toggle="tab"> Recursos</a></li>
              <li><a href="#tab_3" data-toggle="tab">Serviços</a></li>  
            
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
              <div class="content">
                <section class="content">
                  <div class="box-header with-border">
                      <h5 class="box-title"> Informações da Comunidade
                      </h5>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="box box-primary">
                        <div class="box-body">
                          <div class="row">
                            <div class="col-sm-6">
                                  <!-- select UC-->
                              <div class="form-group" [ngClass]="applyCssError(f, uc)">
                                <label class="control-label">UC</label>
                                <select class="form-control" #uc name="uc" id="community_uc" required>
                                    <option disabled>UC</option>
                                    <option value="true">UC 1</option>
                                    <option value="false">UC 2</option>
                                    </select>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, uc)" msgError="Selecione o UC">
                                </app-control-field-error>
                              </div>
                                <!-- end select UC-->
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group profile" [ngClass]="applyCssError(f, regional)">
                                <label class="control-label">Regional</label>
                                <input class="form-control" name="community_regional" id="community_regional" #regional placeholder="Regional" required>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, regional)" msgError="Selecione um regional">
                                </app-control-field-error>
                              </div>
                            </div> 
                          </div>
                          <div class="row">
                            
                            <div class="col-sm-6">
                              <div class="form-group profile" [ngClass]="applyCssError(f, community)">
                                <label class="control-label">Comunidade</label>
                                <input class="form-control" name="community" id="community" #community placeholder="Comunidade" required>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, community)" msgError="Selecione uma comunidade">
                                </app-control-field-error>
                              </div>
                            </div>     
                            <div class="col-sm-6">
                              <div class="form-group profile" [ngClass]="applyCssError(f, county)">
                                <label class="control-label">Município</label>
                                <input class="form-control" name="community_county" id="community_county" #county placeholder="Município" required>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, county)" msgError="Selecione um município">
                                </app-control-field-error>
                              </div>
                            </div>  
                              
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group" [ngClass]="applyCssError(f, nameComunnity)">
                                <label class="control-label">Nome completo da comunidade</label>
                                <input type="text" #nameComunnity name="name_community" id="name_community" class="form-control" placeholder="Nome completo da comunidade" required>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, nameComunnity)" msgError="Digite um nome completo da comunidade">
                                </app-control-field-error>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                            <label class="control-label">Zona de Localização</label> <br/>
                              <label class="radio-inline">                          
                                <input type="radio" #locationZoneUrban name="location_zone" id="location_zone_urban" value="urban">
                                Urbana
                              </label>
                              <label class="radio-inline"> 
                                <input type="radio" #locationZoneRural name="location_zone" id="location_zone_rural" value="rural">
                                Rural
                              </label>
                            </div>
                          </div> 
                        </div>
                      </div>
                    </div>
                  </div>

                </section>
              </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2">
              <div class="content">
                <section class="content">
                  <div class="box-header with-border">
                      <h5 class="box-title"> Recursos da Comunidade
                      </h5>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="box box-primary">
                        <div class="box-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label class="control-label">Fornecimento de água</label> <br/>
                                <label class="checkbox-inline">                          
                                  <input type="checkbox" #waterService name="water_service" id="water_service1" value="">
                                  Encanada
                                </label>
                                <label class="checkbox-inline"> 
                                  <input type="checkbox" #waterService name="water_service" id="water_service2" value="">
                                  Tratada
                                </label>
                                <label class="checkbox-inline"> 
                                  <input type="checkbox" #waterService name="water_service" id="water_service3" value="">
                                  Poços
                                </label>
                                <label class="checkbox-inline"> 
                                  <input type="checkbox" #waterService name="water_service" id="water_service4" value="">
                                  Caixa d'água
                                </label>
                              </div>
                            </div>                             
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label class="control-label">Fornecimento de energia elétrica</label> <br/>
                                <label class="radio-inline">                          
                                  <input type="radio" #locationZoneUrban name="location_zone" id="location_zone_urban" value="urban">
                                  Sim
                                </label>
                                <label class="radio-inline"> 
                                  <input type="radio" #locationZoneRural name="location_zone" id="location_zone_rural" value="rural">
                                  Não
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label class="control-label">Destino do lixo</label> <br/>
                                <label class="checkbox-inline">                          
                                  <input type="checkbox" #garbageDestination name="garbage_destination" id="garbage_destination1" value="">
                                  Reciclagem
                                </label>
                                <label class="checkbox-inline"> 
                                  <input type="checkbox" #garbageDestination name="garbage_destination" id="garbage_destination2" value="">
                                  Incineração
                                </label>
                                <label class="checkbox-inline"> 
                                  <input type="checkbox" #garbageDestination name="garbage_destination" id="garbage_destination3" value="">
                                  Depósito a céu aberto
                                </label>
                                <label class="checkbox-inline"> 
                                  <input type="checkbox" #garbageDestination name="garbage_destination" id="garbage_destination4" value="">
                                  Aterro sanitário
                                </label>
                                <label class="checkbox-inline"> 
                                  <input type="checkbox" #garbageDestination name="garbage_destination" id="garbage_destination4" value="">
                                  Coleta
                                </label>
                              </div>
                            </div>                            
                          </div>

                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label class="control-label">Vias de acesso ä comunidade</label> <br/>
                                <label class="checkbox-inline">                          
                                  <input type="checkbox" #waterService name="water_service" id="water_service1" value="">
                                  Estrada
                                </label>
                                <label class="checkbox-inline"> 
                                  <input type="checkbox" #waterService name="water_service" id="water_service2" value="">
                                  Rios
                                </label>                                  
                              </div>
                            </div>                            
                          </div>

                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group" [ngClass]="applyCssError(f, communityIncome)">
                                    <label class="label-control"> Principal fonte de renda da comunidade</label>
                                    <input class="form-control" #communityIncome name="community_income" id="community_income" required>
                                    <app-control-field-error [showError]="verifyValidSubmitted(f, communityIncome)" msgError="Digite a principal fonte de renda da comunidade">
                                    </app-control-field-error>
                                  </div>
                              </div>                                
                            </div>                      
                            
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_3">
              <div class="content">
                <section class="content">                                
                  <div class="box-header with-border">
                      <h5 class="box-title"> Serviços da Comunidade
                      </h5>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="box box-primary">
                        <div class="box-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group left" [ngClass]="applyCssError(f, communityHealth)">
                                <label class="control-label">Serviços de saúde existentes na comunidade</label>
                                <input type="text" #communityHealth name="community_health" id="community_health" class="form-control" placeholder="serviços de saúde existentes na comunidade" required>
                                <app-control-field-error [showError]="verifyValidSubmitted(f, communityHealth)" msgError="Digite os serviços de saúde existentes na comunidade">
                                </app-control-field-error>
                              </div>
                            </div>                            
                          </div>
                          <div class="row">
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label class="control-label">Escolas de Educação Infantil</label> <br/>
                                <label class="radio-inline">                          
                                  <input type="radio" #childrenEducationSchools name="childrenEducationSchools" id="childrenEducationSchools1" value="">
                                  Sim
                                </label>
                                <label class="radio-inline"> 
                                  <input type="radio" #childrenEducationSchools name="childrenEducationSchools" id="childrenEducationSchools2" value="">
                                  Não
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label class="control-label">Escolas de Ensino Fundamental</label> <br/>
                                <label class="radio-inline">                          
                                  <input type="radio" #elementarySchools name="elementary_schools" id="elementary_schools1" value="">
                                  Sim
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" #elementarySchools name="elementary_schools" id="elementary_schools2" value="">
                                  Não
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label class="control-label">Escolas de Ensino Médio</label> <br/>
                                <label class="radio-inline">                          
                                  <input type="radio" #highSchools name="highSchools" id="highSchools1" value="">
                                  Sim
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" #highSchools name="highSchools" id="highSchools2" value="">
                                  Não
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label class="control-label">Escolas de Educação Superior</label> <br/>
                                <label class="radio-inline">                          
                                  <input type="radio" #higherEducationSchools name="higherEducationSchools" id="higherEducationSchools1" value="">
                                  Sim
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" #higherEducationSchools name="higherEducationSchools" id="higherEducationSchools2" value="">
                                  Não
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label class="control-label">Centro Comunitário</label> <br/>
                                <label class="radio-inline">                          
                                  <input type="radio" #communityCenter name="community_center" id="community_center1" value="">
                                  Sim
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" #communityCenter name="community_center" id="community_center2" value="">
                                  Não
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label class="control-label">Local Religioso</label> <br/>
                                <label class="radio-inline">                          
                                  <input type="radio" #placeReligion name="place_religion" id="place_religion1" value="">
                                  Sim
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" #placeReligion name="place_religion" id="place_religion2" value="">
                                  Não
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label class="control-label">Eventos Culturais</label> <br/>
                                <label class="radio-inline">                          
                                  <input type="radio" #culturalEvents name="cultural_events" id="cultural_events1" value="">
                                  Sim
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" #culturalEvents name="cultural_events" id="cultural_events2" value="">
                                  Não
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label class="control-label">Patrono</label> <br/>
                                <label class="radio-inline">                          
                                  <input type="radio" #patron name="patron" id="patron1" value="">
                                  Sim
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" #patron name="patron" id="patron2" value="">
                                  Não
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="control-label">Produções culturais</label> <br/>
                                <label class="checkbox-inline">                          
                                  <input type="checkbox" #culturalProductions name="cultural_productions" id="cultural_productions1" value="">
                                  Artesanato
                                </label>
                                <label class="checkbox-inline"> 
                                  <input type="checkbox" #culturalProductions name="cultural_productions" id="cultural_productions2" value="">
                                  Música
                                </label>
                                <label class="checkbox-inline"> 
                                  <input type="checkbox" #culturalProductions name="cultural_productions" id="cultural_productions3" value="">
                                  Dança
                                </label>
                              </div>                                
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="control-label">Existem líderes comunitário</label> <br/>
                                <label class="radio-inline">                          
                                  <input type="radio" #communityLeaders name="communityLeaders" id="communityLeaders1" value="">
                                  Sim
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" #communityLeaders name="communityLeaders" id="communityLeaders2" value="">
                                  Não
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                               
                </section>
              </div>
            </div>
            <!-- /.tab-pane -->
            <div class="content-control">
                <!-- <div class="control">
                    <a href="{{previousTab}}" data-toggle="tab" (click)="isActive(false)" id="btn_previous">
                        <img src="../../../assets/img/global/ic_previous.png" />
                        <b>Anterior</b>
                    </a>
                    <a href="{{nextTab}}" data-toggle="tab" (click)="isActive(true)" id="btn_next">
                        <b>Próximo</b>
                        <img src="../../../assets/img/global/ic_next.png" />
                    </a>
                </div> -->
            </div>
            <div class="row footer">
                <div class="col-md-3">
                    <div class="form-group">
                        <button type="button" class="btn btn-default btn-block" (click)="openModal()" id="btn_return"> Cancelar</button>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-6">
                    <div class="form-group save">
                        <button type="submit" class="btn btn-primary btn-block" name="submit" id="btn_save" [disabled]="!enable_save">Cadastrar</button>                                
                    </div>
                </div>
            </div>
          </div>
          <!-- /.tab-content -->
        </div>
      </form>
    </section>
</div>

<app-modal-cancel> </app-modal-cancel> 

<!-- Modal Add -->
<!-- <div class="modal fade" id="modal-default" (click)='backToList()'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content" [ngStyle]="object">
            <div class="modal-body">
                <div class="modal-icon">
                    <i class="material-icons" style="font-size: 60px;">done</i>
                </div>
                <h5> Cadastro realizado com Sucesso!</h5>
            </div>
            <div class="modal-footer" data-dismiss="modal" id="btn_confirm" (click)='backToList()'>
                <label>Fechar</label>
            </div>
        </div> -->
        <!-- /.modal-content -->
    <!-- </div> -->
    <!-- /.modal-dialog -->
<!-- </div> -->
<!-- /.modal -->
