<simple-notifications></simple-notifications>
<div class="content_">
    <div class="content-top">
        <div class="content_fa"> <i class="fa fa-users"></i> Família > Criança > Lista de Crianças</div>

    </div>
    <section class="content">
        <div class="box">
            <div class="box-header_ ">
                <h5 class="box-title">LISTA DE CRIANÇAS</h5>
            </div>
            <div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="_filter" class="dataTables_filter">
                            <label>
                            <input type="text" class="form-control form-border " name="name" id="filter" (keyup)="getChildren()" 
                              [(ngModel)]="filter.name"  mask="SSSSSSSSSSSSSSSSSSSS"  maxlength="20" placeholder="Nome da criança">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table id="example2" class="table">
                        <thead>
                            <tr>
                                <th class="tbl-left">NOME
                                    <span class="glyphicon"></span>
                                </th>
                                <th class="tbl-left">DATA DE NASCIMENTO
                                    <span class="glyphicon"></span>
                                </th>
                                <th class="tbl-left">RESPONSÁVEL
                                    <span class="glyphicon"></span>
                                </th>
                                <th colspan="2" class="tbl-center"> AÇÃO</th>
                            </tr>
                        </thead>

                        <div class="feedback" *ngIf="children.length === 0">
                            <i class="material-icons" style="font-size: 24px;">error_outline</i>
                            <span class="feedback-message">Nenhum registro encontrado</span>
                        </div>

                        <tbody *ngIf="children.length !== 0 && hasdata">
                            <tr *ngFor="let item of children">
                                <td class="tbl-left">
                                    {{ item.name }}
                                </td>
                                <td class="tbl-left">
                                    {{ item.birth }}
                                </td>
                                <td class="tbl-left">
                                    <div *ngFor="let resp of item.responsible">
                                        {{ resp.name }}
                                    </div>
                                </td>
                                <td class="tbl-right">
                                    <a (click)="toView(item)" id="btn_details" title="Ver detalhes">
                                        <i class="large material-icons">visibility</i>
                                    </a>
                                </td>
                                <td class="tbl-right">
                                    <a title="Editar" id="btn_edit" (click)="setChild(item)" *ngIf="canUpdate">
                                        <i class="fa fa-pencil fa-fw"></i>
                                    </a>
                                </td>
                                <!-- <td class="tbl-right">
                  <a href="" [title]="item.status === true ? 'Desativar': 'Ativar'"
                    data-toggle="modal" data-target="#modal-default"
                    (click)="changeStatus(item)" id="btn_status">              
                    <i [ngClass]="item.status === true ? 'fa fa-toggle-on': 'fa fa-toggle-off' "  aria-hidden="true"></i>
                  </a>      
              </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <app-paginate [paginate]="paginate" (eventPage)="setPage($event)"></app-paginate>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal Disable -->
<!-- <div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" [ngStyle]="object">
      <div class="modal-body">
        <div class="modal-icon">
            <i class="material-icons" style="font-size: 60px;">error_outline</i>
        </div>          
          <h5  *ngIf="child.status"> Deseja realmente desativar a criança <strong> {{ child.name | uppercase}} </strong> ?</h5>
          <h5  *ngIf="!child.status"> Deseja realmente ativar a criança <strong> {{ child.name | uppercase}} </strong> ?</h5>
      </div>
      <div class="modal-footer_">
        <div class="modal-btn-cancel">
            <button type="button" class="btn btn-default btn-md btn-block" data-dismiss="modal" id="btn_cancel">Cancelar</button>
        </div>
        <div class="modal-btn-confirm">
            <button type="button" (click)="disableEnableChild()" class="btn btn-primary btn-md btn-block" data-dismiss="modal" id="btn_confirm">Confirmar</button>
        </div>
      </div>
    </div>
 
  </div>

</div> -->
<!-- /.modal -->