<simple-notifications></simple-notifications>
<mat-card class="card"> 
    <mat-card-header>
        <div class="content_">
        <div class="row">
            <div class="col-sm-6">
                <i [ngClass]="chapter.status === true ? 'fa fa-circle active_circle': 'fa fa-circle inactive_circle' "  aria-hidden="true"></i>
            </div>
            <div class="col-sm-6">
                <ul class="dp-version">
                    <li class="dropdown">
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li class="dropdown-header">Capítulo {{ chapter.number }}</li>
                            <li *ngFor="let item of chapter.versions" class="dp-version">                               
                                <a [title]="item.status === true ? 'Desativar': 'Ativar'"                                  
                                    (click)="disableAbleVersion(item)" id="btn_status"> 
                                        Versão {{ item.version }}           
                                    <i [ngClass]="item.status === true ? 'fa fa-toggle-on': 'fa fa-toggle-off' "  aria-hidden="true"></i>
                                </a>     
                            </li>                                                
                        </ul>
                    </li>
                </ul>    
            </div>                        
        </div>  
        <div class="row">
            <div class="col-sm-12">
               Capítulo {{ chapter.number }}
            </div>
        </div>       
       <div class="row">
           <div class="col-sm-12">
                Versão {{ chapter.version }}
           </div>
       </div>
       <div class="row">
            <div class="col-sm-12">
                <h5> {{ chapter.title }} </h5>
            </div>
        </div>
    </div>
    </mat-card-header> 
  
    <i class="fa fa-picture-o" aria-hidden="true"></i>   
    <div class="content-card">
        <!-- <div [innerHtml]="chapter.description"></div> -->
        <div class="progress progress-xs">
            <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" 
                aria-valuenow="chapter.percentage" aria-valuemin="0" aria-valuemax="100" 
                [style.width]="chapter.percentage + '%'">                
            </div>
        </div>
        <span class="percentage"><strong> {{ chapter.percentage }}%</strong> Completo</span>
    </div>    

    <mat-card-actions>
        <button class="btn btn-primary btn-xs">
            <i class="fa fa-pencil" aria-hidden="true" (click)='editChapter()'> </i> Editar
        </button>       
        <button class="btn btn-primary btn-xs" (click)="disableAbleVersion(chapter)">
            <i [ngClass]="chapter.status === true ? 'fa fa-toggle-on': 'fa fa-toggle-off' " aria-hidden="true"></i>           
            {{ chapter.status === true ? 'Desativar': 'Ativar'}} 
        </button>       
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>

<!-- Modal Disable -->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" [ngStyle]="object">
            <div class="modal-body">
              <div class="modal-icon">
                  <i class="material-icons" style="font-size: 60px;">error_outline</i>
              </div>        
                <h5  *ngIf="version.status"> Deseja realmente desativar a <strong> versão  {{ version.version }} </strong> ?</h5>
                <h5  *ngIf="!version.status"> Deseja realmente ativar a <strong> versão {{ version.version }} </strong> ?</h5>
            </div>
            <div class="modal-footer_">
              <div class="modal-btn-cancel">
                  <button type="button" class="btn btn-default btn-md btn-block" data-dismiss="modal" id="btn_cancel">Cancelar</button>
              </div>
              <div class="modal-btn-confirm">
                  <button type="button" (click)="disableAbleVersion()" class="btn btn-primary btn-md btn-block" data-dismiss="modal" id="btn_confirm">Confirmar</button>
              </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
      <!-- /.modal -->
      