.content_ {
    width: 100%;
    height: 120px;
    padding-right: 20px;
}

.btn-primary {
    background-color: #373d40;
    border-color: #373d40;
}

.box.box-primary {
    border-top-color: #373d40;
}

/* CARD */

.card {
    width: 220px;
    height: 298px;
    float: left;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.dp-version {
    list-style: none;
    float: right;
}

.col-sm-6 {
    padding: 0;
}

.mat-card-header-text {
    margin: 0;
}

.mat-card {
    padding: 14px;
}

.mat-card-actions {
    padding: 0;
}

i.fa.fa-picture-o {
    font-size: 50px;
}

button.btn.btn-primary.btn-xs {
    margin: 15px;
}

i.fa.fa-circle.active_circle {
    color: #58c537;
}

/* .card-reveal.i.fa.fa-circle {    
    margin-top: 16px;
} */

i.fa.fa-circle.inactive_circle {
    color: #a60000;
}

i.fa.fa-circle {
    float: left;
    /* margin-top: 10px; */
}

.content-card {
    padding-top: 15px;
}

/* VERSIONS*/
ul.list-version {
    /* padding-top: 40px; */
}
.version {
    background-color: #f4f4f4;
    margin-top: 1px;
    height: 250px;
}
li.version-header {
    background-color: #e8e8e8;
    height: 40px;
    text-align: center;
    padding: 8px 40px;
    font-weight: bold;
    color: gray;
    font-size: 16px;
    margin-bottom: 10px;
}
span.version-title {
    margin-right: 80px;
}
li.li-version {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    border-top: 1px solid #d2d6de;
}

i.fa.fa-toggle-on, i.fa.fa-toggle-off, i.fa.fa-plus {
    font-size: 28px;
    color: #373d40;
}
span.version-add {
    margin-right: 78px;
}
/* //PROGRESS BAR// */
.progress.progress-xs {
    background-color: #b7b4b4;
}
.progress-bar-primary {
    background-color: #373d40;
}

/* MATERIALIZE*/
.row {
    margin-bottom: 5px!important;
}

.card.sticky-action {
    height: 368px;
    width: 234px;
    margin: 25px 30px;
}

.card.sticky-action .card-content {
    padding: 0px 15px;
    height: 250px;
    text-align: center;
}

/* .card[_ngcontent-c7] .card-content[_ngcontent-c7] {
    padding: 0px 15px;
    height: 250px;
}

.card[_ngcontent-c7][_ngcontent-c7] {
    height: 368px;
    width: 234px;
} */

.card.sticky-action .card-action {
    padding: 10px;
}

.card.sticky-action .card-reveal {
    padding: 10px;
    top: 97%;
    width: 90%;
    left: 5%;
}
/* .card[_ngcontent-c7] .card-action[_ngcontent-c7]{
    padding: 10px;
}
.card[_ngcontent-c7] .card-reveal[_ngcontent-c7] {
    padding: 10px;
    top: 97%;
    width: 90%;
    left: 5%;
} */
button.btn.status, button.btn.edit {
    height: 26px;
    width: 90px;
    line-height: 26px;
    padding: 0 0.8rem;
    border-radius: 0.5em;
    background-color: #373d40;
}

/* .btn[_ngcontent-c7] {

} */

button.btn.status:hover, button.btn.edit:hover {
    background-color: #373d40;
}

/* .btn[_ngcontent-c7]:hover, .btn-large[_ngcontent-c7]:hover {
    background-color: #373d40;
} */

/* .card[_ngcontent-c7] {
    margin: 25px 30px;
} */

.card.sticky-action .card-title {
    font-size: 18px;
}
/* .card[_ngcontent-c7] .card-title[_ngcontent-c7] {
    font-size: 18px;
} */
span.card-title.activator.grey-text.text-darken-4 {
    padding-top: 10px;
}
span.card-title.grey-text.text-darken-4 {
    height: 40px;
    border-bottom: 1px solid #e8e6e6;
}
button.btn.edit {
    margin-right: 30px;
}
.chapter-progress {
    margin-bottom: 15px;
    padding: 0px 25px;
}
.ic_image {
    height: 70px;
}
button.btn.status:focus, button.btn.edit:focus {
    background-color: #444;
}
/* .btn[_ngcontent-c7]:focus, .btn-large[_ngcontent-c7]:focus, .btn-floating[_ngcontent-c7]:focus {
    background-color: #444;
} */

/* END CARD*/

/* MODAL */
.modal-footer {
    padding: 0;
    margin-top: 90px;
}

.modal-content {
    height: 200px;
}

.modal-btn-cancel {
    float: right;  
}

.modal-body[_ngcontent-c5] {
    padding-top: 30px;
    margin-top: 20px;
}
.modal-icon {
    text-align: center;
}

button#btn_cancel {
    width: 150px;
    height: 45px;
    border-radius: 0;
}

button#btn_confirm {
    width: 150px;
    height: 45px;
    border-radius: 0;
}

/* END MODAL*/