.content_ {
    width: 100%;
    padding-right: 20px;
}

.btn-primary {
    background-color: #373d40;
    border-color: #373d40;
}

.box.box-primary {
    border-top-color: #373d40;
}

/* CARD */

.card {
    width: 210px;
    height: 280px;
    float: left;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.dp-version {
    list-style: none;
    float: right;
}

.col-sm-6 {
    padding: 0;
}

.mat-card-header-text {
    margin: 0;
}

.mat-card {
    padding: 14px;
}

.mat-card-actions {
    padding: 0;
}

i.fa.fa-picture-o {
    font-size: 50px;
}

button.btn.btn-primary.btn-xs {
    margin: 15px;
}

i.fa.fa-circle.active_circle {
    color: #00a65a;
}

i.fa.fa-circle.inactive_circle {
    color: #a60000;
}

i.fa.fa-circle {
    float: left;
}

.content-card {
    padding-top: 15px;
}

/* //PROGRESS BAR// */
.progress {
    margin-bottom: 2px;
}
.progress-bar-primary {
    background-color: #373d40;
}

/* END CARD*/