<simple-notifications></simple-notifications>
<div class="card sticky-action">
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">                
        </span>
        <div class="row">
            <div class="col-sm-12">
                <h5>Formulário</h5>
                <h5>{{ form.description }}</h5>
            </div>
        </div>
        <i class="large material-icons">format_list_bulleted</i>
    </div>
    <div class="card-action">
        <button class="btn edit" (click)="editForm()">
            <i class="fa fa-pencil"  aria-hidden="true"> </i> Editar
        </button>
    </div>
</div>