.title{
    display: inline-block;
   /* font-size: 18px; */
    margin: 0;
    line-height: 1;
    /* font-size: 24px; */
    font-family: unset;
    color: #373d40;
}
.profile_name{
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
    font-size: 24px;
    color: #373d40;
    font-family: unset;
}
.box-content-permission{
    border: 1px solid rgb(68, 66, 66);
    /* border-radius: 10px; */
    height: 500px;
}
.panel-title-permission{
    border-top: 5px solid rgb(68, 66, 66); 
    height: 50px; 
    font-weight: bold;
    border-bottom: 1px solid #b5aeae;
}
.panel-title-permission h2{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.panel.panel-primary {
    height: 100%;
}

.box-footer{
    text-align: right;
}

.col-xs-1{
    width: 5%;
    height: 500px;
    
    border: 1px solid red;
}
.form-control {
    border: 0px;
    height: 91%;
    margin: 0px;
}