<div class="content">
    <section class="content">
      <div class="row">
          <div class="box-header with-border" >
            <h3 class="title" >Perfil - </h3>
            <span class="profile_name">{{ nameProfile }}</span>
            </div>
            <div class="box-body col-centered">
                <div class="col-xs-4" >         
                  <div class="box-content-permission">
                      <div class="panel-title-permission">
                          <h2 class="panel-title">Permissões Ativadas</h2>
                      </div>  
                     <select multiple class="form-control" [(ngModel)]='page_allowed' name="pg_allowed" >
                        <option class="list-group-item">Dashboard/*</option>
                        <option class="list-group-item">Agente/*</option>
                        <option class="list-group-item">Agente/listar</option>
                        <option class="list-group-item">Agente/performace-individual</option>
                        <option class="list-group-item">Agente/detalhes</option>
                        <option class="list-group-item">Mapa/mostrar-agentes</option>
                        <option class="list-group-item">Formulários/*</option>
                        <option class="list-group-item">Formulários/criar-template</option>
                    </select>
                  </div>     
                </div>
                <div class="col-xs-1">  
                  <div class="row">
                      <button type="button" class="btn btn-default btn-lg">
                          <span class="glyphicon glyphicon-menu-left"></span>
                      </button>
                  </div>
                  <div class="row">
                      <button type="button" class="btn btn-default btn-lg">
                          <span class="glyphicon glyphicon-menu-right"></span>
                      </button>
                  </div>                    
                </div>
                <div class="col-xs-4" >         
                    <div class="box-content-permission">
                        <div class="panel-title-permission">
                            <h2 class="panel-title">Sessões</h2>
                        </div>  
                        <select multiple class="form-control" [(ngModel)]='page_not_allowed' name="pg_not_allowed">
                            <option class="list-group-item" ></option>
                            <!-- <option class="list-group-item">Agente/*</option>
                            <option class="list-group-item">Agente/listar</option>
                            <option class="list-group-item">Agente/performace-individual</option>
                            <option class="list-group-item">Agente/detalhes</option>
                            <option class="list-group-item">Mapa/mostrar-agentes</option>
                            <option class="list-group-item">Formulários/*</option>
                            <option class="list-group-item">Formulários/criar-template</option> -->
                        </select>
                    </div>     
                </div>           
            </div>    
            <!-- <div class="box-footer">
              <button class="btn btn-primary" (click)="saveRules()"> Salvar</button>
            </div> -->
        </div>
      </section>
    </div>
    