.title{
    display: inline-block;
     /* font-size: 16px;  */
    margin: 0;
    line-height: 1;
    /* font-size: 24px; */
    font-family: unset;
    color: #373d40;
}
.profile_name{
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
    font-size: 24px;
    color: #373d40;
    font-family: unset;
}
.box-content-permission{
    border: 1px solid #c3c1c1;
    min-width: 230px;
    height: 400px;
}
.panel-title-permission{
    border-top: 5px solid #b5aeae; 
    height: 50px; 
    font-weight: bold;
    border-bottom: 1px solid #c3c1c1;
    padding: 5px 0;
}
.panel-title-permission h2{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.panel.panel-primary {
    height: 100%;
}

.box-footer{
    text-align: right;
}

.col-xs-1{
    /* width: 5%; */
    height: 400px;    
    /* border: 1px solid red; */
    vertical-align: middle;
    text-align: center;
    padding: 150px 0;
}
.form-control {
    border: 0px;
    height: 91%;
    margin: 0px;
    overflow: auto;
    border-bottom: 1px solid #ccc;
}
.row.btn-left {
    margin-bottom: 20px;
}   

.btn-default {
    background-color: #ddd;
    border-color: #ddd;
}

.box-header {
    padding: 35px 22px 30px;
}

.box-header h4 {
    padding-bottom: 20px;
}

option.list-group-item {
    border: 0;
}

.btn-primary {
    width: 100px;
    background-color:#373d40;
    border-color: #373d40;
}