/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.swal-button-container {
    width: 100%;
    margin: 0px;
}

button.swal-button.swal-button--confirm.swal-btn-close {
    width: 100%;
    margin-right: 10px;
    border-radius: 0;
    background-color: #373d40!important;
    padding: 19px 28px;
    margin-top: 40px!important;
}

button.swal-button.swal-button--ok.swal-btn-ok {
    padding: 14px 28px;
    margin: 10px;
    background-color: #373d40!important;
}

.swal-text {
    text-align: center;
}

.swal-footer {
    padding: 0!important;
}


/* SweetAlert2*/


/* .swal2-popup.swal2-modal.swal2-show {
    height: 250px;
} */

@media (max-height: 719px) {
    .wrapper {
        min-height: 663px!important;
    }
}

@media (min-height: 720px) {
    .wrapper {
        min-height: 960px!important;
    }
}

.content-top {
    height: 64px;
    background-color: #F0F1F3;
    margin-top: 50px;
}

@media screen and (max-height: 450px) {
    .main-sidebar {
        padding-top: 15px;
    }
    .main-sidebar a {
        font-size: 18px;
    }
}

.tooltip.right {
    border-right-color: #00acd6;
}


/* UI */

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse img.copyright,
    .sidebar-mini.sidebar-collapse span.lb-logout {
        display: none;
    }
}

.box-header {
    background-color: #DFE8ED;
    height: 52px;
    padding: 18px;
    color: #335164;
    font-size: 14px;
    font-weight: bold;
    /* font-family: Roboto-Bold; */
}

.box-header_1 {
    background-color: #66ACD7;
    height: 32px;
    /* padding-bottom: 10px; */
    padding-top: 0.1px;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    font-family: Roboto-Thin;
}

.box-header_ {
    /* background-image: url('/assets/img/global/shape.png')!important; */
    background-color: #0075BD;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: Roboto-Regular;
    font-size: 16px;
    height: 64px;
    padding: 16px 25px;
}

img.ic_add {
    position: relative;
    padding-right: 12px;
    padding-bottom: 1px;
}

.ql-toolbar.ql-snow {
    border: 1px solid #DFE8ED;
    background-color: #DFE8ED;
}


/* TABLE */

table,
a {
    color: #335164;
}

.table>tbody>tr>td,
.table>thead>tr>th {
    padding: 8px 28px;
}

thead {
    background-color: #DFE8ED;
    border-top: 0;
    color: #335164;
    font-size: 12px;
}

tbody {
    background-color: #FFFFFF;
    color: #4E6D80;
    font-size: 12px;
}

.tbl-right {
    padding: 8px 22px 0 0!important;
}

img.icon {
    margin: 12px;
    margin-left: 20px;
}

.content_fa {
    color: #335164;
}

.skin-blue .content-header {
    padding-top: 19px;
    padding-left: 24px;
    background-color: #DFE8ED;
    height: 70px;
    color: #304E60;
    font-size: 16px;
}

a#btn_next,
a#btn_previous {
    color: #224860;
}

.btn-primary {
    background-image: url('/assets/img/global/btn_primary.png')!important;
    background-repeat: repeat;
}

.btn-default {
    background-color: #dfe8ed;
    width: 125px;
}

.limit-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
}

.pointer {
    cursor: pointer;
}