/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.swal-button-container {
    width: 100%;
    margin: 0px;
}

button.swal-button.swal-button--confirm.swal-btn-close {
    width: 100%;
    margin-right: 10px;
    border-radius: 0;
    background-color: #373d40!important;
    padding: 19px 28px;
    margin-top: 40px!important;
}

button.swal-button.swal-button--ok.swal-btn-ok {
    padding: 14px 28px;
    margin: 10px;
    background-color: #373d40!important;
}

.swal-footer {
    padding: 0!important;
}

/* SweetAlert2*/
/* .swal2-popup.swal2-modal.swal2-show {
    height: 250px;
} */

@media (max-height: 719px) {
    .wrapper {
        min-height: 663px!important;
    }
}

@media (min-height: 720px) {
    .wrapper {
        min-height: 960px!important;
    }
}

.content-top {
    margin-top: 50px;
}

@media screen and (max-height: 450px) {
    .main-sidebar {padding-top: 15px;}
    .main-sidebar a {font-size: 18px;}
}

.tooltip.right {
    border-right-color: #00acd6;
  }

  /* UI */
  @media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse img.copyright,
    .sidebar-mini.sidebar-collapse span.lb-logout {
        display: none;
      }
  }
  
  .box-header_ {
    background-image: url('/assets/img/global/shape.png')!important;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: Roboto-Regular;
    font-size: 16px;
    height: 64px;
    padding: 16px 25px;
}

img.ic_add {
    position: relative;
    padding-right: 12px;
    padding-bottom: 1px;
}

/* TABLE */
table, a {
    color: #335164;
}

thead{
    background-color: #DFE8ED;
    border-top: 0;
    color: #335164;
    font-size: 14px;
}

tbody {
    background-color: #FFFFFF;
    color: #4E6D80;
    font-size: 12px;
}