section.content {
    padding-top: 0;
}

.form-group,
.form-control {
    color: grey;
}

.btn {
    min-width: 90px;
}

.box.box-primary.question {
    padding-left: 18px;
    padding-right: 18px;
}

.btn-primary {
    /* width: 100px; */
    background-color: #373d40;
    border-color: #373d40;
}

.box {
    background-color: #FBFBFB;
    margin-bottom: 0;
    box-shadow: none;
}

.box-header .box-title,
.title-answer {
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

.title-answer {
    padding-bottom: 5px;
}

.box.box-primary {
    border-top: 1px solid #ddd;
}

.box-body {
    background-color: #FBFBFB;
    padding: 0;
    padding-top: 10px;
}

.col-sm-12.save {
    text-align: right;
    padding-right: 34px;
}

.modal-header.answer {
    background-color: #ccc;
}

.row.list-answers {
    padding-left: 20px;
    padding-right: 20px;
}