<div [formGroup]="parentQuestion">
    <div formArrayName="questions">
        <div *ngFor="let question of questions.controls; let i=index" [formGroupName]="i" class="panel panel-default">
            <div class="panel-heading">
                <span>Pergunta {{i + 1}}</span>
                <!-- <div class="text-right">
                    <mat-slide-toggle formControlName="required" color="primary" [checked]="required" [disabled]="required">
                        Obrigatório
                    </mat-slide-toggle>
                </div> -->
            </div>
            <div class="form-group" [ngClass]="applyCssError(question, 'description')">
                <div class="col-xs-12">
                    <mat-form-field style.fontSize="26px">
                        <input matInput placeholder="Título da pergunta" formControlName="description" required>
                    </mat-form-field>
                    <app-control-field-error [showError]="verifyValidSubmitted(question, 'description')" msgError="Digite um título para a pergunta">
                    </app-control-field-error>
                </div>
            </div>
            <div class="form-group" [ngClass]="applyCssError(question, 'type')">
                <div class="col-xs-6">
                    <span>
                        <span matPrefix *ngIf="type.value === 'radio'"> 
                            <i class="fa fa-check-circle"></i>&nbsp;
                        </span>
                    <span matPrefix *ngIf="type.value === 'multiple'">
                            <i class="fa fa-check-square"></i>&nbsp;
                        </span>
                    <span matPrefix *ngIf="type.value === 'text'">
                            <i class="fa fa-align-left"></i>&nbsp;
                        </span>
                    <span matPrefix *ngIf="type.value === 'date'">
                            <i class="fa fa-calendar"></i>&nbsp;
                        </span>
                    </span>
                    <mat-form-field>
                        <mat-select placeholder="Tipo" #type formControlName="type" (changes)="ngOnChanges()" required>
                            <mat-option value="OBJECTIVE">
                                <span matPrefix> <i class="fa fa-check-circle"></i>&nbsp;</span> Múltipla Escolha
                            </mat-option>
                            <mat-option value="OBJECTIVE2">
                                <span matPrefix> <i class="fa fa-check-square"></i>&nbsp;</span> Caixa de Seleção
                            </mat-option>
                            <mat-option value="DISSERTATIVE">
                                <span matPrefix> <i class="fa fa-align-left"></i>&nbsp;</span> Parágrafo
                            </mat-option>
                            <mat-option value="DATE">
                                <span matPrefix> <i class="fa fa-calendar"></i>&nbsp;</span> Data
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <app-control-field-error [showError]="verifyValidSubmitted(question, 'type')" msgError="Selecione o tipo da pergunta">
                    </app-control-field-error>
                </div>
            </div>
            <div class="form-group" [ngClass]="applyCssError(question, 'value_type')">
                <div class="col-xs-6">
                    <mat-form-field>
                        <mat-select placeholder="Tipo de valor" formControlName="value_type" required>
                            <mat-option value="text">Texto</mat-option>
                            <mat-option value="date">Data</mat-option>
                            <mat-option value="number">Número</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <app-control-field-error [showError]="verifyValidSubmitted(question, 'value_type')" msgError="Selecione o tipo de valor">
                    </app-control-field-error>
                </div>
            </div>
            <div class="form-group" *ngIf="form.questions[i].type === 'OBJECTIVE' || form.questions[i].type === 'OBJECTIVE2'">
                <div class="col-xs-12">
                    <div class="panel-body">
                        <!-- <app-form-alternative [form]="form" [parentAlternative]="question"></app-form-alternative> -->
                        <div>
                            <div *ngFor="let alternative of question.controls.alternatives.controls; let a=index" class="panel panel-default">
                                <div class="panel-heading">
                                    <span>
                                        Opção {{a + 1}}
                                    </span>
                                    <span class="glyphicon glyphicon-remove pull-right" *ngIf="question.controls.alternatives.controls.length > 1" (click)="removeAlternative(question, i, a)">
                                        </span>
                                </div>
                                <div class="form-group" [ngClass]="applyCssErrorAlternatives(alternative.controls.description)">
                                    <div class="col-xs-6">
                                        <mat-form-field>
                                            <span matPrefix *ngIf="type === 'radio'"> 
                                                    <i class = "material-icons"> radio_button_unchecked </i>&nbsp;
                                                </span>
                                            <span matPrefix *ngIf="type === 'multiple'"> 
                                                    <i class = "material-icons"> check_box_outline_blank </i>&nbsp;
                                                </span>
                                            <input matInput placeholder="Descrição da opção" [formControl]="alternative.controls.description">
                                        </mat-form-field>
                                        <app-control-field-error [showError]="verifyValidSubmittedAlternatives(alternative.controls.description)" msgError="Digite a descrição da opção">
                                        </app-control-field-error>
                                    </div>
                                </div>
                                <div class="form-group" [ngClass]="applyCssErrorAlternatives(alternative.controls.value_type)">
                                    <div class="col-xs-6">
                                        <mat-form-field>
                                            <mat-select placeholder="Tipo de valor" [formControl]="alternative.controls.value_type">
                                                <mat-option value="text">Texto</mat-option>
                                                <mat-option value="date">Data</mat-option>
                                                <mat-option value="number">Número</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <app-control-field-error [showError]="verifyValidSubmittedAlternatives(alternative.controls.value_type)" msgError="Selecione o tipo de valor">
                                        </app-control-field-error>
                                    </div>
                                </div>
                            </div>
                            <div class="margin-20">
                                <a (click)="addAlternative(question, i)" class="pointer">
                                    <span matPrefix *ngIf="type.value === 'radio'"> 
                                        <i class = "material-icons"> radio_button_unchecked </i>&nbsp;
                                    </span>
                                    <span matPrefix *ngIf="type.value === 'multiple'">
                                        <i class = "material-icons"> check_box_outline_blank </i>&nbsp;
                                    </span> Adicionar Opção <img src="./assets/img/global/btn_addOptn.png" style="margin-left: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" *ngIf="type.value === 'text'">
                <div class="col-xs-12">
                    <div class="description-question"> Pergunta com resposta do tipo parágrafo
                        <i class="fa fa-align-left"></i>&nbsp;
                    </div>
                </div>
            </div>
            <div class="form-group" *ngIf="type.value === 'date'">
                <div class="col-xs-12">
                    <div class="description-question"> Pergunta com resposta do tipo Data: dia, mês, ano
                        <i class="fa fa-calendar"></i>&nbsp;
                    </div>
                </div>
            </div>
            <div class="text-right">
                <mat-slide-toggle formControlName="required" class="example-margin" color="primary" [checked]="required" [disabled]="required">
                    Obrigatório
                </mat-slide-toggle>
            </div>
            <div class="panel-footer question-footer" *ngIf="questions.controls.length > 1">
                <span (click)="removeQuestion(i)">
                    <i class="fa fa-trash"></i>
                </span>
            </div>
        </div>
        <div>
            <a (click)="addQuestion()" style="cursor: pointer">
                <img src="./assets/img/global/btn_addOptn.png" style="margin-right: 8px;">Adicionar Pergunta
            </a>
        </div>
    </div>
</div>