<simple-notifications></simple-notifications>
<!-- <button data-toggle="modal" data-target="#modal-default" id="openModalButton">Open Modal</button> -->
<!-- <button data-toggle="modal" data-target="#modal-cancel" id="openModalCancel">Open Modal</button> -->
<div class="content_">
    <div class="content-top">
        <div class="content_fa"> <i class="fa fa-users"></i> Família > Registro</div>
    </div>

    <section class="content_user">
        <div class="content-header ">
            <h5 class="content-title">REGISTRO DE FAMÍLIA</h5>
        </div>
        <!-- <form name="form" (ngSubmit)="f.form.valid && saveData()" #f="ngForm" novalidate> -->
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li>
                    <!-- <a class="tab-pane active" (click)="walk(0)" href="#tab_1" data-toggle="tab"> -->
                    <img src="{{ infoTab }}" />
                    <!-- </a>               -->
                </li>
                <li>
                    <!-- <a class="tab-pane" (click)="walk(1)" href="#tab_2" data-toggle="tab"> -->
                    <img src="{{ dataTab }}" />
                    <!-- </a>                -->
                </li>
                <li>
                    <!-- <a class="tab-pane" (click)="walk(2)" href="#tab_3" data-toggle="tab"> -->
                    <img src="{{ servicesTab }}" />
                    <!-- </a> -->
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="content">
                        <section class="content">
                            <div class="box-header_1 with-border">
                                <h5 class="box-title"> Informações da Família
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form name="form" (ngSubmit)="save(1,f1.valid)" id="f_1" #f1="ngForm" novalidate>
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, responsibleCommunity)">
                                                            <label class="control-label">Comunidade</label>
                                                            <select class="form-control" #responsibleCommunity="ngModel" name="responsibleCommunity" [(ngModel)]="responsible?.community.id" id="responsible_community" required>
                                                              <option [value]="item.id" *ngFor="let item of communities"> {{ item.name }}</option>
                                                            </select>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, responsibleCommunity)" msgError="Selecione uma comunidade">
                                                            </app-control-field-error>
                                                        </div>
                                                        <div class="feedback-spinner" *ngIf="!hasCommunities">
                                                            <i class="fa fa-spinner fa-pulse"></i>
                                                            <span class="feedback-message">Carregando comunidades...</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, agent)">
                                                            <label class="control-label">Agente</label>
                                                            <select class="form-control" #agent="ngModel" name="agent" [(ngModel)]="responsible.agent?.person.agent.id" id="agent_id" required>
                                                                <option [value]="item.person?.agent?.id" *ngFor="let item of agents"> {{ item.name }}</option>
                                                            </select>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, agent)" msgError="Selecione um agente ">
                                                            </app-control-field-error>
                                                        </div>
                                                        <div class="feedback-spinner" *ngIf="!hasAgents">
                                                            <i class="fa fa-spinner fa-pulse"></i>
                                                            <span class="feedback-message">Carregando agentes...</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group" [ngClass]="applyCssError(f1, nameResponsible)">
                                                            <label class="control-label">Nome da Família</label>
                                                            <input type="text" #nameResponsible="ngModel" name="name_responsible" pattern="[\w,./_=?-].*" maxlength="60" [(ngModel)]="responsible.name" id="name_responsible" class="form-control" placeholder="Nome completo do responsável" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f1, nameResponsible)" [field]="nameResponsible" msgError="Digite um nome para o responsável">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-control">
                                            <div class="control">
                                                <a href="{{previousTab}}" data-toggle="tab" (click)="isActive(false, 1, 0)" id="btn_previous">
                                                    <img src="./assets/img/global/ic_previous.png" />
                                                    <b>Anterior</b>
                                                </a>
                                                <a href="{{nextTab}}" data-toggle="tab" (click)="isActive(true, 1)" id="btn_next">
                                                    <b>Próximo</b>
                                                    <img src="./assets/img/global/ic_next.png" />
                                                </a>
                                                <button type="submit" id="btn_tab1"></button>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <button class="btn btn-default btn-block" type="button" (click)="openModal()" id="btn_return1"> Cancelar</button>
                                            </div>
                                        </div> -->
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <div class="content">
                        <section class="content">
                            <div class="box-header_1 with-border">
                                <h5 class="box-title"> Dados Socioeconômicos
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form name="form" (ngSubmit)="save(2,f2.valid)" #f2="ngForm" novalidate>
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, childrenCount)">
                                                            <label class="control-label">Há quantas crianças na família?</label>
                                                            <input type="number" #childrenCount="ngModel" name="number_children" [(ngModel)]="responsible.children_count" mask="0000000000" id="number_children" class="form-control" placeholder="No de filhos" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, childrenCount)" msgError="Digite o número de crianças">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, habitationType)">
                                                            <label class="control-label">Tipo de moradia?</label>
                                                            <select class="form-control" #habitationType="ngModel" name="habitationType" [(ngModel)]="responsible.habitation_type" id="habitationType" required>
                                                              <option value="OWNED">Própria</option>
                                                              <option value="LEASED">Alugada</option>
                                                              <option value="CEDED">Cedida</option>
                                                              <option value="SHARED">Compartilhada</option>
                                                            </select>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, habitationType)" msgError="Selecione o tipo de moradia">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                </div>
                                                <div class="row">
                                                    <!-- <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, liveWith)">
                                                            <label class="control-label">Com quem mora atualmente?</label>
                                                            <select class="form-control" #liveWith="ngModel" name="liveWith" [(ngModel)]="responsible.live_with" id="liveWith" required>
                                                              <option value="COM PAIS E/OU PARENTES">Com seus pais ou/e parentes</option>
                                                              <option value="COM ESPOSO E FILHOS">Com esposo e filhos</option>
                                                              <option value="COM AMIGOS">Com amigos</option>
                                                              <option value="SOZINHA"> Sozinho</option>
                                                            </select>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, liveWith)" msgError="Selecione com quem mora atualmente">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div> -->
                                                    <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, habitationMembersCount)">
                                                            <label class="control-label">Quantas pessoas moram em sua casa (incluindo você)?</label>
                                                            <input [type]="number" class="form-control" mask="000000000" #habitationMembersCount="ngModel" name="habitationMembersCount" id="habitationMembersCount" [(ngModel)]="responsible.habitation_members_count" required>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, habitationMembersCount)" msgError="Digite quantas pessoas moram em sua casa">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Qual(is) a(s) principal(is) fonte(s) de renda da família?</label> <br/>
                                                            <label class="checkbox" *ngFor="let item of family_income">                          
                                                                <input type="checkbox" name="family_income"
                                                                id="family_income"
                                                                [value]="item.type"
                                                                [checked]="item.checked"
                                                                (change)="verifyCheckbox($event)" required>
                                                                {{ item.type }} 
                                                            </label>
                                                            <!-- <select class="form-control" #familyIncome="ngModel" name="familyIncome" [(ngModel)]="responsible.family_income" id="familyIncome" required>
                                                                    <option [value]="item" *ngFor="let item of family_income">{{ item }}</option>
                                                                </select> -->
                                                            <!-- <app-control-field-error [showError]="verifyValidSubmitted(f2, familyIncome)" msgError="Selecione uma principal fonte de renda">
                                                            </app-control-field-error> -->
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col" [ngClass]="applyCssError(f2, familyIncomeOther)" *ngIf="isIcome_other">
                                                                <input class="form-control" #familyIncomeOther="ngModel" name="familyIncomeOther" placeholder="Especifique a fonte de renda" [(ngModel)]="responsible.family_income_other" id="familyIncomeOther" required>
                                                                <app-control-field-error [showError]="verifyValidSubmitted(f2, familyIncomeOther)" msgError="Especifique a fonte de renda">
                                                                </app-control-field-error>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <!-- <div class="col-sm-6">
                                                        <div class="form-group" [ngClass]="applyCssError(f2, incomeParticipation)">
                                                            <label class="control-label">Qual é a sua participação na vida econômica do seu grupo familiar? </label>
                                                            <select class="form-control" #incomeParticipation="ngModel" name="incomeParticipation" [(ngModel)]="responsible.income_participation" id="incomeParticipation" required>
                                                                <option [value]="item | uppercase" *ngFor="let item of income_participation"> {{ item }}</option>
                                                            </select>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f2, incomeParticipation)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div> -->
                                                    <div class="col-sm-6">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-control">
                                            <div class="control">
                                                <a href="{{previousTab}}" data-toggle="tab" (click)="isActive(false, 2, 0)" id="btn_previous">
                                                    <img src="./assets/img/global/ic_previous.png" />
                                                    <b>Anterior</b>
                                                </a>
                                                <a href="{{nextTab}}" data-toggle="tab" (click)="isActive(true, 2)" id="btn_next">
                                                    <b>Próximo</b>
                                                    <img src="./assets/img/global/ic_next.png" />
                                                </a>
                                                <button type="submit" id="btn_tab2"></button>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <button class="btn btn-default btn-block" type="button" (click)="openModal()" id="btn_return2"> Cancelar</button>
                                            </div>
                                        </div> -->
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_3">
                    <div class="content">
                        <section class="content">
                            <div class="box-header_1 with-border">
                                <h5 class="box-title"> Serviços
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form name="form" (ngSubmit)="saveData(f1.valid, f2.valid, f3.valid) && save(3, f3.valid)" #f3="ngForm" novalidate>
                                        <div class="box box-primary">
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group" [ngClass]="applyCssError(f3, hasHospitalNearby)">
                                                            <label class="control-label">Há unidade básica na comunidade ou próximo de onde reside?</label> <br/>
                                                            <label class="radio-inline">                          
                                                              <input type="radio" #hasHospitalNearby="ngModel" [(ngModel)]="responsible.has_hospital_nearby" name="hasHospitalNearby" id="hasHospitalNearby" [value]="true" required>
                                                              Sim
                                                            </label>
                                                            <label class="radio-inline"> 
                                                              <input type="radio" #hasHospitalNearby="ngModel" [(ngModel)]="responsible.has_hospital_nearby" name="hasHospitalNearby" id="hasHospitalNearby" [value]="false" required>
                                                              Não
                                                            </label>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f3, hasHospitalNearby)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group" [ngClass]="applyCssError(f3, hasSanitation)">
                                                            <label class="control-label">Na comunidade há sanemaneto básico? </label> <br/>
                                                            <label class="radio-inline">                          
                                                              <input type="radio" #hasSanitation="ngModel" [(ngModel)]="responsible.has_sanitation" name="hasSanitation" id="hasSanitation" [value]="true" required>
                                                              Sim
                                                            </label>
                                                            <label class="radio-inline">
                                                              <input type="radio" #hasSanitation="ngModel" [(ngModel)]="responsible.has_sanitation" name="hasSanitation" id="hasSanitation" [value]="false" required>
                                                              Não
                                                            </label>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f3, hasSanitation)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group" [ngClass]="applyCssError(f3, hasWaterTreatment)">
                                                            <label class="control-label">A água é encanada?</label> <br/>
                                                            <label class="radio-inline">                          
                                                              <input type="radio" #hasWaterTreatment="ngModel" [(ngModel)]="responsible.has_water_treatment" name="hasWaterTreatment" id="hasWaterTreatment" [value]="true" required>
                                                              Sim
                                                            </label>
                                                            <label class="radio-inline">
                                                              <input type="radio" #hasWaterTreatment="ngModel" [(ngModel)]="responsible.has_water_treatment" name="hasWaterTreatment" id="hasWaterTreatment" [value]="false" required>
                                                              Não
                                                            </label>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f3, hasWaterTreatment)" msgError="Escolha uma das alternativas">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group" [ngClass]="applyCssError(f3, treatmentWaterDrink)">
                                                            <label class="control-label">A água utilizada para beber recebe algum tratamento?</label> <br/>
                                                            <label class="radio-inline">                          
                                                              <input type="radio" #treatmentWaterDrink="ngModel" [(ngModel)]="responsible.drinking_water_treatment" name="treatmentWaterDrink" id="treatmentWaterDrink" [value]="true" required>
                                                              Sim
                                                            </label>
                                                            <label class="radio-inline">
                                                              <input type="radio" #treatmentWaterDrink="ngModel" [(ngModel)]="responsible.drinking_water_treatment" name="treatmentWaterDrink" id="treatmentWaterDrink" [value]="false" required>
                                                              Não
                                                            </label>
                                                            <div class="form-group" [ngClass]="applyCssError(f3, treatmentWater)" *ngIf="responsible.drinking_water_treatment">
                                                                <label class="control-label"> Qual?</label>
                                                                <input class="form-control" #treatmentWater="ngModel" [(ngModel)]="responsible.water_treatment_description" name="treatmentWater" id="treatmentWater" placeholder="Especifique o tratamento" required>
                                                                <app-control-field-error [showError]="verifyValidSubmitted(f3, treatmentWater)" msgError="Especifique o tratamento">
                                                                </app-control-field-error>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group" [ngClass]="applyCssError(f3, observations)">
                                                            <label class="control-label">Observações gerais</label> <br/>
                                                            <textarea class="form-control" rows="5" name="generalObservations" maxlength="200" pattern="[\w,./_=?-].*" #observations="ngModel" [(ngModel)]="responsible.observations" id="generalObservations"></textarea>
                                                            <app-control-field-error [showError]="verifyValidSubmitted(f3, observations)" [field]="observations" msgError="Especifique o tratamento">
                                                            </app-control-field-error>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-control">
                                            <div class="control">
                                                <a href="{{previousTab}}" data-toggle="tab" (click)="isActive(false, 3, 0)" id="btn_previous">
                                                    <img src="./assets/img/global/ic_previous.png" />
                                                    <b>Anterior</b>
                                                </a>
                                                <button type="submit" id="btn_tab3"></button>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <button class="btn btn-default btn-block" type="button" (click)="openModal()" id="btn_return3"> Cancelar</button>
                                            </div>
                                        </div> -->
                                        <div class="col-md-12">
                                            <div class="form-group save">
                                                <button class="btn btn-primary btn-block" (click)="isSave()" name="submit" id="btn_save" [disabled]="!enable_save" *ngIf="isNewData && canCreate">Cadastrar</button>
                                                <button class="btn btn-primary btn-block" (click)="isSave()" name="submit" id="btn_save" [disabled]="!enable_save" *ngIf="!isNewData && canUpdate">Salvar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="row footer">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="button" class="btn btn-default btn-block" (click)="onCancel()" id="btn_return3">
                                <span *ngIf="isNewData">Cancelar</span>   <span *ngIf="!isNewData">Voltar</span> 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- </form> -->
    </section>
</div>

<app-modal></app-modal>

<!-- Modal Add -->
<!-- <div class="modal fade" id="modal-default" (click)='backToList()'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content" [ngStyle]="object">
            <div class="modal-body">
                <div class="modal-icon">
                    <i class="material-icons" style="font-size: 60px;">done</i>
                </div>
                <h5> Cadastro realizado com Sucesso!</h5>
            </div>
            <div class="modal-footer" data-dismiss="modal" id="btn_confirm" (click)='backToList()'>
                <label>Fechar</label>
            </div>
        </div> -->
<!-- /.modal-content -->
<!-- </div> -->
<!-- /.modal-dialog -->
<!-- </div> -->
<!-- /.modal -->